body{
	font-family: Microsoft Yahei;
}
.page .bar{
	background-color: #c12322;
}
.page .bar-nav .fa,.page .bar-nav .title{
	color: #fff;
}
.page .bar-tab .tab-item{
	display: block;
	float: left;
	background: #3c3c3c;
	text-align: left;
}
.page .bar-tab .tab-item .footer-carplus{
	position: relative;
	display: inline-block;
	float: left;
	width: 50px;
	height: 50px;
	line-height: 70px;
	padding-left: 10px;
	color: #fff;
}
.page .bar-tab .tab-item .money{
	line-height: 50px;
	padding-left: 20px;
	color: #fff;
}
.page .bar-tab .tab-item .footer-carplus .fa{
	font-size: 26px;
}
.page .bar-tab .tab-item .footer-carplus .num{
    position: absolute;
    top: 2px;
    left: 28px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    background: #ff0054;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    padding: 0 7px;
}
.page .bar-tab .tab-item.footer-left{
	width: 70%;
}
.page .bar-tab .tab-item.footer-right{
	width: 30%;
	background:#ff0054;
	color: #fff;
    text-align: center;
    line-height: 50px;
}
.wrapper{
	position: absolute;
    left: 0;
    top: 0;
	width: 25%;
    bottom: 51px;
    overflow: hidden;
	background: #f7f7f7;
}
#sorts{
	position: absolute;
	right:0;
	top: 0;
	bottom: 51px;
	overflow: hidden;
}
.goods-name .name-text {
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #525252;
    list-style: none;
    border-bottom: 1px solid #d3d3d4;
    border-right: 1px solid #eaeaeb;
}
.goods-name .current {
    color: #ff0054;
}
.contain{
	width: 75%;
	float: right;
}
.contain .list{
	display: -webkit-box;
	-webkit-box-flex: 1;
	height: 88px;
	margin: 19px 10px 0 5px;
	border-bottom: 1px solid #ebebeb;
}
.contain .list .pic{
	width: 65px;
	height: 65px;
}
.contain .list .list-contain{
	-webkit-box-flex: 1;
	padding-left: 5px;
}
.contain .list .list-contain .list-title{
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.contain .list .list-contain .list-price{
	display:block;
	padding: 3px 0;
	color: #fe0154;
	font-size: 14px;
}
.contain .list .list-contain .btn{
	padding: 3px 8px;
	margin-top: 4px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-size: 12px;
}
.contain .list .list-contain .btn.current{
	border-color:#ff0054;
}
.contain .list .list-contain .spinner{
	float: right;
	border: none;
}
.list-contain .spinner a{
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	border: 1px solid #ebebeb;
	color: #fe0154;
	font-size: 20px;
	background:#fff;
}
.list-contain .spinner input{
	width: 25px;
	height:25px;
	line-height: 25px;
	border: 0;
}
.layer{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom:0;
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	background: #555;
	opacity: 0.9;
	z-index: 100;
}
.layer .layer-content{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #fff;
	padding: 10px;
}
.layer-ct-body .fa{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	color: #999;
}
.layer-ct-body .title{
	color: #000;
	padding: 10px 0;
}
.layer-ct-body .message{
	padding-bottom: 20px;
	font-size: 12px;
	color: #cbcbcb;
}
.layer-ct-body .btns{
	padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.layer-ct-body .btns span{
	padding-right: 5px;
	color:#000;
}
.layer-ct-body .btns a.btn{
	-webkit-border-radius: 10px;
	border-radius: 10px;
    padding: 3px 10px;
	margin-right: 5px;
}
.layer-ct-body .btns a.btn.current{
	border-color: #ff0055;
}
.layer-ct-footer{
	margin-top: 10px;
}
.layer-ct-footer span{
	color: #ff0055;
}
.layer-ct-footer .btn{
	float: right;
	background: #ff0055;
	color: #fff;
}
.systitle{
	padding: 10px 10px 0 10px;
}