html, body {
    background: #f0f0f0;
}

.prompt-message {
    border: 2px solid #393A3F;
    background: #fff;
    padding: 0 0 5px;
    position: absolute;
    width: 100%;
}

.prompt-message .arrow {
    position: absolute;
    top: 2px;
    right: 15px;
    width: 30px;
    height: 25px;
    background: url("images/arrow.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.prompt-message p {
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    padding: 0 5px;
}

.prompt-message p:last-child {
    background: #D5EBF6;
}

.prompt-message p span {
    color: #FF0054;
}

.click-download {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
}

.click-download .title {
    color: #FF0054;
    padding: 10% 0 65%;
    background: url("images/bg.png") no-repeat 0 70%;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    text-align: center;
}

.click-download .title h1, .click-download .title h3 {
    margin: 0;
    letter-spacing: 1px;
}

.click-download .title h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

.download-btn {
    text-align: center;
}

.download-btn .btn {
    width: 75%;
    color: #fff;
    border-radius: 5px;
}

.download-btn .download {
    background-color: #2C9445;
    margin-bottom: 20px;
}

.download-btn .preview {
    background-color: #FF0054;
}

.download-btn .btn i {
    padding-right: 5px;
}