/* 店铺*/
.u-favorite-shop{
    position: relative;
    display: table;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.u-favorite-shop:last-child{
    border: none;
}
.u-favorite-shop .item-photo,.u-favorite-shop .item-info{
    display: table-cell;
}
.u-favorite-shop .item-photo{
    width: 80px;
    padding: 6px;
}
.u-favorite-shop .item-photo img{
    width: 60px;
    height: 60px;
}

.u-favorite-shop .item-info{
    width: 2000px;
    vertical-align: middle;
}
.u-favorite-shop .item-info .title{
    line-height: 1.4;
    margin-right: 50px;
}
.u-favorite-shop .item-info .sel{
    display: none;
}
.u-favorite-edit .item-info .sel{
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    float: right;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-right: 10px;
    color: #ddd;
    line-height: 30px;
    text-align: center;
    font-size: .8rem;
}
.u-favorite-edit.selected .item-info .sel{
    border: 1px solid #f30053;
    background-color: #FF0054;
    color: #fff;
}
/*商品*/
.bar .total {
	max-width: 500px;
	margin:auto;
}
.u-favorite-goods{
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    
    padding: 6px;
    overflow: hidden;
}
.u-favorite-goods .item{
    width: 49.7%;
    padding-bottom: 10px;
    float: left;
    margin-bottom:5px;
}
.u-favorite-goods .item:nth-child(odd){
    background-color: #fff;
}
.u-favorite-goods .item:nth-child(even){
    background-color: white;
    float: right;
}
.u-favorite-goods .item .item-photo {
	position: relative;
	width: 100%;
}
.u-favorite-goods .item .item-photo  img{
	width: 100%;
}
.u-favorite-goods .sel{
    display: none;
}
.u-favorite-goods .u-favorite-edit .sel {
	position: absolute;
    top: 20px;
    left: 10px;
    display: block;
    float: right;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-right: 10px;
    color: #ddd;
    line-height: 30px;
    text-align: center;
    font-size: .8rem;
}
.u-favorite-edit.selected  .sel{
    border: 1px solid #f30053;
    background-color: #FF0054;
    color: #fff;
}
.u-favorite-goods .item .item-photo .shadow {
	position: absolute;
	bottom: 3px;
	left: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color:rgba(0,0,0,.4);
	padding-left: 5px;
	margin: 0;
	color: #fff;
	font-size:.8rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}
.u-favorite-goods .item .item-photo .sale {
	position: absolute;
	bottom: 3px;
	left: 0;
	width: 100%;
	height: 40px;	
}
.u-favorite-goods .item .item-info {
	height:3.1rem;
	font-size: .8rem;
	line-height: 1.2;
	padding: 10px 5px;
	color:#050505;
}
.u-favorite-goods .item .item-buying .price {
	vertical-align: top;
	float: left;
}
.u-favorite-goods .item .item-buying .price {
	padding-left:5px;
}
.u-favorite-goods .item .item-buying .price > span {
	font-size:.8rem;
	white-space: nowrap;
	color:#ff0054;
}
.u-favorite-goods .item .item-buying .price .present{
	font-weight:bold;
}
.u-favorite-goods .item .item-buying .price .prime {
	text-decoration:line-through;
	color:#696969;
	font-size:.75rem;
}
.u-favorite-goods .item .item-buying .operation {
	float:right;
	padding-right:5px;
	margin-top:-3px;
}
.u-favorite-goods .item .item-buying .operation .crowd-funding {
	padding:3px 6px;
	margin-bottom:3px;
	text-align:center;
	background-color:#060606;
	color:#fff;
	border:1px solid #000;
	border-radius:0;
}





