body{
    background: #f0f2f5;
}
.invoiceWrap{
    width: 100%;
    max-width: 500px;
    margin:0 auto;
    font-family: "Microsoft YaHei";
    padding-bottom: 80px;
}
.invoiceWrap .notice{
    padding:0;
    margin:0 10px;
}
.invoiceWrap .table-view{
    background: #f0f2f5;
}
.table-view .table-view-cell{
    background: #fff;
    border-color:#e3e5e9;
    padding-top:15px;
}
.table-view .table-view-cell{
    margin-bottom: 10px;
    border-top: 1px solid #e3e5e9;
}
.table-view h4{
    margin: 0;
    padding:0;
    font-size: 14px;
    color: #232326;
    font-weight: normal;
}
.table-view .invoice-type {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    margin-top: 10px;
}
.invoice-type > input[type=radio] {
    display: none;
}
.form-group .name{
    width: 85px;
}
.invoice-type > input:checked + div {
    border-color: #ff0054;
    color: #ff0054;
}
.invoice-type > input:disabled + div{
    color: #c8c8c9;
}
.invoice-type > div {
    width: 100%;
    height: 100%;
    padding: 6px 10px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    font-size: 12px;
    color: #232326;
}
.table-view .form-group{
    padding:0;
}
.table-view .spa .form-group .single{
    float: none;
    min-height: 35px;
}
.label-check, .label-radio{
    min-height: 35px;
}
.table-view .table-view-cell:nth-child(1){
    border-top: 0;
}
.table-view .table-view-cell:nth-child(3) .form-group:nth-child(2){
    border-bottom: 1px solid #e3e5e9;
}
.table-view .table-view-cell:nth-child(3) .form-group label{
    color: #686868;
}
.table-view .table-view-cell:nth-child(3) h4{
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e5e9;
}
.table-view .inp .form-group .form-control{
    display: block;
    border:0;
    clear: both;
    background: #f0f2f5;
}
.table-view .info{
    padding-bottom: 0;
}
.table-view .form-group .form-control{
    border: none;
}
.table-view .inp .form-group input{
    background: #f0f2f5;
    border-radius: 5px;
}
.table-view .spa{
    border-bottom: 1px solid #e3e5e9;
}
.table-view .spa span{
    color: #949698;
    display: inline-block;
    font-size: 14px;
    padding-top: 8px;
}
.table-view .spa h4{
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e5e9;
}
.label-check input[type=checkbox]:checked+.item-media i,
.label-radio input[type=radio]:checked+.item-media i{
    background:  rgb(255, 0, 84);
}
.label-check .item-inner, .label-radio .item-inner{
    margin-left:10px;
}
.form-group .single{
    margin-right:15px;
}
.rightBtn a{
    padding:10px 0;
    color: #fff;
    background-color: #f30053;
}
.rightBtn a.disabled{
   background-color: #ccc;
    color:#000 ;
}
.rightBtn{
    position: fixed;
    width: 50%;
    bottom: 10px;
    left: 25%;
}