.u-panicbuying-list{
    display: block;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    color: #000000;
}
.u-panicbuying-list .panicbuying-photo,.u-panicbuying-list .panicbuying-info{
    padding: 0 3px;
    display: table-cell;
    vertical-align: top;
}
.u-panicbuying-list .panicbuying-info{
    width: 2000px;
}
.u-panicbuying-list .panicbuying-info .panicbuying-name{
    font-size: 1rem;
    line-height: 1.2;
    height: 2.2rem;
    margin-bottom: 7px;
}
.u-panicbuying-list .panicbuying-info .panicbuying-price .price,.u-panicbuying-list .panicbuying-info .panicbuying-price .operating{
    vertical-align: bottom;
    display: table-cell;
}
.u-panicbuying-list .panicbuying-info .panicbuying-price .operating{
    width: 2000px;
}
.u-panicbuying-list .panicbuying-info .panicbuying-price .operating > .btn{
    margin-top: 4px;
}
.u-panicbuying-list .panicbuying-info .panicbuying-price .price > span{
	margin: 0;
    color: #FF0054;
    font-size: .6rem;
    line-height: 1;
    white-space: nowrap;
}
.u-panicbuying-list .panicbuying-info .panicbuying-price .price .prime {
    color: #000;
    padding-left: 2px;
}
.u-panicbuying-list .panicbuying-info .panicbuying-price .price .prime > i {
	display: inline-block;
	width: 21px;
	height: 11px;
	line-height: 10px;
	text-align: center;
	border:1px solid #c6c6c8;
	font-size:.5rem;
	font-style: normal;
}
.u-panicbuying-list .panicbuying-info .panicbuying-price .price .present {
	margin-bottom: 7px;
	font-size: 1rem;
}
