.pick-up-address {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Microsoft YaHei';
    /* margin-top:54px; */
}
.u-current-place {
    width: 100%;
    padding: 5px 10px;
    background-color: #ffffcd;
    font-size: .8rem;
}
.u-current-place>i {
    margin-right: 5px;
    font-size: 1rem;
    color: #e43c64;
}
.u-table-view, .u-table-view li,.u-table-view h4, .u-table-view p {
    padding: 0;
    margin: 0;
    list-style: none;
}
.u-table-view {
    /* border-top: 1px solid #cbcbcb; */
}
.u-table-view li {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #cbcbcb;
    font-size: .8rem;
    box-sizing: border-box;
    padding-left: 35px;
}
.u-table-view li.active {
    background-color: #f2f2f2;
}
.u-table-view li .current-place {
    font-size: 1.5rem;
    color: #e43c64;
    margin-top: 6px;
}
.u-table-view li h4 {
    margin-bottom: 5px;
}
