body{
    color: #000;
    background-color: rgb(244,244,244);
    font-size:12px;
    font-family: "Microsoft YaHei";
    width: 100%;
    max-width: 500px;
    margin:0 auto;
}
.content {
    overflow: auto;
    background-color: rgb(244,244,244);
}
.bar-tab ~ .content {
    padding-bottom: 94px;
}
/*�˻���ʾ*/
.return-tips{
    padding: 8px 15px;
    line-height: 1.5;
    color: #fff;
    font-size: 11px;
    background-color:rgb(66,72,85);
}
/*������Ϣ*/
.delivery{
    line-height: 45px;
    background: #fff;
    border-top:1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    margin-top:15px;
}
.delivery span{
    float: left;
    margin-left:10px;
}
.delivery p{
    float: left;
    margin:0;
    margin-left:10px;
}
.delivery p>a{
    padding:8px 24px;
    color: #333333;
    margin-right:10px;
    margin-top:8px;
    border-color: #878787;
}
.delivery p>a.current{
    border-color: #ff0054;
    color: #ff0054;
}
.delivery-info{
    background-color: #fff;
}
.delivery-info .table-view li{
    padding:0;
}
.delivery-info .table-view li a{
    display: table;
    margin-right:10px;
    position: relative;
}
.delivery-info .navigate-right:after{
    color: #666666 !important;
}
.delivery-info .table-view li a>span{
    display: table-cell;
    font-size: .8rem;
    color: #333333;
    width: 65px;
}
.delivery-info .table-view li a .address{
    width: 100%;
    padding-left:5px;
}
.delivery-info .table-view li a .address>p{
    margin:0;
    line-height: 1.4;
    color: #333333;

}
.delivery-info .table-view li a .address>p:nth-child(2){
    font-size: 12px;
    color: #666666;
}
.delivery-info .table-view li:nth-child(1) a{
    padding:13px 10px;
}
.delivery-info .form-group .name{
    padding:0;
    color: #333333;
    width: 65px;
}
.delivery-info .table-view-cell>a:not(.btn){
    padding:15px 15px 13px 10px;
}
.delivery .btn.active, .btn:active{
    background: #fff;
}
.delivery-info .info{
    margin:5px 0;
}
.delivery-info .info>p{
    margin:0;
    line-height: 1.5;
}
.delivery-info .info>p:nth-child(1){
    font-size: 12px;
    color: #101010;
}
.delivery-info .info>p:nth-child(1)>span{
    margin-right:10px;
}
.dw-persp, .dwo{
    left:inherit !important;
    max-width: 500px !important;
}
.delivery-info .table-view-cell:last-child{
    position: relative;
}
.delivery-info .table-view-cell:last-child #demo_treelist_dummy{
    position: absolute;
    left:65px;
    opacity: 0;
}
/*???*/
.bar .pay-cancal {
    background-color: #393939;
}
.bar .pay-cancal, .bar .pay-submit {
    font-size: 1rem;
    color: #fff;
}
.h4 {
    font-size: 18px;
}
.f-m-l10 {
    margin-left: 10px;
}
.bar .pay-submit {
    background-color: #e95045;
}
/*??????*/
.myorder-detail>.table-view:first-child {
    margin-top: 15px;
    border-bottom:1px solid #ddd;
}
.myorder-detail>.table-view{
    border-top:1px solid #ddd;
}
.table-view-cell:last-child {
    border-bottom:1px solid #ddd;
}
.myorder-detail .navigate-right:after{
    color:#bbb;
}
.table-view-cell{
    padding:0;
}
.table-view-cell>a:not(.btn) {
    position: relative;
    display: block;
    padding: inherit;
    margin: -13px -65px -11px -15px;
    overflow: hidden;
    color: inherit;
}
.delivery-info .address-wrap{
    display:-webkit-box;
    display:-webkit-flex;
    display: flex;
    margin-top: 15px;
}
.delivery-info .address-wrap .pic{
    width: 22px;
    height: 22px;
    margin-left: -4px;
}
.delivery-info .address-wrap .angle-right{
    margin-left: 8px;
    margin-top: 3px;
    width: 7px;
    height: 14px;
}
.delivery-info .address-wrap .address-detail{
    -webkit-flex: 1;
    flex: 1;
    font-size: 13px;
    color: rgb(102,102,102);
}
.delivery-info .user-info{
    display:-webkit-box;
    display:-webkit-flex;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 15px;
    color: #333;
}
.delivery-info .user-info .spusername{
    -webkit-flex: 1;
    flex: 1;
}
.btn-primary {
    color: #fff;
    background-color: #ff0054;
    border: 1px solid #ff0054;
}
.table-view-cell>span{
    line-height:22px;
}
.table-view>div{
    padding:10px;
    background-color: #fff;
}
.myorder-detail .tabel{
    border-top:none;
}
.table-view .media, .table-view .media-body {
    width: auto;
    overflow: hidden;
}
.f-heightlight {
    color: #e95045;
}
.f-mail {
    display: block;
    -webkit-border-image: url(/Content/Mobile/mail_plus.png) 0 5 13 0 round;
    border-bottom: 2px solid;
    padding: 15px;
}
.contactOwner {
    color: #14B4E4;
}
.contactOwner:before {
    font-size: 1rem;
    margin-right: 3px;
}
.table-view .product {
    line-height: 1.3;
}
.f-double-row {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    word-break: break-all;
}
.full-cell>a:not(.btn) {
    margin: -11px -10px -11px -15px;
}
.table-view .media-object.pull-left {
    margin-right: 10px;
}
.table-view .summary{
    position: absolute;
    bottom: 10px;
    font-size:.8em;
}
.table-view .price {
    position: absolute;
    bottom: 21px;
    left: 80px;
    text-align: left;
    font-size: 14px;
}
.table-view-cell .navigate-right>.badge{
    right:85px;
}
.status-list{
    margin-top: 10px;
    argin-left: 80px;
}
.badge2 {
    display: inline-block;
    padding: 2px 9px 3px;
    font-size: 12px;
    line-height: 1;
    color: #333;
    background-color: rgba(0,0,0,.15);
    border-radius: 3px;
}
.badge-negative {
    color: #666;
    background-color: #fff;
    font-family: 'Microsoft Yahei';
}
.badge2.badge-inverted {
    padding: 0 5px 0 0;
    background-color: transparent;
    font-family: 'Microsoft Yahei';
}
.toggle {
    position: relative;
    display: block;
    width: 74px;
    height: 30px;
    background-color: #efefef;
    border: 2px solid #efefef;
    box-shadow: 0 0 0 1px #bdbdbd;
}
.toggle:before {
    position: absolute;
    top: 3px;
    right: 11px;
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
    content: "Off";
}
.toggle .toggle-handle {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 2;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #ddd;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#f4f4f4));
    background-image: -webkit-linear-gradient(top,#fff,#f4f4f4);
    background-image: -moz-linear-gradient(top,#fff,#f4f4f4);
    background-image: -ms-linear-gradient(top,#fff,#f4f4f4);
    background-image: -o-linear-gradient(top,#fff,#f4f4f4);
    background-image: linear-gradient(top,#fff,#f4f4f4);
}
.serve{
    line-height:21px;
}
.f-border-dashed .btn{
    border:none;
    border-bottom: 1px solid #ddd;
    padding: 0 15px;
    margin-bottom: 15px;
}
.f-m-a0 {
    margin: 0;
}
.f-txt-ac {
    text-align: center;
    font-size: 14px;
}
.f-border-dashed {
    border-style: dashed;
}
.f-border-1 {
    border-width: 1px;
}
.f-b-color1 {
    border-color: #d3d3d3;
}
.f-radius-2 {
    border-radius: 2px;
}
.f-p-a10 {
    padding: 10px;
}

.table-view .table-view-cell .spanCouponAmount{
   padding-right: 20px;
}
.shopCartItem .media-body .tags,.media-body .tags{
    margin-top:5px;
}
.shopCartItem .media-body .tags .tag,.media-body .tags .tag{
    margin-right: 5px;
    padding: 0 3px;
    color: #f5343e;
    font-size: 11px;
    border: 1px solid #f5343e;
}
.shopCartItem .media-body .price{
    position: relative;
    bottom: unset;
    left: unset;
    right: unset;
    margin-top: 5px;
    display:-webkit-box;
    display:-webkit-flex;
    display: flex;
    align-items:center;
    font-size: 14px;
    color: #333;
}
.shopCartItem .media-body .price>span{
    font-family: 'Microsoft Yahei';
}
.shopCartItem .media-body .price>span:last-child{
    -webkit-flex: 1;
    flex:1;
    text-align: right;
    font-size: 14px;
    color: #333;
}

.shop-info-list{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin: 0 15px;
    padding: 10px 0!important;
    border-bottom: 1px solid #e8e8e8;
}
.shop-info-list .shop-info-list-title{
    -webkit-flex: 1;
    flex: 1;
    min-width: 60px;
    font-size: 13px;
    color: #666;
}
.shop-info-list.telphone{
    padding: 4px!important;
}
.shop-info-list.telphone .shop-info-list-title{
    -webkit-flex:unset;
    flex: unset;
}
.shop-info-list.telphone .shop-info-list-title>span{
    margin-top: 6px;
    position: relative;
    top: 8px;
}
.shop-info-list.telphone .shop-info-list-title .icon{
    float: right;
    width: 35px;
    height: 35px;
    margin-left: 5px;
    cursor: pointer;
}
.shop-info-list .shop-info-list-text .red{
   color:#dc2828;
}
.shop-info-list .shop-info-list-text .gray{
   color:#ccc;
}
.shop-info-list.telphone .shop-info-list-text{
    -webkit-flex: 1;
    flex: 1;
}
.shop-info-list.telphone .shop-info-list-text .shop-info-list-input{
    width: 100%;
    height:100%;
    padding-left: 40px;
    border: 0;
    font-size: 14px;
}
.shop-info-list .shop-info-list-angle{
    width: 6px;
    height: 12px;
    margin-left: 10px;
}
.panicbuying-name .comName{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    font-family: 'Microsoft Yahei';
    font-weight: 400;
    font-size: 14px;
    padding-right: 25px;
}
/*spinner*/
.ispinner-box
{
    border: 0;
    border-radius: 2px;
    background-color: #fff;
    display: inline-block;
    margin: 0;
}
.ispinner-box > a
{
    position: relative;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    width: 34px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
}
.ispinner-box > .plus:after
{
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 13px;
    height: 2px;
    background-color: #dc2828;
}
.ispinner-box > .plus:before
{
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 2px;
    height: 13px;
    background-color: #dc2828;
}
.ispinner-box > .minus:after
{
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 13px;
    height: 2px;
    background-color: #dc2828;
}
.ispinner-box > input
{
    border: none;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    display: inline-block;
    width: 40px;
    height: 26px;
    line-height: 26px;
    padding: 0 2px;
    margin: 0;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
    color: #333;
}
.ispinner-box > .minus{
    border: 1px solid #dc2828;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.ispinner-disable-left .minus
{
    border-color: #ddd;
    border-right-color: #999!important;
    color: #fff;
}
.ispinner-box > .plus{
    border: 1px solid #dc2828!important;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.ispinner-disable-right .plus
{
    border-color: #ddd;
    border-left-color: #999;
    color: #fff;
}
.ispinner-disable-right .plus:after,.ispinner-disable-right .plus:before,.ispinner-disable-left .minus:after{
    background-color: #999;
}

.yjb-content-wrap,.zhifu-content-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 500px;
    margin: 0 auto;
    background: rgba(0,0,0,.5);
    font-family: 'Microsoft Yahei';
    z-index: 1000;
}
.yjb-content-wrap .yjb-content{
    position: absolute;
    width: 100%;
    height: 70%;
    background: #fff;
    bottom: 0;
    border-radius: 0;
    border: 0;
    overflow-y: auto;
    -webkit-animation: fade .3s;
}
.yjb-content-wrap .yjb-content .page-fixed{
    position: fixed;
    left: 0;
    right: 0;
    max-width: 500px;
    margin: 0 auto;
    z-index: 2;
    background-color: #fff;
}
.yjb-content-wrap .yjb-content .page-fixed .mk-header{
    height: 44px;
    line-height: 44px;
    font-size: 17px;
    font-weight: 500;
    color: #999;
    font-family: 'Microsoft Yahei';
    text-align: center;
}
.yjb-content-wrap .yjb-content .yjb-content-lists-wrap{
    padding-top: 44px;
}
.yjb-content-wrap .yjb-content .yjb-content-lists-wrap .yjb-list{
    margin: 0 15px;
    padding: 14px 0 15px 0;
    font-size: 16px;
    color: #333;
}
.yjb-content-wrap .yjb-content .yjb-content-lists-wrap .yjb-list .item{
    display: -webkit-box;
    display:-webkit-flex;
    display:flex;
    align-items: center;
}
.yjb-content-wrap .yjb-content .yjb-content-lists-wrap .yjb-list .item .yjb-list-title{
    -webkit-flex: 1;
    flex:1;
}
.yjb-content-wrap .yjb-content .yjb-content-lists-wrap .yjb-list .item .yjb-list-pic{
    position:relative;
    width: 20px;
    height: 20px;
}
.yjb-content-wrap .yjb-content .yjb-content-lists-wrap .yjb-list .item .yjb-list-pic:after{
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    background-image:url(/Content/Mobile/tuoyuan.png);
    background-size: 100% 100%;
}
.yjb-content-wrap .yjb-content .yjb-content-lists-wrap .yjb-list.active .item .yjb-list-pic:after{
    background-image:url(/Content/Mobile/checkbox-active.png)
}
.yjb-content-wrap .yjb-content .yjb-content-lists-wrap .yjb-list .item-info{
    color: #999;
    font-size: 14px;
    line-height:14px;
    margin-top:8px;
}
.yjb-content-wrap .yjb-content .yjb-bottom{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    max-width: 500px;
    margin:0 auto;
    height: 44px;
    line-height: 44px;
    background-color:#dc2828;
    color: #fff;
    font-size: 17px;
    text-align: center;
}
.border-bottom{
    border-bottom: 1px solid #e8e8e8;
}
.zhifu-content-wrap .zhifu-content{
    position: absolute;
    width: 100%;
    height: 305px;
    background: #fff;
    bottom: 0;
    border-radius: 0;
    border: 0;
    overflow-y: auto;
    -webkit-animation: fade .3s;
}
.zhifu-content-wrap .zhifu-content .zhifu-content-header{
    display: -webkit-box;
    display:-webkit-flex;
    display:flex;
    height: 50px;
    align-items:center;
    border-bottom: 1px solid #e8e8e8;
}
.zhifu-content-wrap .zhifu-content .zhifu-content-header .name{
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    color: #333;
    font-size: 14px;
}
.zhifu-content-wrap .zhifu-content .zhifu-content-header .zhifu-close{
    width: 22px;
    height: 22px;
    background: url(/Content/Mobile/quxiao.png) no-repeat;
    background-size: 100%;
    margin-right: 12px;
}
.zhifu-content-wrap .zhifu-content .zhifu-content-lists-wrap .info{
    padding: 16px 0;
    line-height: 15px;
    font-size: 12px;
    color: #333;
    text-align: center;
}
.zhifu-content-wrap .zhifu-content .zhifu-content-lists-wrap .info .price{
    color: #dc2828;
}
.zhifu-content-wrap .zhifu-content .zhifu-content-lists-wrap .info .price .number{
    font-style:normal;
    font-size: 14px;
}
.zhifu-content-wrap .zhifu-content .zhifu-content-lists-wrap .item{
    display: -webkit-box;
    display: -webkit-flex;
    display:flex;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    margin: 0 15px;
    height: 50px;
}
.zhifu-content-wrap .zhifu-content .zhifu-content-lists-wrap .item .pic{
    width: 22px;
    height: 22px;
    margin-right: 13px;
}
.zhifu-content-wrap .zhifu-content .zhifu-content-lists-wrap .item .name{
    -webkit-flex: 1;
    flex: 1;
    font-size: 13px;
    color: #333;
}
.zhifu-content-wrap .zhifu-content .zhifu-content-lists-wrap .item .icon{
    position:relative;
    width: 20px;
    height: 20px;
}
.zhifu-content-wrap .zhifu-content .zhifu-content-lists-wrap .item .icon:after{
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    background-image:url(/Content/Mobile/tuoyuan.png);
    background-size: 100% 100%;
}
.zhifu-content-wrap .zhifu-content .zhifu-content-lists-wrap .item.active .icon:after{
    background-image:url(/Content/Mobile/checkbox-active.png);
}
.zhifu-content-wrap .zhifu-content .zhifu-bottom{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    max-width: 500px;
    margin:0 auto;
    height: 44px;
    line-height: 44px;
    background-color:#dc2828;
    color: #fff;
    font-size: 17px;
    text-align: center;
}
.bottom-address{
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    max-width: 500px;
    margin: 0 auto;
    height: 44px;
    color: #666;
    font-size: 12px;
    line-height: 44px;
    background-color: rgb(250,247,238);
    z-index: 3;
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
