/*商品轮播*/
.u-header-banner,.u-goods-title,.u-warehouse,.u-goods-info,.u-remind{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}
.u-remind> button {
	width: 45%;
}
.swiper-wrapper .swiper-slide img{
    width: 100%;
    height: auto;
}
/*轮播分页位置*/
.swiper-container{
    font-size: 0;
}
.swiper-container .swiper-pagination{
    text-align: right;
}
/*商品信息*/
.u-goods-title,.u-warehouse,.u-goods-info{
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.u-goods-title .goods-name{
    font-size: 1.4rem;
    padding: 4px 0;
    max-height: 3.6rem;
    margin-bottom: 9px;
	font-weight: bold;
}
.u-goods-title .goods-price > span{
    margin-right: 6px;
    vertical-align: middle;
}
.u-goods-title .goods-price > span> i{
	font-style:normal;
	font-weight:bold;
}
.u-goods-title .goods-price .present{
    color: #FF0054;
    font-size: 1.4rem;
}
.u-goods-title .goods-price .prime{
    text-decoration:line-through;
	color: #838383;
	font-weight: bold;
    font-size: 1.1rem;
}
.u-goods-title .goods-price .crowd-funding {
    padding:3px 6px;
    margin-bottom:3px;
    text-align:center;
    background-color:#060606;
    color:#fff;
    border:1px solid #000;
    border-radius:0;
}
.u-warehouse{
    display: table;
}
.u-warehouse > div{
    display: table-cell;
    width: 33.3%;
    text-align: center;
}
.u-warehouse > div span{
    display: block;
    color: #999;
    font-size: .8rem;
    line-height: 1.4;
}
.u-warehouse b,.u-warehouse .b{
    color: #000;
    font-weight: normal;
}
/*商品信息*/
.u-goods-info .info-group{
    padding: 1px 0;
}
.u-goods-info .info-group > label,.u-goods-info .info-group > span{
    display: table-cell;
    vertical-align: top;
    padding: 3px;
    font-size: .9rem;
}
.u-goods-info .info-group > label, .u-goods-info .info-group > div label{
    color: #333;
    white-space: nowrap;
}
.u-goods-info .info-group > span{
    font-size: 1.1rem;
}
.u-goods-info .info-group > span.flow {
	font-size:.9rem;
}
.u-goods-info .info-group .prime, .u-goods-info .info-apply .prime {
	color: #FF0054;
	font-weight: bold;
}
.u-goods-info .info-group .time, .u-goods-info .info-apply .apply-num {
	color: #999;
	font-size:.9rem;
}
.u-goods-info .info-apply {
	margin-left: 53px;
	padding:3px 0;
}
.u-goods-info .info-apply> span, .u-goods-info .info-group> span.trace {
	color: #333;
	font-size: .9rem;
}
.u-goods-info .info-group > span i {
	float:left;
	font-style: normal;
}
.u-goods-info .info-group > span .num{
	width: 15px;
	height: 15px;
	line-height: 15px;
	margin: 0 5px;
	background: #333;
	border-radius: 50%;
	color: #fff;
	
	text-align:center;
	font-size: .8rem;
}
.u-goods-info .info-group > span .ask {
	float: left;
    position: relative;
	font-size: 1.5rem;
	margin-left: 10px;
	margin-top: -6px;
}
.u-remind{
    padding: 10px 0;
}
.u-remind span{
vertical-align: middle;
    color: #a0a0a0;
}

.u-remind b{
    color: #FF0054;
    font-weight: normal;
}
.u-remind .btn{
    margin-top: -13px;
}
/*泡泡*/
.u-goods-info .info-group {
    position: relative;
}
.u-goods-info .popUp {
    display: none;
    position: absolute;
    bottom: 34px;
    left: 0;
    width: 100%;
    padding:10px 5px;
    background-color: rgba(0,0,0,.8);
    color: #fff;
    line-height:20px;
    border-radius: 3px;
    z-index: 9;
}
.u-goods-info .popUp> p {
    margin-bototm:5px;
    font-size:1rem;
}
.u-goods-info .triangle {
    display: none;
    position:absolute;
    top: -6px;
    left: 4px;
    border:5px dashed transparent ;
    border-top:6px solid rgba(0,0,0,.8);
}





