
.bar .total {
	max-width: 500px;
	margin:auto;
}
.u-presale-list{
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 6px;
    overflow: hidden;
}
.u-presale-list .item{
    width: 49.7%;
    padding-bottom: 10px;
    float: left;
    margin-bottom:5px;
}
.u-presale-list .item:nth-child(odd){
    background-color: #fff;
}
.u-presale-list .item:nth-child(even){
    background-color: white;
    float: right;
}
.u-presale-list .item .item-photo {
	position: relative;
	width: 100%;
}
.u-presale-list .item .item-photo  img{
	width: 100%;
}
.u-presale-list .item .item-photo .shadow {
	position: absolute;
	bottom: 3px;
	left: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color:rgba(0,0,0,.4);
	padding-left: 5px;
	margin: 0;
	color: #fff;
	font-size:.8rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}
.u-presale-list .item .item-photo .sale {
	position: absolute;
	bottom: 3px;
	left: 0;
	width: 100%;
	height: 40px;	
}
.u-presale-list .item .item-info {
	font-size: .8rem;
	line-height: 1.2;
	padding: 10px 5px;
	color:#050505;
}
.u-presale-list .item .item-buying  {
	height: 20px;
	vertical-align: top;
	padding: 0 5px;
}
.u-presale-list .item .item-buying  > span {
	font-size:.8rem;
	white-space: nowrap;
	color:#ff0054;
}
.u-presale-list .item .item-buying .present{
	font-weight: bold;
	float: left;
}
.u-presale-list .item .item-buying .prime {
	float: right;
	color: #696969;
	font-size: .75rem;
}
.u-presale-list .item .item-operation {
	float:right;
	padding-right:5px;
}
.btn-presale {
	background-color: #fff;
	border-color: #a8a8a8;
	border-radius: 0;
	color: #000;
}





