html, body {
    background: #f0f0f0;
}

.scancode-download {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

.scancode-download .title {
    color: #FF0054;
    padding: 10% 0 60%;
    background: url("images/bg.png") no-repeat 0 75%;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    letter-spacing: 1px;
}

h1, h3 {
    margin: 0;
}

.scancode-download .title h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

.quick-response-code div {
    width: 45%;
    padding: 10px;
    background: #fff;
    margin-bottom: 15px;
}

.quick-response-code div img {
    width: 100%;
    display: block;
}

.quick-response-code h3 {
    color: #FF0054;
}