/*公共按钮*/
.bar-nav .icon, .bar-nav .btn
{
    color: #fff;
}
.bar-nav .fa
{
    color: #fff;
}
.btn-primary
{
    background-color: #38b359;
    border-color: #12a038;
}
.btn-primary.active, .btn-primary:active
{
    background: #38b359;
    opacity: 0.8;
    border-color: #12a038;
}
a:active
{
    color: #38b359;
}
/*首页*/

/*底部切换按钮*/
.myDistribution .u-table-title > span.current
{
    color: #38b359;
}
.bar-tab .tab-item.active, .bar-tab .tab-item:active {
    /*color: #fff;*/
}
.list-tiled li span
{
    color: #38b359;
}
.u-brand-discount
{
    color: #38b359;
}
.box_3
{
    background: #38b359;
}
/*after-sale-management*/
.table-view-cell.tit span
{
    color: #38b359;
}
/*favoriteGoods*/
.u-favorite-goods .item .item-buying .price > span
{
    color: #38b359;
}
/*myDistribution*/
.myDistribution .u-grand .grand-money > span:nth-child(2)
{
    color: #38b359;
}
/*goodsInfochange*/
.u-goods-title .goods-freight > a > span, .u-goods-notice > p > span
{
    color: #38b359;
}
/*goodsinfo*/
.u-goods-title .goods-price .commission-mark, .u-goods-title .goods-price .commission
{
    color: #38b359;
}
.item .item-price
{
    color: #38b359;
}
.goodListWrap .goods-tab ul > li.spa a
{
    color: #38b359;
}
/*goodsListSelect*/
.bar-header-secondary .bar-item.active
{
    color: #12a038;
}
/*goodsListSelectVertical*/
.bar-header-secondary .bar-item.active, .store .app-store .checked-store, .store .store-list li.checked
{
    color: #38b359;
}
.item-buying .present, .u-presale-list .item .item-buying .shopping-cart, .fixed-shopping-cart
{
    color: #38b359;
    border-color: #38b359;
}
.switch.active
{
    background-color: #38b359;
    border-color: #12a038;
}
/*goodSort*/
.u-goods-sort .goods-name .current
{
    color: #38b359;
}
/*invoiceMessage*/
.rightBtn a
{
    background-color: #38b359;
}
.invoice-type > input:checked + div
{
    border-color: #38b359;
    color: #38b359;
}
.label-check input[type=checkbox]:checked + .item-media i, .label-radio input[type=radio]:checked + .item-media i
{
    background-color: #38b359;
}
/*login*/
.btn.btn-block
{
    background-color: #38b359 !important;
    border-color: #12a038 !important;
    color: #fff !important;
}
/*焦点图按钮*/
.swiper-container .swiper-pagination .swiper-pagination-bullet-active
{
    background-color: #38b359;
}

/*myHome*/
.u-user-info .tabs .msg-number
{
    background-color: #38b359;
}
.u-user-info .user-pos a
{
    color: #38b359;
}

/*myOrder*/
.u-panicbuying-list .panicbuying-info .panicbuying-price .price > span
{
    color: #38b359;
}
/*myOrderDetail*/
.f-heightlight
{
    color: #38b359;
}
.badge-negative, .bar .pay-submit
{
    background-color: #38b359;
}
/*panicBuyingInfo*/
.u-goods-title .goods-price .present
{
    color: #38b359;
}
.btn-positive
{
    background-color: #38b359;
    border-color: #12a038;
}
/*pickUpAddress*/
.u-current-place > i, .u-table-view li .current-place
{
    color: #38b359;
}
/*presaleDetail*/
.u-goods-title .goods-price .present, .u-goods-info .info-group .prime, .u-goods-info .info-apply .prime
{
    color: #38b359;
}
/*presaleList*/
.u-presale-list .item .item-buying > span
{
    color: #38b359;
}
/*secondsKill*/
.list-tiled li span
{
    color: #38b359 !important;
}
/*shoppingCart*/
.crowd
{
    background-color: #38b359;
}
.total span
{
    color: #38b359;
}
/*thinkChange*/
.bar-nav
{
    background-color: #38b359;
}
.link-title
{
    color: #38b359;
}
.bar-nav .title
{
    color: #fff;
}
.link-title > span, .link-btn .btn
{
    background-color: #38b359;
}
/*voucher*/
.u-voucher .item-nav > a.active, .u-voucher .navCont .voucher .voucher-list li .balance p
{
    color: #38b359;
}
.u-voucher .item-nav
{
    border-bottom-color: #38b359;
}
.u-voucher .navCont .voucher .use-new
{
    border-color: #38b359;
}
.btn-sure
{
    background-color: #38b359;
    border-color: #12a038;
}
/*voucherCenter*/
.u-voucher .navCont .voucher .btn
{
    border-color: #12a038;
}
/*zOrder*/
.u-order-card .tit span
{
    color: #38b359;
}
.u-order-card .footer .button.btn-primary
{
    background-color: #38b359;
}
/*gxy添加*/
/*AddDeliveryAddress*/
.box_3
{
    border-radius: 4px;
    background-color: #38b359;
    line-height: 2.0em;
    text-align: center;
    margin-bottom: 10%;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 3px;
    border: none;
}
/* */
.toggle.active
{
    background-color: #38b359;
    border: 2px solid #38b359;
}
.toggle.active .toggle-handle
{
    border-color: #38b359;
    margin-left: 44px;
}
/*CreateOrder*/
a
{
    color: #38b359;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
/*CommodityDetail*/
#property .u-detail-price
{
    float: left;
    color: #38b359;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 2.5rem;
    text-indent: 0;
    margin-top: -1rem;
}
#footer .footer_2
{
    border-radius: 4px;
    background-color: #38b359;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 3px;
    padding: 2% 5%;
    display: inline-block;
    margin-left: 5px;
}
.commission
{
    color: #38b359;
    margin: 0;
    margin-right: 5px;
}
/*CommodityList*/
#scroller1 .u-presale-list .item .item-buying > span
{
    font-size: .9rem;
    white-space: nowrap;
    color: #38b359;
}
#scroller2 .item-buying .present
{
    font-weight: bold;
    color: #38b359;
}
#scroller1 .u-presale-list .item .item-buying .shopping-cart, #scroller2 .u-presale-list .item .item-buying .shopping-cart
{
    color: #38b359 !important;
    border: 1px solid #38b359 !important;
    background-color: #f0f7f2 !important;
}

/*DiyGroupDetail*/
.become-group-info .name-price .price
{
    font-size: .875rem;
    color: #38b359;
    padding-left: 10px;
}
.member-time .photo-num-tip span
{
    color: #38b359;
}
.stay-become-group .fixed-submit-btn .submit-btn
{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    background: #38b359;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
/*CommodityDetailDiyGroup*/
.group-price .now-price
{
    color: #38b359;
    font-size: 1rem;
    padding-right: 3px;
}
.group-price .people-num span
{
    color: #38b359;
}
.footer-btn .open-group
{
    margin: 0 5% 0 1%;
    background: #38b359;
    color: #fff;
}
.box_2
{
    border-radius: 4px;
    background-color: #38b359;
    line-height: 2.5em;
    text-align: center;
    margin-bottom: 10%;
    color: #fff;
    font-size: 1.3em;
    letter-spacing: 3px;
    border: none;
}
/*免费CommodityList*/
.item_1 .item_price .price_1
{
    color: #38b359;
    font-weight: bold;
}
/*页面的移动过来的*/
.topon
{
    color: #38b359;
}
/*RefundOrder页面*/
/*页面的移动过来的*/
.footer_2
{
    border-radius: 4px;
    background-color: #38b359;
    text-align: center;
    color: #fff;
    font-size: 1em;
    letter-spacing: 3px;
    padding: 3% 12%;
    display: inline-block;
    margin-left: 5px;
}
/*CateringCommodityList页面*/
.goods-name .current
{
    color: #38b359;
}
.contain .list .list-contain .list-price
{
    display: block;
    padding: 3px 0;
    color: #38b359;
    font-size: 14px;
}
.list-contain .spinner a
{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #ebebeb;
    color: #38b359;
    font-size: 20px;
    background: #fff;
}
.page .bar-tab .tab-item .footer-carplus .num
{
    position: absolute;
    top: 2px;
    left: 28px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    background: #38b359;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    padding: 0 7px;
}
.page .bar-tab .tab-item.footer-right
{
    width: 30%;
    background: #38b359;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
/*Distribute Index页面*/
.register .title
{
    color: #38b359;
}
.register-info .btn-enabled
{
    background: #38b359;
    border: 1px solid #38b359;
}
/*Distribute AppDetail页面*/
.click-download .title
{
    color: #38b359;
}
/*CommodityDetail*/
.btnDistribute51
{
    background: #38b359 !important;
    border-color: #12a038 !important;
}
/*LoginCenter*/
.btnok
{
    background: #38b359 !important;
}
/*PromotionList*/

#make > span.current
{
    color: #38b359 !important;
}
/*RefundOrder*/
.money-type .iradio.checked
{
    background: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 50% !important;
    position: relative;
}
.money-type .iradio.checked:after
{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #38b359 !important;
    top: 3px;
    left: 3px;
}
.contain .list .list-contain .btn.current
{
    border-color: #12a038 !important;
}
/*商品详情秒杀*/
#footer .footer_1, #footer .footer_2
{
    background-color: #38b359 !important;
}

#footer .footer_2
{
    background-color: #38b359 !important;
}
#sendNotifications
{
    background-color: #38b359 !important;
    color: white;
}
#prmTimerDiv
{
    color: #38b359 !important;
}
/*添加地址*/
.box_3
{
    background-color: #38b359 !important;
}
/*我的拼团DiyGroup/MyDiyGroup*/
.footer .group-state
{
    color: #38b359 !important;
}
/*loginCenter页面*/
#DealLoginPartial #mycart_user .btnok
{
    background: #38b359 !important;
}
.infowrap-info .info-price
{
    color: #38b359 !important;
}
.ghcPrice1
{
    color: #38b359;
}
.ghcPrice2
{
    color: #898989;
}
.ghcPrice11
{
    color: #38b359;
}
.ghcPrice12
{
    color: #898989;
}
#scroller2 .u-presale-list .item .ghcDot1 .shopping-cart,
#scroller1 .u-presale-list .item .ghcDot .shopping-cart
{
    color: #38b359 !important;
    border: 1px solid #12a038 !important;
    background-color: #f0fef2 !important;
}
.u-cart-list .goods-info .goods-price {
    color: #38b359;
}
.header_span_2 {
    color: #fff !important;
}
#header {
    background-color: #38b359 !important;
}
#prmPresell {
    background-color:  #38b359 !important;
}
.btn120 {
     border:1px solid #38b359 !important;
      background-color:#38b359 !important;
}
/*添加*/
#property .u-detail-price2
{
    color:#38b359 !important;
}
#property .yuan{
    color:#38b359 !important;
}
#prmTimerDiv .remain_t
{
    color:#38b359 !important;
}
.delivery p>a.current {
    border-color: #38b359;
    color: #38b359;
}
.u-table-view .icon-ok {
    color: #38b359 !important;
}
.money
{
    color: #38b359;
}