/*style*/
body{
    background-color: #e6e6ec;
}
.bar-footer{
    border-top: 1px solid #ddd;
}
.bar-footer .btn{
    margin-top: -4px;
    font-size: 1rem;
    padding: 9px 15px;
}
.bar-tab .tab-item.active, .bar-tab .tab-item:active {
    /*color: #fff;*/
}
.bar-tab .tab-item img {
    color: #FF0054;
    width: 24px;
    height: 24px;
}
.bar-tab .tab-item .icon{
    top: 0!important;
}
.bar-nav .icon,.bar-nav .btn{
    color: #646464;
}
.segmented-control{
    width: 180px;
}
.btn-primary{
    background-color: #FF0054;
    border-color: #cd0044;
}
.btn-primary:active{
    background-color: #FF0054;
    border-color: #cd0044;
    opacity: .8;
}
.btn-positive{
    background-color: #32d500;
    border-color: #2ab100;
}
.btn-negative{
    background-color: #999;
    border-color:#b7b7b7 ;
}
/*loading*/
.u-loading-list{
    padding: 10px;
    text-align: center;
    background-color: #fff;
    color: #c9c9c9;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    font-size: .9rem;
    box-shadow: 0 1px 1px #ccc ;
}
/*图片轮播分页风格*/
.swiper-container .swiper-pagination .swiper-pagination-bullet-active{
    background-color: #FF0054;
}

/*模态框*/
.modal .modal-dialog .modal-content {
    background-color:#f0eff4;
}
.modal .modal-dialog .modal-content .modal-header>h2 {
    font-size: 1.2rem;
}
.modal .modal-dialog .modal-content .modal-body {
    overflow-y: auto;
}
.modal .modal-dialog .modal-content .modal-body .modal-code{
    width: 90%;
    height: 35px;
    margin: auto;
}
.modal .modal-dialog .modal-content .modal-body .modal-code>input {
    width: 60%;
    float: left;
}
.modal .modal-dialog .modal-content .modal-body .modal-code>img {
    width: 35%;
    height: 35px;
    float: right;
}
.modal .modal-dialog .modal-content .modal-footer .btn {
    width: 45%;
}

/*首页搜索框*/
.bar input[type="search"] {
    height: 29px;
    margin: 6px 0;
    padding-right: 20px;
    border-radius: 0;
}
.bar-nav .search {
    position: absolute;
    width: 50%;
    left: 50%;
    padding: 0;
    margin: 0 -25%;
}
.bar-nav .search:before {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    z-index:2;
    font-size: 1rem;
}
.btn.disabled,.btn:disabled {
    opacity: .3;
    filter: alpha(opacity=30)
}
.btn.disabled:active,.btn:disabled {
    opacity: .3;
    filter: alpha(opacity=30)
}
.footer_2
{
    border-radius: 4px;
    background-color: #FF0054;
    text-align: center;
    color: #fff;
    font-size: 1em;
    letter-spacing: 3px;
    padding: 3% 12%;
    display: inline-block;
    margin-left: 5px;
}
.ghcPrice1 
{
    color: #e95045;
}
.ghcPrice2 
{
    color: #898989;
}
.ghcPrice3 {
    
}
#scroller1 .u-presale-list .item .ghcDot .shopping-cart {
    color: #e95045;
    border: 1px solid #e95045;
    background: #e95045;
}
.ghcPrice11 
{
    color: #e95045;
}
.ghcPrice12 
{
    color: #898989;
}
.ghcPrice13 {
    
}
#scroller2 .u-presale-list .item .ghcDot1 .shopping-cart {
    color: #e95045;
    border: 1px solid #e95045;
    background: #ffe5ee;
}
.u-cart-list .goods-info .goods-price {
    color: #e95045;
}
.delivery p>a.current {
    border-color: #e95045;
    color: #e95045;
}
.u-table-view .icon-ok {
    position: absolute;
    left: 10px;
    font-size: 20px;
    top: 50%;
    margin-top: -10px;
    color: #e95045;
}
.money
{
    color: #e95045;
}