/*ÐÞ¸Ä*/
body{
   width:100%;
   max-width:500px;
    margin: 0 auto !important;
    position:relative !important;
}
.bar{
    left:inherit;
    right:inherit;
    width:100%;
    max-width:500px;
}
/**/
.stores-list {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.stores-list > a {
    display: block;
}

.stores-list > a:active {
    opacity: .8;
}

.info-intro, .info-text .address {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.info-intro {
    margin: 0 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ebebeb;
}

.info-intro .pic, .pic img {
    width: 80px;
    height: 80px;
}

.info-intro .info-text {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-left: 10px;
}

.info-text .name, .info-text .phone .number {
    color: #282828;
}

.info-text .name {
    padding: 2px 0 15px;
}

.info-text .address, .info-text .phone {
    color: #a4a4a4;
    font-size: .8rem;
}

.info-text .address {
    padding: 0 20px 13px 0;
    position: relative;
}

.info-text .fa-map-marker, .info-text .fa-phone {
    width: 18px;
    font-size: .9rem;
}

.info-text .address .distance {
    width: 40px;
    text-align: right;
}

.info-text .address .address-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-text .address .fa-angle-right {
    position: absolute;
    font-size: 1.4rem;
    top: -5px;
    right: 0;
}

.info-text .phone .phone-number {
    padding-right: 10px;
}