*{	margin: 0;
	padding: 0;
}
html{
	background-color: #eee;
	color: #000;
	font-family: 'Microsoft Yahei';
}
a{
	text-decoration: none;
	color: #000000;
	display: inline-block;
}
.container{
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}
.distribution_tab_top, .distribution_user_shop{
	background-color: #fff;
}
.distribution_tab_top{
	padding: 20px 15px;
}
.distribution_tab{
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
}
.distribution_tab_btn{
	font-size: 14px;
	color: #333;
	width: 100%;
}
.distribution_user_shop{
	border-top: 1px solid #dbd6d6;
	padding: 10px 10px 10px 15px;
}
.borderR:after{
	position: absolute;
	top: 5px;
	right: 0;
	height: 20px;
	content: '';
	border-right: 1px solid #dbd6d6;
}
.borderB{
	border-bottom: 1px solid #dbd6d6;
}
.distribution_user_shop_left, .distribution_user_shop_right, .shop_name{
	display: inline-block;
	position: relative;
}
.distribution_user_shop_left{
	width: 65%;
}
.distribution_user_shop_right{
	width: 30%;
}
.shop_name{
	font-size: 1.7rem;
	vertical-align: top;
	width: 64%;
	position: absolute;
	top: 40%;
	left: 34%;
}
.name{
	color: #333;
	font-weight: bolder;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 56%;
}
.num_shop{
	font-size: 11px;
	color: #999999;
}

.edite{
	background: url('/Content/images/bianji.png') no-repeat center center;
	background-size: 100% 100%;
	padding: 8%;
	position: absolute;
	top: -10%;
}
.active {
	/* border: 1px solid #e4393c;*/
	color: #e4393c;
}
.yonghuhong{
	display: inline-block;
	background: url('/Content/images/yonghuhong.png') no-repeat center center;
	background-size: 100% 100%;
	padding: 15%;
}
.qrimg{
	width: 65%;
	float: right;
}
.qrimg img{
	width: 100%;
}
.margB-10{
	margin-bottom: 10px;
}
.list{
	padding: 0 4px;
}
.list .item p, .list .item_right p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	height: 28px;
	line-height: 1.2;
	padding: 10px 10px 0 10px;
	font-size: 0.8em;
	overflow: hidden;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.bg,.item>div,.item_right>div{
	background-color: #fff;
}
.item_line:after{
	display: block;
	content: '';
	clear: both;
	overflow: hidden;
}
.item{
	float: left;
	width: 50%;
	padding-right: 2px;
	margin-bottom: 5px;
	box-sizing: border-box;
}
.item_right{
	float: right;
	width: 50%;
	padding-left: 2px;
	margin-bottom: 5px;
	box-sizing: border-box;
}
.pos_abs{
	position: absolute;
	top: 70%;
	width: 65%;
}
.item_right .item_img{
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 100%;
	overflow: hidden;
}
.item .item_img{
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 100%;
	overflow: hidden;
}
.item_img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.info{
	padding-left: 10px
}
.item_info{
	vertical-align: top;
}
.info_text{
	font-size: 1.5rem;
}

.info_type,.share_yuan_num{
	color: #999999;
	font-size: 11px;
}
.mrg-r-5{
	margin-right: 5px;
}
.share_yuan_num{
	text-decoration:line-through;
}

.list_yuan,.list_yuan_num{
	display: inline-block;
}
.list_yuan{
	padding-left: 10px;
	padding-bottom: 3px;
	color: #e4393c;
	font-size: 10px;
}
.list_yuan_num{
	font-size: 14px;
}
.gouwuche{
	display: inline-block;
	float: right;
	width: 15%;
	position: relative;
	top: -7px;
	left: -13px;
}
.gouwuche img{
	width: 100%;
}

div.list_tab{
	height: 40px;
	box-sizing: border-box;
	padding-top: 4px;
	margin-bottom: 5px;
}
.users{
	background-color: #e4393c;
	text-align: center;
	padding: 15px;
}
.users_img{
	position: relative;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}
.users_img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.users_title, .users_name{
	color: #fff;
}
.users_search {
	position: relative;
	width: 90%;
	height: 34px;
	margin: 0 auto;
}
.users_name{
	font-size: 14px;
	padding: 5px 0 15px 0;
}
input::-ms-input-placeholder{
	text-align: center;
}
input::-webkit-input-placeholder{
	text-align: center;
}
input.search_text{
	width: 100%;
	height: 34px;
	padding: 0 40px 0 15px;
	border-radius: 34px;
	outline: none;
	border: 0;
	font-size: 12px;
	color: #999;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.users_search .search-icon{
	position: absolute;
	top: 6px;
	right: 14px;
	height: 22px;
	width: 22px;
	background: url(/Content/images/sousuo.png) no-repeat center;
	background-size: 100%;
	cursor: pointer;
}
.back{
	float: left;
	color: #fff;
}