*{	margin: 0;
	padding: 0;
}
html{
	font-size:62.5%;/*10/16*100%*/
    /*background-color: #eee;*/
	color: #000;
}  
.container{
	width: 100%;
	max-width: 500px;
    margin: 0 auto;
    
}
a{
    text-decoration: none;
    color: #000000;
    display: inline-block;
}
.message{
    position: fixed;
    top: 50%;
    padding: 15px;
    margin-top: -25%;
    width: 90%;
}
.info{
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}
.btn{
    text-decoration: none;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 0.6rem 2rem;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    color: #6b6a6a;
}
.active{
    border: 1px solid #e4393c;
    color: #e4393c;
}
.applay_btn{
    text-align: center;
}
.discription{
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.discription a{
    color: #4197ef;
}