*{	margin: 0;
	padding: 0;
}
html{
    background-color: #eee;
	color: #000;
    font-family:'Microsoft YaHei';
}  
.container{
	width: 100%;
	max-width: 500px;
    margin: 0 auto;
    margin-bottom: 65px;
    
}
.info_item{
	border-bottom: 1px solid  #dbd6d6;
}
.info_item:last-child{
	border-bottom: 0px;
}
.apply_info,.apply_upload{
    padding: 0 15px;
    background-color: #fff;
}

.info_item{
    display: table;
    width: 100%;
    padding: 10px 0;
}
.info_text{
    display: table-cell;
    width: 60px;
    text-align: left;
    vertical-align: middle;
	color: #dbd6d6;
	font-size: 14px;
}
.info_input{
	outline: none;
	border: 0;
	height: 26px;
    line-height: 26px;
    width: 90%;
    font-size: 14px;
    color: #333;
    background: #fff;
}

.apply_upload{
	margin-top: 10px;
}

.upload_item{
	/*border-bottom: 1px solid  #dbd6d6;*/
 	/*padding: 20px 15px;*/
}
.upload_title{
	font-size: 14px;
	color: #000000;
}

.upload_dis{
	border-bottom: 1px solid  #dbd6d6;
	padding: 20px 0px;
}

.upload_dis:last-child{
	border-bottom: 0px;
}

.upload_name{
	font-size: 14px;
    color: #dbd6d6;
    display: inline-block;
    width: 55%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a{
	text-decoration: none;
	color: #000000;
	display: inline-block;
}

.upload_btn{
	width: 8%;
    font-size: 18px;
    float: right;
    padding: 5px;
    position: relative;
    top: -4px;
    text-align: center;
}
.upload_btn img{
	width: 100%;
}

.bg_btn_img{
	background: url('../img/drawable-xhdpi/delete.png') no-repeat center center;
    width: 5%;
    height: 0;
    padding-bottom: 10%;
}

.upload_dis_img {
    border-bottom: 1px solid #dbd6d6;
    padding: 10px 0px;
}
.upload_img{
	display: inline-block;
	width: 17%;
}
.upload_img img{
	width: 100%;
}
.upload_dis_img a{
    position: relative;
    top: 0;
}
.discription{
	text-align: center;
    font-size: 14px;
    padding: 10px;
}
.discription a{
	color: #4197ef;
}
.submit{
    position:fixed;
    margin:auto;
    bottom:0;
    width: 100%;
    max-width: 500px;
    height: 44px;
    line-height: 44px;
	text-align: center;
    background: #e4393c;
    font-size: 17px;
}
.submit a{
 	color: #fff;
}