<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="SaleShare" type="Jinher.AMP.BTP.Common.SaleShareModel, Jinher.AMP.BTP.Common" />
    <section name="ShareGoldAccout" type="Jinher.AMP.BTP.Common.ShareGoldAccoutModel, Jinher.AMP.BTP.Common" />
    <section name="Crowdfunding" type="Jinher.AMP.BTP.Common.CrowdfundingConfig, Jinher.AMP.BTP.Common" />
    <section name="CrowdfundingAcount" type="Jinher.AMP.BTP.Common.CrowdfundingAccountModel, Jinher.AMP.BTP.Common" />
    <section name="EmailSend" type="Jinher.AMP.BTP.Common.EmailSendModel, Jinher.AMP.BTP.Common" />
    <section name="SpreaderAccount" type="Jinher.AMP.BTP.Common.SpreaderAccountModel, Jinher.AMP.BTP.Common" />
    <section name="ShareOwner" type="Jinher.AMP.BTP.Common.ShareOwnerModel, Jinher.AMP.BTP.Common" />
    <section name="JinherBtpAccount" type="Jinher.AMP.BTP.Common.JinherBtpAccountModel, Jinher.AMP.BTP.Common" />
    <section name="GeneralAgencyAccount" type="Jinher.AMP.BTP.Common.GeneralAgencyAccountModel, Jinher.AMP.BTP.Common" />
    <section name="JhAccount" type="Jinher.AMP.BTP.Common.JhAccountModel, Jinher.AMP.BTP.Common" />
    <section name="RentAgreement" type="Jinher.AMP.BTP.Common.RentAgreementConfigSection, Jinher.AMP.BTP.Common" />
    <section name="orderPayCallBack" type="Jinher.AMP.BTP.Common.OrderPayBackSection, Jinher.AMP.BTP.Common" />
    <section name="ApplyNameCategory" type="Jinher.AMP.BTP.Common.ApplyNameCategoryConfigSection, Jinher.AMP.BTP.Common" />
    <section name="weChatSpreader" type="Jinher.AMP.BTP.Common.WeChatSpreaderSection, Jinher.AMP.BTP.Common" />
  </configSections>
  <appSettings>
    <add key="FileServerUrl" value="http://btp.fileserver.iuoooo.com/Jinher.JAP.BaseApp.FileServer.UI/FileManage/GetFile?fileURL="/>
    <add key="CommonFileServerUrl" value="http://fileserver.iuoooo.com/Jinher.JAP.BaseApp.FileServer.UI/FileManage/GetFile?fileURL="/>
    <add key="GoldPaySign" value="B3F293AA-4B9C-41B5-B1D2-4AAF03F35AC4"/>
    <add key="BTPAppres" value="http://appres.iuoooo.com"/>
    <add key="BTPBac" value="http://bac.iuoooo.com"/>
    <add key="GoodsMaxSelectedCount" value="10"/>
    <add key="AppUrl" value="http://appres.iuoooo.com/"/>
    <add key="GoldPayNotifySign" value="B3F293AA-4B9C-41B5-B1D2-4AAF03F35AC4"/>
    <add key ="UrlPrefix" value="http://"/>
    <add key="AppDownloadUrl" value="http://appres.iuoooo.com/app/GetAppDetail?appId="/>
    <add key="CommodityUrl" value="http://btp.iuoooo.com/Mobile/CommodityView"/>
    <add key ="SearchServiceUrl" value="http://183.56.131.241:10000/"/>
    <add key="PartnerPrivKey" value="123987kawhodlksdoiewo65456456" />
    <add key="Environment" value="Release" />
    <add key="CommonUserName" value="btp@jinher.com" />
    <add key="CommonUserPass" value="amgwMTAx" />
    <add key="ZPHUrl" value="http://zph.iuoooo.com/" />
    <add key="BtpDomain" value="http://btp.iuoooo.com/"/>
    <add key="PortalUrl" value="http://portal.iuoooo.com"/>
    <add key="FSPUrl" value="http://fsp.iuoooo.com"/>
    <add key="PromotionUrl" value="http://promotion.iuoooo.com"/>
    <!--我的预约-->
    <add key="MyBespeakUrl" value="http://zph.iuoooo.com/Presell/MyPresellComdty"/>
    <add key="ZPHAppId" value="cea60082-fc49-4a89-937a-bc61a4e950c2"/>
    <!--省市列表选择页-->
    <add key="ProvinceCityUrl" value="http://sns.iuoooo.com/AppDistrict"/>
    <!--公众号的唯一标识-->
    <add key="WeixinAppId" value="wx49b71e7ff2f4f3b9"/>
    <!--公众号的appsecret 唯一凭证密钥-->
    <add key="WeixinAppIdSecret" value="41575b30702c603f0314d04d6c1c11c6"/>
    <!--获取access_token服务地址-->
    <add key="WeixinAccessTokenUrl" value="https://api.weixin.qq.com/sns/oauth2/access_token"/>
    <add key="MinClearningDate" value="2015-08-18"/>
    <add key="WxSignFlag" value="Y"/>
    <add key="WxDomain" value="www.zhengpino2o.com"/>
    <add key="BacEUrl" value="http://jhbac.iuoooo.com"/>
    <add key="SelfTakeAppId" value="d15e105d-cec0-43b6-b555-41189edeb683"/>
    <!--可操作电商缓存的用户列表。-->
    <add key="BtpCacheManagerUsers" value="18911666985;18911666739;13488702946;13366562758;15652911893;13520935782;13810268953;18610838827;18201258185"/>
    <add key="MinScoreOrderDate" value="2016-02-24"/>
    <add key="CouponFlag" value="0"/>
    <add key="DSSUrl" value="http://dss.iuoooo.com"/>
    <!--快递鸟分配给商家的电商ID.-->
    <add key="KdniaoEBusinessID" value="1255545"/>
    <!--快递鸟分配给商家的电商加密私钥.-->
    <add key="KdniaoAppKey" value="5531914a-a554-4aa9-ac68-cf4a1ffb1cee"/>
    <!--快递鸟订阅物流信息接口地址.-->
    <add key="KdniaoSubscribeReqURL" value="http://api.kdniao.cc/Ebusiness/EbusinessOrderHandle.aspx"/>
    <!--调用快递鸟订阅物流信息出错多少次停止订阅.-->
    <add key="KdniaoSubscribeErrorCount" value="3"/>
    <!--当前使用的快递平台（kdniao、kuaidi100）-->
    <add key="ExpressPlat" value="kdniao"/>
    <!--是否启用众筹  如果需要启用，需要同时修改/Content/Mobile/Common.js 中GetCrowdfundingState()函数-->
    <add key="CrowdfundingFlag" value="false"/>
    <!--商品分类管理在bac的功能项编号-->
    <add key="CategoryManageFunctionCode" value="CategoryManage"/>
    <add key="ScoreCostList" value="1,10,100,1000,10000,100000"/>
    <!--显示上传图片的商品列表-->
    <add key="UploadFileCommodityList" value="be143493-e0fb-4792-8060-765ed8926693,a57775b7-9f7a-4ded-a056-b4d35f6d4356,03054acf-a73e-447b-9eb3-869eec3d6519,594d361a-d9c3-4e92-bc2f-2fe6492c0bb2"/>
    <!--显示协议1的商品列表-->
    <add key="Contract1CommodityList" value="be143493-e0fb-4792-8060-765ed8926693,a57775b7-9f7a-4ded-a056-b4d35f6d4356"/>
    <!--显示协议2的商品列表-->
    <add key="Contract2CommodityList" value="03054acf-a73e-447b-9eb3-869eec3d6519,594d361a-d9c3-4e92-bc2f-2fe6492c0bb2"/>
    <!--高德地图获取地址对应的经纬度接口地址-->
    <add key="AmapGetLongLatitudeByAddress" value="http://restapi.amap.com/v3/geocode/geo"/>
    <!--调用高德地图所需要的key-->
    <add key="AmapKey" value="c0d798fe31257ef4b30987221f01a625"/>
    <!--众销是否以积分形式发放-->
    <add key="IsShareAsScore" value="true"/>
    <!--sns服务地址-->
    <add key="SNSUrl" value="http://sns.iuoooo.com"/>
    <!--视频资源库地址-->
    <add key="VideoHost" value="http://enterprise.mvp.iuoooo.com/Media/MediaSelectFromApp"/>
    <!--h5应用首页地址-->
    <add key="H5HomePage" value="http://wap.iuoooo.com/appphonepage?appId={0}&amp;defaultLode=1"/>
    <!--拼团商品列表-->
    <add key="DiyGroupCommodityList" value="http://zph.iuoooo.com/ADiyGroup/FDiyGroup"/>
    <add key="CBCUrl" value="http://cbc.iuoooo.com/"/>
    <add key="CSSUrl" value="http://css.iuoooo.com"/>
    <add key="AssumeULikeUrl" value="http://itemreccontrol.iuoooo.com:8050/?{&quot;cmdtype&quot;:&quot;realtime&quot;,&quot;userid&quot;:&quot;{userId}&quot;,&quot;itemid&quot;:&quot;{itemId}&quot;,&quot;datetime&quot;:&quot;{datetime}&quot;}"/>
    <add key="AssumeULikeUrlHttps" value="https://itemreccontrol.iuoooo.com/?{&quot;cmdtype&quot;:&quot;realtime&quot;,&quot;userid&quot;:&quot;{userId}&quot;,&quot;itemid&quot;:&quot;{itemId}&quot;,&quot;datetime&quot;:&quot;{datetime}&quot;}"/>
    <!--H5平台登录页-->
    <add key ="PipLogin" value="http://pip.iuoooo.com/mypager/pages/userLogin.html?appId={0}&amp;url={1}"/>
    <!--H5平台登录页-->
    <add key ="PipWxLogin" value="http://pip.iuoooo.com/newpager/view/userLogin.html?wechatLogin=1&amp;appId={0}&amp;url={1}&amp;rad={2}"/>
    <!--H5 IM-->
    <add key ="WebIMUrl" value="http://webim.iuoooo.com:5163/UserServiceProxy.html?appId={0}"/>
    <!--自提订单未支付超时时间 单位：秒-->
    <add key="SelfTakeOrderExpirePay" value="1800"/>
    <!--图片上传-->
    <add key="DefaultImgSize" value="51200"/>
    <!--请求超时时间单位(毫秒)-->
    <add key="RequestTimeOut" value="20000"/>
    <!--是否启用直接到账退款-->
    <add key="IsSystemDirectRefund" value="true"/>
    <!--app直播地址-->
    <add key="EquipmentUrl" value="http://lvp.iuoooo.com/CEquipment/Show?appId={0}&amp;jhWebView=1&amp;source=share"/>
    <!--下载打印控件的配置目录-->
    <add key="DownPrintControlPath" value="D:\G3\Jinher.AMP.BTP\PintControl"/>
    <add key="IsChannelShare" value="false"/>
    <!--中石化极速快递appkey-->
    <add key="zshappkey" value="88aebbe67b75c0a8"/>
    <!--中石化 电子发票 销方税号-->
    <add key="saleTax" value="911100008011253056"/>
    <!--中石化 电子发票 开票人-->
    <add key="kpy" value="管理员"/>
    <!--中石化 电子发票 允许开票APPID-->
    <add key="InvoiceAppId" value="8b4d3317-6562-4d51-bef1-0c05694ac3a6"/>
    <!--盈科商户编码-->
    <add key="YingKeBuCode" value="1510644057"/>
    <!--盈科商户密钥-->
    <add key="YingKeSecretKey" value="eqLYi9SdzhAEtfQKZcM8IVyCB6am7sH0pUlP3gWN52nRx4TkJ1jbwvuGrOoXFD"/>
    <!--盈科电子券获取接口地址-->
    <add key="YingKeGetCouponUrl" value="http://bj.crm.ejoy.sinopec.com/ncmi/ppjhaction/getSwttypeCouponsJh.action"/>
    <!--易捷北京的APPID集合-->
    <add key="AppIds" value="8B4D3317-6562-4D51-BEF1-0C05694AC3A6,2DA4C1B8-738E-4772-83A4-D72BC440765B,EE522DA3-F3CC-4C55-9223-A75A078809F0,C9661190-3F50-4F72-902C-F850BC0E8085,FD370274-8BDD-4454-AAA6-C96B13FE951E,DCB374B8-C871-4D9D-B282-9953816400AC,B080A1DB-68DE-4B2A-B3E9-FC90EA2C36CB,9C0AE4D2-D7A8-4EFF-BAAD-33441F1F1A7D,B8D94B55-C8A8-48A0-91D5-3A8F7CABC119,4B732B5C-E18B-4535-8948-F7478C212FF0"/>
    <add key="DMWIPs" value="1.202.91.134"/>
    <!--苏宁易购AppId集合-->
    <add key="SappIds" value="D59968DB-FD26-4447-ACB2-D80B08F1157F,33d34813-9cff-4b5a-a200-fa169365531c,f6171910-f9a5-4d83-a5f1-a499b1d3f8bf"/>
    <!--方正电商AppId集合-->
    <add key="FZappIds" value="9f24cf65-9775-4f44-b7a7-8e0a134d5a64"/>
    <!--网易严选AppId集合-->
    <add key="YXAppIds" value="1d769e14-f870-4b19-82ab-875a9e8678e4"/>
    <!--易派客AppId集合-->
    <add key="YPKAppIds" value="811f99dc-b706-429c-a2e5-343081ba0d9b" />
    <!--统计信息APPID集合-->
    <add key="TJAppIds" value="3A77B453-F06B-43E0-9F92-E258CC326C44,E40C5F9C-710C-4C0D-AB2B-F50C03E8FCE5"/>
    <!--有通道费用的APPID集合-->
    <add key="TdAppIds" value="[{'Key':'b01915ba-78d9-4e79-9cf7-24e674773500','Value':'299'},{'Key':'7159ef2f-a438-4962-b902-e3c56a4d2a26','Value':'299'}]"/>
    <!--进销存京东jos系统授权参数-->
    <add key="JdJosAppKey" value="A0EBEE7C0AFE5B7582C6E9CA1B9B3F2B"/>
    <add key="JdJosAppSecret" value="a15526323cf543c89f6fa93395d14907"/>
    <add key="JdJosAccessToken" value="f6b4422c-8c9d-46ab-85a1-ca0466797cea"/>
    <!--海淀阳光餐饮APPID集合-->
    <add key="YangAppIds" value="[]"/>
    <!--苏宁接口调用配置参数-->
    <add key="Suning_UrlBase" value="http://open.suning.com/api/http/sopRequest" />
    <add key="Suning_AppKey" value="0ed0eb8a148a6860374f565085d37a6b" />
    <add key="Suning_AppSecret" value="6c9b40eca71f0a0da2c27e6d39de7f5a" />
    <!--方正接口调用配置参数-->
    <add key="FangZheng_UrlBase" value="https://mall.imoba.com.cn/rest/v2/ws/common" />
    <add key="FangZheng_ShopId" value="ZHONGSHIHUA" />
    <add key="FangZheng_Password" value="lhMg4sUvZ6J93mJa" />
    <!--易派客接口调用配置参数-->
    <add key="YPK_UrlBase" value="https://api.epec.com/apigate/"/>
    <add key="client_id" value="32550000" />
    <add key="client_secret" value="f550e0ed-46d3-48a4-b57f-a3dc0beed1cf" />
    <add key="grant_type" value="password" />
    <add key="companyid" value="100485" />
    <add key="username" value="beijingshiyou" />
    <add key="password" value="BEIJINGshiyou123" />
    <!--快递100接口参数配置-->
    <add key="Express100_UrlBase" value="https://poll.kuaidi100.com/poll/query.do" />
    <add key="Express100_Key" value="PzvmKRTa1982" />
    <add key="Express100_Customer" value="8467327D6A4B9745D3A2334D4D836F1C" />
    <!--CBC域名-->
    <add key="CBCHost" value="cbc.iuoooo.com"/>
    <!--获取苏宁价格的城市Id-->
    <add key="Suning_CityId" value="1" />
    <!--抵用券退款活动ID-->
    <add key="CouponActivityId" value="f413947306714f24bb17262b4f7b99fb"></add>
    <!--运营平台在权限目录的编码-->
    <add key="YlptFeatureCode" value="YunYingPingTai"/>
    <add key="BTPIP" value="101.200.96.240"/>
    <!--mq配置-->
    <add key="MqServerHost" value="10.165.115.53"/>
    <add key="MqUserName" value="clarence"/>
    <add key="MqPassword" value="1qaz@WSX"/>
    <!--保险域名-->
    <add key="InsuranceHost" value="http://eurl.idoutec.cn"/>
  </appSettings>
  <!--sharerPercent:分享人分成，金和分成， commission:佣金设置，单位百分比, description:众销规则说明,dividentContent:红包消息内容, dividentDue：红包保留时长，单位小时,dividentMessageDue ：红包消息保留时长，单位小时-->
  <SaleShare sharerPercent="1,0" commission="0" description="" dividentContent="您获得了一个大红包"  dividentDue ="24"  dividentMessageDue ="48" DownAppId="cf8c55ce-7bcb-4afd-b3c1-ba84c3c45383"/>
  <!-- 电商众销账号 电商众销令牌Id 金和众销账号 -->
  <ShareGoldAccout btpShareGoldAccount="05abc017-4013-458b-bfd0-2e4fc1b7f0b4" btpShareAccountPwd ="E807F1FCF82D132F9BB018CA6738A19F" btpGlodUsageId="6F77755B-409D-4446-B3D2-3F5050539869" jhShareGoldAccount="aadc9dcf-848a-4a39-bd72-3cb23135083a" isBtpVoucherBuyGold="true" isJhVoucherBuyGold="false"/>
  <Crowdfunding dividentContent="您获得了一个大红包"  dividentDue ="24"  dividentMessageDue ="48" warnDividend="0.5" maxDividend="0.99"/>
  <!-- 金和众筹账号 -->
  <CrowdfundingAcount btpCrowdfundingAcount="ea3bc3c0-9297-4da1-81fd-517aab1820f1" btpCrowdfundingPwd="E807F1FCF82D132F9BB018CA6738A19F" btpCrowdfundingUsageId="6F77755B-409D-4446-B3D2-3F5050539869" jhCrowdfundingGoldAccount="96ce48cc-1e62-4acb-b05d-673e51d12ca6" isBtpVoucherBuyGold="true"/>
  <!--邮件发送：发件人账号，发件人密码，发送邮件服务器，发送邮件端口,是否使用ssl连接,收件人,抄送-->
  <EmailSend emailSendName="btp@jinher.com" emailSendPass="amgwMTAx" emailSendHost="smtp.qiye.163.com" emailSendPort="25" emailSendSsl="true" toEmail="yangjz@jinher.com" toCC=""></EmailSend>
  <!--推广主的分成，spreaderPercent：推广主分成，单位百分比-->
  <SpreaderAccount spreaderPercent="0.00" isVoucherBuyGold="true" />
  <!--应用主分成，isSharedShare：分享出去的链接购买是否分成，isShareFromUrl：是否只从前端url判断是否有分成，ownerPercent：应用主分成比例-->
  <ShareOwner isSharedShare="true" isShareFromUrl="false" ownerPercent="0.00" appMinCalcScore="0" isVoucherBuyGold="true" />
  <!--金和电商分润 -->
  <JinherBtpAccount btpGoldAccount="5a00fce2-38c2-4c8c-9ddb-9c0d38844335" isVoucherBuyGold="false"/>
  <!--总代获得金额比例-->
  <GeneralAgencyAccount generalAgencyPercent="0.98" jhPercent="0.02" isVoucherBuyGold="true"/>
  <!--总代金和分成 -->
  <JhAccount jhGoldAccount="5a00fce2-38c2-4c8c-9ddb-9c0d38844335" isVoucherBuyGold="false"/>
  <!--金和购买协议-->
  <RentAgreement>
    <items>
      <add id="be143493-e0fb-4792-8060-765ed8926693" name="金和电商APP"/>
      <add id="a57775b7-9f7a-4ded-a056-b4d35f6d4356" name="金和电商APP"/>
      <add id="03054acf-a73e-447b-9eb3-869eec3d6519" name="金和营销APP"/>
      <add id="594d361a-d9c3-4e92-bc2f-2fe6492c0bb2" name="金和营销APP"/>
      <add id="47B85623-C9A7-49D0-A3A4-52C3B4A6ACBD" name="金和旗舰电商APP"/>
      <add id="2fbba289-d06d-48cd-9bf5-82811aefb630" name="金和旗舰电商APP"/>
      <add id="E4016BE6-1C7A-4DD5-8086-FCAEF5F75AFF" name="老师APP"/>
      <add id="1d1eec5d-a40b-48d9-a35f-0ac7ebb77ab9" name="老师APP"/>
      <add id="E72548DF-95FF-4482-A8B2-85C71CB4202B" name="企业微信"/>
      <add id="25b4ed28-d298-455f-822b-267b61b6707e" name="企业微信"/>
      <add id="4E045007-F34B-4394-A0E1-06611864792C" name="金和经营APP"/>
      <add id="BCE8C7F5-CB5A-4A01-A1DF-6A63D0EAB266" name="金和企业管理APP"/>
      <add id="FE632812-74FC-46B3-84EE-E7B096BD927C" name="金和旗舰营销APP"/>
    </items>
  </RentAgreement>
  <!--订单回调：需替换的字段，请填写Jinher.AMP.BTP.Deploy.CustomDTO.CreateOrderToFspDTO属性名-->
  <orderPayCallBack common="http://btp.iuoooo.com/payfinish/{EsAppId}/{OrderId}/{AppId}" cy="http://btp.iuoooo.com/cyorderpayback/{EsAppId}/" diyGroup="http://btp.iuoooo.com/diygroupdetail/{EsAppId}/{DiyGroupId}/{ShareId}" />
  <ApplyNameCategory>
    <items>
      <add category="0" name="姓名"/>
      <add category="1" name="手机号"/>
      <add category="2" name="微信号"/>
      <add category="999" name="自定义"/>
    </items>
  </ApplyNameCategory>
  <weChatSpreader appId="b93e575b-1bc8-45c5-8123-f43325d7a208" messageTitle="手机投影连接器" messageDesc="购买立减10%" messagePic="http://btp.fileserver.iuoooo.com/Jinher.JAP.BaseApp.FileServer.UI/FileManage/GetFile?fileURL=29e54e46-3e17-4ca4-8f03-db71fb8f966e/2017053113/c4e952da-7a2d-49e9-acae-c524505f1cee_8a735281-0907-4533-bfad-d636d146ed2e.jpg"></weChatSpreader>
</configuration>