<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="SaleShare" type="Jinher.AMP.BTP.Common.SaleShareModel, Jinher.AMP.BTP.Common" />
    <section name="ShareGoldAccout" type="Jinher.AMP.BTP.Common.ShareGoldAccoutModel, Jinher.AMP.BTP.Common" />
    <section name="Crowdfunding" type="Jinher.AMP.BTP.Common.CrowdfundingConfig, Jinher.AMP.BTP.Common" />
    <section name="CrowdfundingAcount" type="Jinher.AMP.BTP.Common.CrowdfundingAccountModel, Jinher.AMP.BTP.Common" />
    <section name="EmailSend" type="Jinher.AMP.BTP.Common.EmailSendModel, Jinher.AMP.BTP.Common" />
    <section name="SpreaderAccount" type="Jinher.AMP.BTP.Common.SpreaderAccountModel, Jinher.AMP.BTP.Common" />
    <section name="ShareOwner" type="Jinher.AMP.BTP.Common.ShareOwnerModel, Jinher.AMP.BTP.Common" />
    <section name="JinherBtpAccount" type="Jinher.AMP.BTP.Common.JinherBtpAccountModel, Jinher.AMP.BTP.Common" />
    <section name="GeneralAgencyAccount" type="Jinher.AMP.BTP.Common.GeneralAgencyAccountModel, Jinher.AMP.BTP.Common" />
    <section name="JhAccount" type="Jinher.AMP.BTP.Common.JhAccountModel, Jinher.AMP.BTP.Common" />
    <section name="RentAgreement" type="Jinher.AMP.BTP.Common.RentAgreementConfigSection, Jinher.AMP.BTP.Common" />
    <section name="orderPayCallBack" type="Jinher.AMP.BTP.Common.OrderPayBackSection, Jinher.AMP.BTP.Common" />
    <section name="ApplyNameCategory" type="Jinher.AMP.BTP.Common.ApplyNameCategoryConfigSection, Jinher.AMP.BTP.Common" />
    <section name="weChatSpreader" type="Jinher.AMP.BTP.Common.WeChatSpreaderSection, Jinher.AMP.BTP.Common" />
  </configSections>
  <appSettings>
    <add key="FileServerUrl" value="http://testfileserver.iuoooo.com/Jinher.JAP.BaseApp.FileServer.UI/FileManage/GetFile?fileURL="/>
    <add key="CommonFileServerUrl" value="http://testfileserver.iuoooo.com/Jinher.JAP.BaseApp.FileServer.UI/FileManage/GetFile?fileURL="/>
    <add key="GoldPaySign" value="TempSillySign"/>
    <add key="BTPAppres" value="http://testappres.iuoooo.com"/>
    <add key="BTPBac" value="http://testbac.iuoooo.com"/>
    <add key="GoodsMaxSelectedCount" value="10"/>
    <add key="AppUrl" value="http://testappres.iuoooo.com/"/>
    <add key="GoldPayNotifySign" value="TempSillySign"/>
    <add key ="UrlPrefix" value="http://test"/>
    <add key="AppDownloadUrl" value="http://testappres.iuoooo.com/app/GetAppDetail?appId="/>
    <add key="CommodityUrl" value="http://testbtp.iuoooo.com/Mobile/CommodityView"/>
    <add key ="SearchServiceUrl" value="http://183.56.132.225:10000/"/>
    <add key="PartnerPrivKey" value="123987kawhodlksdoiewo65456456" />
    <add key="Environment" value="Test" />
    <add key="CommonUserName" value="btp@jinher.com" />
    <add key="CommonUserPass" value="amgwMTAx" />
    <add key="ZPHUrl" value="http://testzph.iuoooo.com/" />
    <add key="BtpDomain" value="http://testbtp.iuoooo.com/"/>
    <add key="PortalUrl" value="http://testportal.iuoooo.com"/>
    <add key="FSPUrl" value="http://testfsp.iuoooo.com"/>
    <add key="PromotionUrl" value="http://testpromotion.iuoooo.com"/>
    <!--我的预约-->
    <add key="MyBespeakUrl" value="http://testzph.iuoooo.com/Presell/MyPresellComdty"/>
    <add key="ZPHAppId" value="1375AD99-DE3B-4E93-80D5-5B96E1588967"/>
    <!--省市列表选择页-->
    <add key="ProvinceCityUrl" value="http://testsns.iuoooo.com/AppDistrict"/>
    <!--公众号的唯一标识-->
    <add key="WeixinAppId" value="wx49b71e7ff2f4f3b9"/>
    <!--公众号的appsecret 唯一凭证密钥-->
    <add key="WeixinAppIdSecret" value="41575b30702c603f0314d04d6c1c11c6"/>
    <!--获取access_token服务地址-->
    <add key="WeixinAccessTokenUrl" value="https://api.weixin.qq.com/sns/oauth2/access_token"/>
    <add key="MinClearningDate" value="2015-07-28"/>
    <add key="WxSignFlag" value="Y"/>
    <add key="WxDomain" value="www.zhengpino2o.com"/>
    <add key="BacEUrl" value="http://testbac.e.iuoooo.com"/>
    <add key="SelfTakeAppId" value="8db71a95-dd15-4bfe-a606-06aeb419b3f6"/>
    <!--可操作电商缓存的用户列表。-->
    <add key="BtpCacheManagerUsers" value="18911666985;18911666739;13488702946;13366562758;15652911893;13520935782;13810268953;18610838827;13513513500"/>
    <add key="MinScoreOrderDate" value="2016-1-17"/>
    <!--二维码图片地址-->
    <add key="CommonFileServerUrl" value="http://testfileserver.iuoooo.com/Jinher.JAP.BaseApp.FileServer.UI/FileManage/GetFile?fileURL="/>
    <add key="CouponFlag" value="0"/>
    <add key="DSSUrl" value="http://testdss.iuoooo.com"/>
    <!--快递鸟分配给商家的电商ID.-->
    <add key="KdniaoEBusinessID" value="1255545"/>
    <!--快递鸟分配给商家的电商加密私钥.-->
    <add key="KdniaoAppKey" value="5531914a-a554-4aa9-ac68-cf4a1ffb1cee"/>
    <!--快递鸟订阅物流信息接口地址.-->
    <add key="KdniaoSubscribeReqURL" value="http://api.kdniao.cc/Ebusiness/EbusinessOrderHandle.aspx"/>
    <!--调用快递鸟订阅物流信息出错多少次停止订阅.-->
    <add key="KdniaoSubscribeErrorCount" value="3"/>
    <!--当前使用的快递平台（kdniao、kuaidi100）-->
    <add key="ExpressPlat" value="kdniao"/>
    <!--是否启用众筹  如果需要启用，需要同时修改/Content/Mobile/Common.js 中GetCrowdfundingState()函数-->
    <add key="CrowdfundingFlag" value="false"/>
    <!--商品分类管理在bac的功能项编号-->
    <add key="CategoryManageFunctionCode" value="CategoryManage"/>
    <add key="ScoreCostList" value="1,10,100,1000,10000,100000"/>
    <!--显示上传图片的商品列表-->
    <add key="UploadFileCommodityList" value="95c4ca86-9d6f-49c3-92c6-0e110e03d770,be02359f-5c80-437d-b506-f61abaa0acfa"/>
    <!--显示协议1的商品列表-->
    <add key="Contract1CommodityList" value="95c4ca86-9d6f-49c3-92c6-0e110e03d770,be02359f-5c80-437d-b506-f61abaa0acfa"/>
    <!--显示协议2的商品列表-->
    <add key="Contract2CommodityList" value="95c4ca86-9d6f-49c3-92c6-0e110e03d770,be02359f-5c80-437d-b506-f61abaa0acfa"/>
    <!--高德地图获取地址对应的经纬度接口地址-->
    <add key="AmapGetLongLatitudeByAddress" value="http://restapi.amap.com/v3/geocode/geo"/>
    <!--调用高德地图所需要的key-->
    <add key="AmapKey" value="c0d798fe31257ef4b30987221f01a625"/>
    <!--众销是否以积分形式发放-->
    <add key="IsShareAsScore" value="true"/>
    <!--sns服务地址-->
    <add key="SNSUrl" value="http://testsns.iuoooo.com"/>
    <!--视频资源库地址-->
    <add key="VideoHost" value="http://testmvp.iuoooo.com//Media/MediaSelectFromApp"/>
    <!--h5应用首页地址-->
    <add key="H5HomePage" value="http://testwap.iuoooo.com/appphonepage?appId={0}&amp;defaultLode=1"/>
    <!--拼团商品列表-->
    <add key="DiyGroupCommodityList" value="http://testzph.iuoooo.com/ADiyGroup/FDiyGroup"/>
    <add key="CBCUrl" value="http://testcbc.iuoooo.com/"/>
    <add key="CSSUrl" value="http://testcss.iuoooo.com"/>
    <add key="AssumeULikeUrl" value="http://testitemreccontrol.iuoooo.com:8050/?{&quot;cmdtype&quot;:&quot;realtime&quot;,&quot;userid&quot;:&quot;{userId}&quot;,&quot;itemid&quot;:&quot;{itemId}&quot;,&quot;datetime&quot;:&quot;{datetime}&quot;}"/>
    <add key="AssumeULikeUrlHttps" value="https://testitemreccontrol.iuoooo.com/?{&quot;cmdtype&quot;:&quot;realtime&quot;,&quot;userid&quot;:&quot;{userId}&quot;,&quot;itemid&quot;:&quot;{itemId}&quot;,&quot;datetime&quot;:&quot;{datetime}&quot;}"/>
    <!--H5平台登录页-->
    <add key ="PipLogin" value="http://testpip.iuoooo.com/mypager/pages/userLogin.html?appId={0}&amp;url={1}"/>
    <!--H5平台登录页-->
    <add key ="PipWxLogin" value="http://testpip.iuoooo.com/newpager/view/userLogin.html?wechatLogin=1&amp;appId={0}&amp;url={1}&amp;rad={2}"/>
    <!--H5 IM-->
    <add key ="WebIMUrl" value="http://testwebim.iuoooo.com:5163/UserServiceProxy.html?appId={0}"/>
    <!--自提订单未支付超时时间 单位：秒-->
    <add key="SelfTakeOrderExpirePay" value="1800"/>
    <!--图片上传-->
    <add key="DefaultImgSize" value="51200"/>
    <!--请求超时时间单位(毫秒)-->
    <add key="RequestTimeOut" value="20000"/>
    <!--是否启用直接到账退款-->
    <add key="IsSystemDirectRefund" value="true"/>
    <!--app直播地址-->
    <add key="EquipmentUrl" value="http://testlvp.iuoooo.com/CEquipment/Show?appId={0}&amp;jhWebView=1&amp;source=share"/>
    <!--下载打印控件的配置目录-->
    <add key="DownPrintControlPath" value="D:\work\01-AMP\开发库\08-Program\Product\BTP-CY\PrintControl"/>
    <add key="IsChannelShare" value="false"/>
    <!--中石化极速快递appkey-->
    <add key="zshappkey" value="88aebbe67b75c0a8"/>
    <!--中石化 电子发票 销方税号-->
    <add key="saleTax" value="110101TRDX8RQU1"/>
    <!--中石化 电子发票 开票人-->
    <add key="kpy" value="管理员"/>
    <!--中石化 电子发票 允许开票APPID-->
    <add key="InvoiceAppId" value="d8146573-776e-4c0e-a593-f01a9bc95381"/>
    <!--盈科商户编码-->
    <add key="YingKeBuCode" value="1504768838"/>
    <!--盈科商户密钥-->
    <add key="YingKeSecretKey" value="UQCzZOX3wuaKkpY6A8dDmIMWsnq1EgFByPv0LGfxcTr2eRbH57jVNh9toSJi4l"/>
    <!--盈科电子券获取接口地址-->
    <add key="YingKeGetCouponUrl" value="http://dev.crm.efueloil.cn/ncmi/ppjhaction/getSwttypeCouponsJh.action"/>
    <!--易捷北京的APPID集合-->
    <add key="AppIds" value="80696942-7429-4e64-8800-d4f3ee61a007"/>
    <!--苏宁易购AppId集合-->
    <add key="SappIds" value="79620639-4313-4c2d-8039-c8133545e8dc"/>
    <!--方正电商AppId集合-->
    <add key="FZappIds" value="5dfe24c8-529f-4bb6-867c-c9b8f3009a3a"/>
    <!--网易严选AppId集合-->
    <add key="YXAppIds" value="1c7cc125-76c6-463c-84f2-784cb0e2c370"/>
    <!--易派客AppId集合-->
    <add key="YPKAppIds" value="aa0ae7c2-6a4b-427e-9646-a3b333a534d8" />
    <!--统计信息APPID集合-->
    <add key="TJAppIds" value="3A77B453-F06B-43E0-9F92-E258CC326C44,E40C5F9C-710C-4C0D-AB2B-F50C03E8FCE5"/>
    <!--有通道费用的APPID集合-->
    <add key="TdAppIds" value="[{'Key':'d0d022dc-cfe5-494d-8306-c39eec532969','Value':'299'}]"/>
    <!--进销存京东jos系统授权参数-->
    <add key="JdJosAppKey" value="A0EBEE7C0AFE5B7582C6E9CA1B9B3F2B"/>
    <add key="JdJosAppSecret" value="a15526323cf543c89f6fa93395d14907"/>
    <add key="JdJosAccessToken" value="f6b4422c-8c9d-46ab-85a1-ca0466797cea"/>
    <!--海淀阳光餐饮APPID集合-->
    <add key="YangAppIds" value="[{'Key':'B3AD5ABA-AE1E-4F4B-BA55-C5FB0375DE3C','Value':'B3AD5ABA-AE1E-4F4B-BA55-C5FB0375DE3C,04029F52-7AB1-49A0-9622-73E2E6DCEDF6'}]"/>
    <!--苏宁接口调用配置参数-->
    <add key="Suning_UrlBase" value="http://openpre.cnsuning.com/api/http/sopRequest" />
    <add key="Suning_AppKey" value="a1b35c52777c8b160d7677ee84bca9aa" />
    <add key="Suning_AppSecret" value="ca206e310feb8ecc7269b975fbd97559" />
    <!--方正接口调用配置参数-->
    <add key="FangZheng_UrlBase" value="https://pay.imoba.com.cn/rest/v2/ws/common" />
    <add key="FangZheng_ShopId" value="ZHONGSHIHUA" />
    <add key="FangZheng_Password" value="ioPQUfrb6myAkzHH" />
    <!--易派客接口调用配置参数-->
    <add key="YPK_UrlBase" value="http://uat-api.epec.com/apigate/"/>
    <add key="client_id" value="32550000" />
    <add key="client_secret" value="f550e0ed-46d3-48a4-b57f-a3dc0beed1cf" />
    <add key="grant_type" value="password" />
    <add key="companyid" value="100485" />
    <add key="username" value="api_sinopecbjsy" />
    <add key="password" value="Aa123456" />
    <!--快递100接口参数配置-->
    <add key="Express100_UrlBase" value="https://poll.kuaidi100.com/poll/query.do" />
    <add key="Express100_Key" value="PzvmKRTa1982" />
    <add key="Express100_Customer" value="8467327D6A4B9745D3A2334D4D836F1C" />
    <!--CBC域名-->
    <add key="CBCHost" value="testcbc.iuoooo.com"/>
    <!--获取苏宁价格的城市Id-->
    <add key="Suning_CityId" value="1" />
    <!--运营平台在权限目录的编码-->
    <add key="YlptFeatureCode" value="YunYingPingTai"/>
    <add key="BTPIP" value="101.200.96.240"/>
    <!--mq配置-->
    <add key="MqServerHost" value="127.0.0.1"/>
    <add key="MqUserName" value="guest"/>
    <add key="MqPassword" value="thanksjeff"/>
    <!--保险域名-->
    <add key="InsuranceHost" value="http://euat.idoutec.cn"/>
  </appSettings>
  <!--sharerPercent:分享人分成，金和分成， commission:佣金设置，单位百分比, description:众销规则说明,dividentContent:红包消息内容, dividentDue：红包保留时长，单位小时,dividentMessageDue ：红包消息保留时长，单位小时-->
  <SaleShare sharerPercent="1,0" commission="0.03" description="" dividentContent="您获得了一个大红包"  dividentDue ="24"  dividentMessageDue ="48" DownAppId="a4ce9c18-6df2-4c9d-a3b6-b0175effe498"/>
  <!-- 电商众销账号 电商众销令牌Id 金和众销账号 -->
  <ShareGoldAccout btpShareGoldAccount="05abc017-4013-458b-bfd0-2e4fc1b7f0b4" btpShareAccountPwd ="E807F1FCF82D132F9BB018CA6738A19F" btpGlodUsageId="6F77755B-409D-4446-B3D2-3F5050539869" jhShareGoldAccount="aadc9dcf-848a-4a39-bd72-3cb23135083a" isBtpVoucherBuyGold="true" isJhVoucherBuyGold="false"/>
  <Crowdfunding dividentContent="您获得了一个大红包"  dividentDue ="24"  dividentMessageDue ="48" warnDividend="0.5" maxDividend="0.99"/>
  <!-- 金和众筹账号 -->
  <CrowdfundingAcount btpCrowdfundingAcount="ea3bc3c0-9297-4da1-81fd-517aab1820f1" btpCrowdfundingPwd="E807F1FCF82D132F9BB018CA6738A19F" btpCrowdfundingUsageId="6F77755B-409D-4446-B3D2-3F5050539869" jhCrowdfundingGoldAccount="96ce48cc-1e62-4acb-b05d-673e51d12ca6" isBtpVoucherBuyGold="true"/>
  <!--邮件发送：发件人账号，发件人密码，发送邮件服务器，发送邮件端口,是否使用ssl连接,收件人,抄送-->
  <EmailSend emailSendName="btp@jinher.com" emailSendPass="amgwMTAx" emailSendHost="smtp.qiye.163.com" emailSendPort="25" emailSendSsl="true" toEmail="yangjz@jinher.com" toCC=""></EmailSend>
  <!--推广主的分成，spreaderPercent：推广主分成，单位百分比-->
  <SpreaderAccount spreaderPercent="0.04" isVoucherBuyGold="true" />
  <!--应用主分成，isSharedShare：分享出去的链接购买是否分成，isShareFromUrl：是否只从前端url判断是否有分成，ownerPercent：应用主分成比例-->
  <ShareOwner isSharedShare="true" isShareFromUrl="false" ownerPercent="0.04" appMinCalcScore="0" isVoucherBuyGold="true" />
  <!--金和电商分润 -->
  <JinherBtpAccount btpGoldAccount="5a00fce2-38c2-4c8c-9ddb-9c0d38844335" isVoucherBuyGold="false"/>
  <!--总代获得金额比例-->
  <GeneralAgencyAccount generalAgencyPercent="0.98" jhPercent="0.02" isVoucherBuyGold="false"/>
  <!--总代金和分成 -->
  <JhAccount jhGoldAccount="5a00fce2-38c2-4c8c-9ddb-9c0d38844335" isVoucherBuyGold="true"/>
  <!--金和购买协议-->
  <RentAgreement>
    <items>
      <!--id=商品Id，name=协议名称-->
      <add id="95c4ca86-9d6f-49c3-92c6-0e110e03d770" name="金和电商APP"/>
      <add id="be02359f-5c80-437d-b506-f61abaa0acfa" name="金和营销APP"/>
      <add id="ff105a67-76ae-404c-bdef-7f94f2bbb3c7" name="自提test" />
    </items>
  </RentAgreement>
  <!--订单回调：需替换的字段，请填写Jinher.AMP.BTP.Deploy.CustomDTO.CreateOrderToFspDTO属性名-->
  <orderPayCallBack common="http://testbtp.iuoooo.com/payfinish/{EsAppId}/{OrderId}/{AppId}" cy="http://testbtp.iuoooo.com/cyorderpayback/{EsAppId}/" diyGroup="http://testbtp.iuoooo.com/diygroupdetail/{EsAppId}/{DiyGroupId}/{ShareId}" />
  <ApplyNameCategory>
    <items>
      <add category="0" name="姓名"/>
      <add category="1" name="手机号"/>
      <add category="2" name="微信号"/>
      <add category="999" name="自定义"/>
    </items>
  </ApplyNameCategory>
  <weChatSpreader appId="e34feee2-00e7-4043-bed8-03753e65db3c" messageTitle="正品尖货优惠购~" messageDesc="商品超低嫁，欢迎您来娶~" messagePic="http://btp.fileserver.iuoooo.com/Jinher.JAP.BaseApp.FileServer.UI/FileManage/GetFile?fileURL=29e54e46-3e17-4ca4-8f03-db71fb8f966e/2017052714/9a816ae5-d813-449e-a99c-a57383d42b38_8fb8abb2-fd4f-4668-b757-5fafa4b77658.jpg"></weChatSpreader>
</configuration>

