<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--IOC-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <!--IOC-->
  <unity>
    <containers>
      <container name="containerOne">
        <types>
          <!--保存业务外观类：代理调用-->
          <type name="Jinher.JAP.BF.IService.Interface.ISaveCommand" type="Jinher.JAP.BF.IService.Interface.ISaveCommand,Jinher.JAP.BF.IBP" mapTo="Jinher.JAP.BF.BP.Agent.Base.SaveCommandAgent,Jinher.JAP.BF.IBP" />
          <!--删除业务外观类：代理调用-->
          <type name="Jinher.JAP.BF.IService.Interface.IDeleteCommand" type="Jinher.JAP.BF.IService.Interface.IDeleteCommand,Jinher.JAP.BF.IBP" mapTo="Jinher.JAP.BF.BP.Agent.Base.DeleteCommandAgent,Jinher.JAP.BF.IBP" />
          <!--查询业务外观：代理调用-->
          <type name="Jinher.JAP.BF.IService.Interface.ILoadCommand" type="Jinher.JAP.BF.IService.Interface.ILoadCommand,Jinher.JAP.BF.IBP" mapTo="Jinher.JAP.BF.BP.Agent.Base.LoadCommandAgent,Jinher.JAP.BF.IBP" />
          <!--获取公共资源外观类：代理调用-->
          <type name="Jinher.JAP.RM.IService.IPublicResource" type="Jinher.JAP.RM.IService.IPublicResource,Jinher.JAP.RM.IBP" mapTo="Jinher.JAP.RM.BP.Agent.PublicResourceAgent,Jinher.JAP.RM.IBP" />
          <!--获取业务资源外观类：代理调用-->
          <type name="Jinher.JAP.RM.IService.IResource" type="Jinher.JAP.RM.IService.IResource,Jinher.JAP.RM.IBP" mapTo="Jinher.JAP.RM.BP.Agent.ResourceAgent,Jinher.JAP.RM.IBP" />
          <!--异常处理服务：代理调用-->
          <type name="Jinher.JAP.Exception.IService.IExceptionService" type="Jinher.JAP.Exception.IService.IExceptionService,Jinher.JAP.Exception.ISV" mapTo="Jinher.JAP.Exception.SV.Agent.ExceptionHelperSVAgent,Jinher.JAP.Exception.ISV" />
          <!--自定义查询服务：代理调用-->
          <type name="Jinher.JAP.BaseApp.UQS.IService.IUnitedQueryService" type="Jinher.JAP.BaseApp.UQS.IService.IUnitedQueryService,Jinher.JAP.BaseApp.UQS.IBP" mapTo="Jinher.JAP.BaseApp.UQS.BP.Agent.UnitedQueryServiceAgent,Jinher.JAP.BaseApp.UQS.IBP" />
          <!--搜索引擎:代理-->
          <type name="Jinher.JAP.SE.ISV.IService.ISearch" type="Jinher.JAP.SE.ISV.IService.ISearch,Jinher.JAP.SE.ISV" mapTo="Jinher.JAP.SE.ISV.Agent.SearchAgent,Jinher.JAP.SE.ISV" />
          <type name="Jinher.AMP.Track.IBP.IService.IUserSettingQuery" type="Jinher.AMP.Track.IBP.IService.IUserSettingQuery,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.UserSettingQueryAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IUserSettingManage" type="Jinher.AMP.Track.IBP.IService.IUserSettingManage,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.UserSettingManageAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IUserInfoQuery" type="Jinher.AMP.Track.IBP.IService.IUserInfoQuery,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.UserInfoQueryAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IUserInfoManage" type="Jinher.AMP.Track.IBP.IService.IUserInfoManage,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.UserInfoManageAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.ITrackQuery" type="Jinher.AMP.Track.IBP.IService.ITrackQuery,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.TrackQueryAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.ITrackManage" type="Jinher.AMP.Track.IBP.IService.ITrackManage,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.TrackManageAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IShareTrackQuery" type="Jinher.AMP.Track.IBP.IService.IShareTrackQuery,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.ShareTrackQueryAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IShareTrackManage" type="Jinher.AMP.Track.IBP.IService.IShareTrackManage,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.ShareTrackManageAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IShareCommentQuery" type="Jinher.AMP.Track.IBP.IService.IShareCommentQuery,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.ShareCommentQueryAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IShareCommentManage" type="Jinher.AMP.Track.IBP.IService.IShareCommentManage,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.ShareCommentManageAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.ISeekHelpQuery" type="Jinher.AMP.Track.IBP.IService.ISeekHelpQuery,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.SeekHelpQueryAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.ISeekHelpManage" type="Jinher.AMP.Track.IBP.IService.ISeekHelpManage,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.SeekHelpManageAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IReportSafetyQuery" type="Jinher.AMP.Track.IBP.IService.IReportSafetyQuery,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.ReportSafetyQueryAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IReportSafetyManage" type="Jinher.AMP.Track.IBP.IService.IReportSafetyManage,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.ReportSafetyManageAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IRemindQuery" type="Jinher.AMP.Track.IBP.IService.IRemindQuery,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.RemindQueryAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IPhotoGalleryQuery" type="Jinher.AMP.Track.IBP.IService.IPhotoGalleryQuery,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.PhotoGalleryQueryAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IMessageQuery" type="Jinher.AMP.Track.IBP.IService.IMessageQuery,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.MessageQueryAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IMessageManage" type="Jinher.AMP.Track.IBP.IService.IMessageManage,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.MessageManageAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.ILocateUpload" type="Jinher.AMP.Track.IBP.IService.ILocateUpload,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.LocateUploadAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IBabyTrackQuery" type="Jinher.AMP.Track.IBP.IService.IBabyTrackQuery,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.BabyTrackQueryAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IBabyTrackManage" type="Jinher.AMP.Track.IBP.IService.IBabyTrackManage,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.BabyTrackManageAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IBabyQuery" type="Jinher.AMP.Track.IBP.IService.IBabyQuery,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.BabyQueryAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IBabyManage" type="Jinher.AMP.Track.IBP.IService.IBabyManage,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.BabyManageAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Track.IBP.IService.IAppQuery" type="Jinher.AMP.Track.IBP.IService.IAppQuery,Jinher.AMP.Track.IBP" mapTo="Jinher.AMP.Track.IBP.Agent.AppQueryAgent,Jinher.AMP.Track.IBP" />
          <type name="Jinher.AMP.Portal.ISV.IService.IEMBSubscriberManage" type="Jinher.AMP.Portal.ISV.IService.IEMBSubscriberManage,Jinher.AMP.Portal.ISV" mapTo="Jinher.AMP.Portal.ISV.Agent.EMBSubscriberManageAgent,Jinher.AMP.Portal.ISV" />
          <type name="Jinher.AMP.Portal.IBP.IService.IPortalQuery" type="Jinher.AMP.Portal.IBP.IService.IPortalQuery,Jinher.AMP.Portal.IBP" mapTo="Jinher.AMP.Portal.IBP.Agent.PortalQueryAgent,Jinher.AMP.Portal.IBP" />
          <type name="Jinher.AMP.Portal.IBP.IService.IPortalManage" type="Jinher.AMP.Portal.IBP.IService.IPortalManage,Jinher.AMP.Portal.IBP" mapTo="Jinher.AMP.Portal.IBP.Agent.PortalManageAgent,Jinher.AMP.Portal.IBP" />
          <type name="Jinher.AMP.Info.ISV.IService.IInfoQuery" type="Jinher.AMP.Info.ISV.IService.IInfoQuery,Jinher.AMP.Info.ISV" mapTo="Jinher.AMP.Info.ISV.Agent.InfoQueryAgent,Jinher.AMP.Info.ISV" />
          <type name="Jinher.AMP.Info.ISV.IService.IInfoManage" type="Jinher.AMP.Info.ISV.IService.IInfoManage,Jinher.AMP.Info.ISV" mapTo="Jinher.AMP.Info.ISV.Agent.InfoManageAgent,Jinher.AMP.Info.ISV" />
          <type name="Jinher.AMP.EBC.IBP.IService.IEmployee" type="Jinher.AMP.EBC.IBP.IService.IEmployee,Jinher.AMP.EBC.IBP" mapTo="Jinher.AMP.EBC.IBP.Agent.EmployeeAgent,Jinher.AMP.EBC.IBP" />
          <type name="Jinher.AMP.EBC.IBP.IService.IFeatureInfo" type="Jinher.AMP.EBC.IBP.IService.IFeatureInfo,Jinher.AMP.EBC.IBP" mapTo="Jinher.AMP.EBC.IBP.Agent.FeatureInfoAgent,Jinher.AMP.EBC.IBP" />
          <type name="Jinher.AMP.EBC.IBP.IService.IOrganization" type="Jinher.AMP.EBC.IBP.IService.IOrganization,Jinher.AMP.EBC.IBP" mapTo="Jinher.AMP.EBC.IBP.Agent.OrganizationAgent,Jinher.AMP.EBC.IBP" />
          <type name="Jinher.AMP.EBC.IBP.IService.IOrganizationManagement" type="Jinher.AMP.EBC.IBP.IService.IOrganizationManagement,Jinher.AMP.EBC.IBP" mapTo="Jinher.AMP.EBC.IBP.Agent.OrganizationManagementAgent,Jinher.AMP.EBC.IBP" />
          <type name="Jinher.AMP.EBC.IBP.IService.IOrganizationQuery" type="Jinher.AMP.EBC.IBP.IService.IOrganizationQuery,Jinher.AMP.EBC.IBP" mapTo="Jinher.AMP.EBC.IBP.Agent.OrganizationQueryAgent,Jinher.AMP.EBC.IBP" />
          <type name="Jinher.AMP.EBC.IBP.IService.IRole" type="Jinher.AMP.EBC.IBP.IService.IRole,Jinher.AMP.EBC.IBP" mapTo="Jinher.AMP.EBC.IBP.Agent.RoleAgent,Jinher.AMP.EBC.IBP" />
          <type name="Jinher.AMP.EBC.IBP.IService.IRoleFeature" type="Jinher.AMP.EBC.IBP.IService.IRoleFeature,Jinher.AMP.EBC.IBP" mapTo="Jinher.AMP.EBC.IBP.Agent.RoleFeatureAgent,Jinher.AMP.EBC.IBP" />
          <type name="Jinher.AMP.EBC.IBP.IService.IRoleMenu" type="Jinher.AMP.EBC.IBP.IService.IRoleMenu,Jinher.AMP.EBC.IBP" mapTo="Jinher.AMP.EBC.IBP.Agent.RoleMenuAgent,Jinher.AMP.EBC.IBP" />
          <type name="Jinher.AMP.EBC.IBP.IService.IRoleUser" type="Jinher.AMP.EBC.IBP.IService.IRoleUser,Jinher.AMP.EBC.IBP" mapTo="Jinher.AMP.EBC.IBP.Agent.RoleUserAgent,Jinher.AMP.EBC.IBP" />
          <type name="Jinher.AMP.Info.IBP.IService.IInfoQuery" type="Jinher.AMP.Info.IBP.IService.IInfoQuery,Jinher.AMP.Info.IBP" mapTo="Jinher.AMP.Info.IBP.Agent.InfoQueryAgent,Jinher.AMP.Info.IBP" />
          <type name="Jinher.AMP.Info.IBP.IService.IInfoManage" type="Jinher.AMP.Info.IBP.IService.IInfoManage,Jinher.AMP.Info.IBP" mapTo="Jinher.AMP.Info.IBP.Agent.InfoManageAgent,Jinher.AMP.Info.IBP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICommodity" type="Jinher.AMP.BTP.IBP.IService.ICommodity,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.IBP.Agent.CommodityAgent,Jinher.AMP.BTP.IBP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICommodityOrder" type="Jinher.AMP.BTP.IBP.IService.ICommodityOrder,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.IBP.Agent.CommodityOrderAgent,Jinher.AMP.BTP.IBP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IDeliveryAddress" type="Jinher.AMP.BTP.IBP.IService.IDeliveryAddress,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.IBP.Agent.DeliveryAddressAgent,Jinher.AMP.BTP.IBP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IPromotion" type="Jinher.AMP.BTP.IBP.IService.IPromotion,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.IBP.Agent.PromotionAgent,Jinher.AMP.BTP.IBP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IStore" type="Jinher.AMP.BTP.IBP.IService.IStore,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.IBP.Agent.StoreAgent,Jinher.AMP.BTP.IBP" />
          <type name="Jinher.AMP.BTP.ISV.IService.ICategory" type="Jinher.AMP.BTP.ISV.IService.ICategory,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.ISV.Agent.CategoryAgent,Jinher.AMP.BTP.ISV" />
          <type name="Jinher.AMP.BTP.ISV.IService.ICollection" type="Jinher.AMP.BTP.ISV.IService.ICollection,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.ISV.Agent.CollectionAgent,Jinher.AMP.BTP.ISV" />
          <type name="Jinher.AMP.BTP.ISV.IService.ICommodityOrder" type="Jinher.AMP.BTP.ISV.IService.ICommodityOrder,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.ISV.Agent.CommodityOrderAgent,Jinher.AMP.BTP.ISV" />
          <type name="Jinher.AMP.BTP.ISV.IService.ICommodity" type="Jinher.AMP.BTP.ISV.IService.ICommodity,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.ISV.Agent.CommodityAgent,Jinher.AMP.BTP.ISV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IDeliveryAddress" type="Jinher.AMP.BTP.ISV.IService.IDeliveryAddress,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.ISV.Agent.DeliveryAddressAgent,Jinher.AMP.BTP.ISV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IMessage" type="Jinher.AMP.BTP.ISV.IService.IMessage,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.ISV.Agent.MessageAgent,Jinher.AMP.BTP.ISV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IPromotion" type="Jinher.AMP.BTP.ISV.IService.IPromotion,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.ISV.Agent.PromotionAgent,Jinher.AMP.BTP.ISV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IReview" type="Jinher.AMP.BTP.ISV.IService.IReview,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.ISV.Agent.ReviewAgent,Jinher.AMP.BTP.ISV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IShoppingCart" type="Jinher.AMP.BTP.ISV.IService.IShoppingCart,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.ISV.Agent.ShoppingCartAgent,Jinher.AMP.BTP.ISV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IStore" type="Jinher.AMP.BTP.ISV.IService.IStore,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.ISV.Agent.StoreAgent,Jinher.AMP.BTP.ISV" />

          <type name="Jinher.AMP.BTP.IBP.IService.ICommodityOrderRefund" type="Jinher.AMP.BTP.IBP.IService.ICommodityOrderRefund,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.IBP.Agent.CommodityOrderRefundAgent,Jinher.AMP.BTP.IBP" />
			<type name="Jinher.AMP.ADM.ISV.IService.IAdComponent" type="Jinher.AMP.ADM.ISV.IService.IAdComponent,Jinher.AMP.ADM.ISV" mapTo="Jinher.AMP.ADM.ISV.Agent.AdComponentAgent,Jinher.AMP.ADM.ISV" />
        </types>
      </container>
    </containers>
  </unity>
</configuration>