<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--IOC-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <!--IOC-->
  <unity>
    <containers>
      <container name="containerOne">
        <types>
          <!--保存业务外观类：本地调用-->
          <type name="Jinher.JAP.BF.IService.Interface.ISaveCommand" type="Jinher.JAP.BF.IService.Interface.ISaveCommand,Jinher.JAP.BF.IBP" mapTo="Jinher.JAP.BF.BP.Base.SaveCommand,Jinher.JAP.BF.BP" />
          <!--删除业务外观类：本地调用-->
          <type name="Jinher.JAP.BF.IService.Interface.IDeleteCommand" type="Jinher.JAP.BF.IService.Interface.IDeleteCommand,Jinher.JAP.BF.IBP" mapTo="Jinher.JAP.BF.BP.Base.DeleteCommand,Jinher.JAP.BF.BP" />
          <!--查询业务外观：本地调用-->
          <type name="Jinher.JAP.BF.IService.Interface.ILoadCommand" type="Jinher.JAP.BF.IService.Interface.ILoadCommand,Jinher.JAP.BF.IBP" mapTo="Jinher.JAP.BF.BP.Base.LoadCommand,Jinher.JAP.BF.BP" />
          <!--获取公共资源外观类：本地调用-->
          <type name="Jinher.JAP.RM.IService.IPublicResource" type="Jinher.JAP.RM.IService.IPublicResource,Jinher.JAP.RM.IBP" mapTo="Jinher.JAP.RM.BP.PublicResourceBP,Jinher.JAP.RM.BP" />
          <!--获取业务资源外观类：本地调用-->
          <type name="Jinher.JAP.RM.IService.IResource" type="Jinher.JAP.RM.IService.IResource,Jinher.JAP.RM.IBP" mapTo="Jinher.JAP.RM.BP.ResourceBP,Jinher.JAP.RM.BP" />
          <!--异常处理服务：本地调用-->
          <type name="Jinher.JAP.Exception.IService.IExceptionService" type="Jinher.JAP.Exception.IService.IExceptionService,Jinher.JAP.Exception.ISV" mapTo="Jinher.JAP.Exception.SV.ExceptionHelperSV,Jinher.JAP.Exception.SV" />
          <!--自定义查询服务：本地调用-->
          <type name="Jinher.JAP.BaseApp.UQS.IService.IUnitedQueryService" type="Jinher.JAP.BaseApp.UQS.IService.IUnitedQueryService,Jinher.JAP.BaseApp.UQS.IBP" mapTo="Jinher.JAP.BaseApp.UQS.BP.UnitedQueryServiceBP,Jinher.JAP.BaseApp.UQS.BP" />
          <type name="Jinher.AMP.SNS.IBP.IService.IMessageQuery" type="Jinher.AMP.SNS.IBP.IService.IMessageQuery,Jinher.AMP.SNS.IBP" mapTo="Jinher.AMP.SNS.IBP.Agent.MessageQueryAgent,Jinher.AMP.SNS.IBP" />
          <!--CBC-->
          <type name="Jinher.AMP.CBC.ISV.IService.IUser" type="Jinher.AMP.CBC.ISV.IService.IUser,Jinher.AMP.CBC.ISV" mapTo="Jinher.AMP.CBC.ISV.Agent.UserAgent,Jinher.AMP.CBC.ISV" />
          <type name="Jinher.AMP.CBC.IBP.IService.IProvince" type="Jinher.AMP.CBC.IBP.IService.IProvince,Jinher.AMP.CBC.IBP" mapTo="Jinher.AMP.CBC.IBP.Agent.ProvinceAgent,Jinher.AMP.CBC.IBP" />
          <type name="Jinher.AMP.CBC.IBP.IService.ICity" type="Jinher.AMP.CBC.IBP.IService.ICity,Jinher.AMP.CBC.IBP" mapTo="Jinher.AMP.CBC.IBP.Agent.CityAgent,Jinher.AMP.CBC.IBP" />
          <type name="Jinher.AMP.CBC.IBP.IService.ICounty" type="Jinher.AMP.CBC.IBP.IService.ICounty,Jinher.AMP.CBC.IBP" mapTo="Jinher.AMP.CBC.IBP.Agent.CountyAgent,Jinher.AMP.CBC.IBP" />
          <type name="Jinher.AMP.App.IBP.IService.IAppManager" type="Jinher.AMP.App.IBP.IService.IAppManager,Jinher.AMP.App.IBP" mapTo="Jinher.AMP.App.IBP.Agent.AppManagerAgent,Jinher.AMP.App.IBP" />
          <type name="Jinher.AMP.App.ISV.IService.IAppManager" type="Jinher.AMP.App.ISV.IService.IAppManager,Jinher.AMP.App.ISV" mapTo="Jinher.AMP.App.ISV.Agent.AppManagerAgent,Jinher.AMP.App.ISV" />
          <type name="Jinher.AMP.CBC.ISV.IService.IOrganization" type="Jinher.AMP.CBC.ISV.IService.IOrganization,Jinher.AMP.CBC.ISV" mapTo="Jinher.AMP.CBC.ISV.Agent.OrganizationAgent,Jinher.AMP.CBC.ISV" />
          <!--金币服务-->
          <type name="Jinher.AMP.Finance.ISV.IService.IAccount" type="Jinher.AMP.Finance.ISV.IService.IAccount,Jinher.AMP.Finance.ISV" mapTo="Jinher.AMP.Finance.ISV.Agent.AccountAgent,Jinher.AMP.Finance.ISV" />
          <!--消息平台-->
          <type name="Jinher.JAP.BaseApp.MessageCenter.ISV.IService.IPublishMobileMessage" type="Jinher.JAP.BaseApp.MessageCenter.ISV.IService.IPublishMobileMessage,Jinher.JAP.BaseApp.MessageCenter.ISV" mapTo="Jinher.JAP.BaseApp.MessageCenter.ISV.Agent.PublishMobileMessageAgent,Jinher.JAP.BaseApp.MessageCenter.ISV" />
          <!--短地址服务-->
          <type name="Jinher.JAP.ShortUrl.ISV.IService.IShortUrlManage" type="Jinher.JAP.ShortUrl.ISV.IService.IShortUrlManage,Jinher.JAP.ShortUrl.ISV" mapTo="Jinher.JAP.ShortUrl.ISV.Agent.ShortUrlManageAgent,Jinher.JAP.ShortUrl.ISV" />
          <!--金币服务-->
          <type name="Jinher.AMP.FSP.ISV.IService.IPasswordProtection" type="Jinher.AMP.FSP.ISV.IService.IPasswordProtection,Jinher.AMP.FSP.ISV" mapTo="Jinher.AMP.FSP.ISV.Agent.PasswordProtectionAgent,Jinher.AMP.FSP.ISV" />
          <type name="Jinher.AMP.FSP.ISV.IService.IGoldPay" type="Jinher.AMP.FSP.ISV.IService.IGoldPay,Jinher.AMP.FSP.ISV" mapTo="Jinher.AMP.FSP.ISV.Agent.GoldPayAgent,Jinher.AMP.FSP.ISV" />
          <type name="Jinher.AMP.FSP.ISV.IService.IGoldAccount" type="Jinher.AMP.FSP.ISV.IService.IGoldAccount,Jinher.AMP.FSP.ISV" mapTo="Jinher.AMP.FSP.ISV.Agent.GoldAccountAgent,Jinher.AMP.FSP.ISV" />
          <!--文件服务-->
          <type name="Jinher.JAP.BaseApp.FileServer.ISV.IService.IFile" type="Jinher.JAP.BaseApp.FileServer.ISV.IService.IFile,Jinher.JAP.BaseApp.FileServer.ISV" mapTo="Jinher.JAP.BaseApp.FileServer.ISV.Agent.FileAgent,Jinher.JAP.BaseApp.FileServer.ISV" />
          <type name="Jinher.AMP.BTP.IBP.IService.IStore" type="Jinher.AMP.BTP.IBP.IService.IStore,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.StoreBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IShareQuery" type="Jinher.AMP.BTP.IBP.IService.IShareQuery,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.ShareQueryBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ISecondAttribute" type="Jinher.AMP.BTP.IBP.IService.ISecondAttribute,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.SecondAttributeBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IReview" type="Jinher.AMP.BTP.IBP.IService.IReview,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.ReviewBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IPromotion" type="Jinher.AMP.BTP.IBP.IService.IPromotion,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.PromotionBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IProductDetailsPicture" type="Jinher.AMP.BTP.IBP.IService.IProductDetailsPicture,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.ProductDetailsPictureBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IPayment" type="Jinher.AMP.BTP.IBP.IService.IPayment,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.PaymentBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IDeliveryAddress" type="Jinher.AMP.BTP.IBP.IService.IDeliveryAddress,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.DeliveryAddressBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICommodityOrder" type="Jinher.AMP.BTP.IBP.IService.ICommodityOrder,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CommodityOrderBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICommodityCategory" type="Jinher.AMP.BTP.IBP.IService.ICommodityCategory,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CommodityCategoryBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICommodity" type="Jinher.AMP.BTP.IBP.IService.ICommodity,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CommodityBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICommodityChange" type="Jinher.AMP.BTP.IBP.IService.ICommodityChange,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CommodityChangeBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IAuditCommodity" type="Jinher.AMP.BTP.IBP.IService.IAuditCommodity,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.AuditCommodityBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IJDAuditCom" type="Jinher.AMP.BTP.IBP.IService.IJDAuditCom,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.JDAuditComBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IComAttibute" type="Jinher.AMP.BTP.IBP.IService.IComAttibute,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.ComAttibuteBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICategory" type="Jinher.AMP.BTP.IBP.IService.ICategory,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CategoryBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IAllPayment" type="Jinher.AMP.BTP.IBP.IService.IAllPayment,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.AllPaymentBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IYJEmployee" type="Jinher.AMP.BTP.IBP.IService.IYJEmployee,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.YJEmployeeBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICouponRefund" type="Jinher.AMP.BTP.IBP.IService.ICouponRefund,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CouponRefundBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IOrderRefund" type="Jinher.AMP.BTP.IBP.IService.IOrderRefund,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.OrderRefundBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IInsuranceCompany" type="Jinher.AMP.BTP.IBP.IService.IInsuranceCompany,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.InsuranceCompanyBP,Jinher.AMP.BTP.BP" />

          <type name="Jinher.AMP.BTP.ISV.IService.IYJEmployee" type="Jinher.AMP.BTP.ISV.IService.IYJEmployee,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.YJEmployeeSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IStore" type="Jinher.AMP.BTP.ISV.IService.IStore,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.StoreSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IShoppingCart" type="Jinher.AMP.BTP.ISV.IService.IShoppingCart,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.ShoppingCartSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IReview" type="Jinher.AMP.BTP.ISV.IService.IReview,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.ReviewSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IPromotion" type="Jinher.AMP.BTP.ISV.IService.IPromotion,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.PromotionSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IPayments" type="Jinher.AMP.BTP.ISV.IService.IPayments,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.PaymentsSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IDeliveryAddress" type="Jinher.AMP.BTP.ISV.IService.IDeliveryAddress,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.DeliveryAddressSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.ICommodity" type="Jinher.AMP.BTP.ISV.IService.ICommodity,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.CommoditySV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.ICommodityOrder" type="Jinher.AMP.BTP.ISV.IService.ICommodityOrder,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.CommodityOrderSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.ICollection" type="Jinher.AMP.BTP.ISV.IService.ICollection,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.CollectionSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.ICategory" type="Jinher.AMP.BTP.ISV.IService.ICategory,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.CategorySV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IBTPUser" type="Jinher.AMP.BTP.ISV.IService.IBTPUser,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.BTPUserSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.Info.ISV.IService.IInfoManage" type="Jinher.AMP.Info.ISV.IService.IInfoManage,Jinher.AMP.Info.ISV" mapTo="Jinher.AMP.Info.ISV.Agent.InfoManageAgent,Jinher.AMP.Info.ISV" />
          <type name="Jinher.AMP.EBC.IBP.IService.IRoleFeature" type="Jinher.AMP.EBC.IBP.IService.IRoleFeature,Jinher.AMP.EBC.IBP" mapTo="Jinher.AMP.EBC.IBP.Agent.RoleFeatureAgent,Jinher.AMP.EBC.IBP" />
          <type name="Jinher.AMP.EBC.ISV.IService.IOrganizationQuery" type="Jinher.AMP.EBC.ISV.IService.IOrganizationQuery,Jinher.AMP.EBC.ISV" mapTo="Jinher.AMP.EBC.ISV.Agent.OrganizationQueryAgent,Jinher.AMP.EBC.ISV" />
          <type name="Jinher.AMP.Game.IBP.IService.ILotteryInfo" type="Jinher.AMP.Game.IBP.IService.ILotteryInfo,Jinher.AMP.Game.IBP" mapTo="Jinher.AMP.Game.IBP.Agent.LotteryInfoAgent,Jinher.AMP.Game.IBP" />
          <type name="Jinher.AMP.ADM.ISV.IService.IProductWall" type="Jinher.AMP.ADM.ISV.IService.IProductWall,Jinher.AMP.ADM.ISV" mapTo="Jinher.AMP.ADM.ISV.Agent.ProductWallAgent,Jinher.AMP.ADM.ISV" />
          <type name="Jinher.AMP.EBC.IBP.IService.IRoleMenu" type="Jinher.AMP.EBC.IBP.IService.IRoleMenu,Jinher.AMP.EBC.IBP" mapTo="Jinher.AMP.EBC.IBP.Agent.RoleMenuAgent,Jinher.AMP.EBC.IBP" />
          <type name="Jinher.AMP.IUS.ISV.IService.IIUSAddData" type="Jinher.AMP.IUS.ISV.IService.IIUSAddData,Jinher.AMP.IUS.ISV" mapTo="Jinher.AMP.IUS.ISV.Agent.IUSAddDataAgent,Jinher.AMP.IUS.ISV" />
          <type name="Jinher.AMP.IUS.ISV.IService.IHotData" type="Jinher.AMP.IUS.ISV.IService.IHotData,Jinher.AMP.IUS.ISV" mapTo="Jinher.AMP.IUS.ISV.Agent.HotDataAgent,Jinher.AMP.IUS.ISV" />
          <type name="Jinher.AMP.BTP.IBP.IService.IFreight" type="Jinher.AMP.BTP.IBP.IService.IFreight,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.FreightBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.ISV.IService.IShareRedEnvelope" type="Jinher.AMP.BTP.ISV.IService.IShareRedEnvelope,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.ShareRedEnvelopeSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.SNS.ISV.IService.IShare" type="Jinher.AMP.SNS.ISV.IService.IShare,Jinher.AMP.SNS.ISV" mapTo="Jinher.AMP.SNS.ISV.Agent.ShareAgent,Jinher.AMP.SNS.ISV" />
          <type name="Jinher.AMP.Finance.ISV.IService.IGoldDealer" type="Jinher.AMP.Finance.ISV.IService.IGoldDealer,Jinher.AMP.Finance.ISV" mapTo="Jinher.AMP.Finance.ISV.Agent.GoldDealerAgent,Jinher.AMP.Finance.ISV" />
          <type name="Jinher.AMP.BTP.IBP.IService.IAPPManage" type="Jinher.AMP.BTP.IBP.IService.IAPPManage,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.APPManageBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.ISV.IService.ICrowdfunding" type="Jinher.AMP.BTP.ISV.IService.ICrowdfunding,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.CrowdfundingSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICrowdfunding" type="Jinher.AMP.BTP.IBP.IService.ICrowdfunding,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CrowdfundingBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.CBC.ISV.IService.IUserManager" type="Jinher.AMP.CBC.ISV.IService.IUserManager,Jinher.AMP.CBC.ISV" mapTo="Jinher.AMP.CBC.ISV.Agent.UserManagerAgent,Jinher.AMP.CBC.ISV" />
          <type name="Jinher.AMP.BTP.IBP.IService.IAppSet" type="Jinher.AMP.BTP.IBP.IService.IAppSet,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.AppSetBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.ISV.IService.IAppSet" type="Jinher.AMP.BTP.ISV.IService.IAppSet,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.AppSetSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.ADM.ISV.IService.IAdComponent" type="Jinher.AMP.ADM.ISV.IService.IAdComponent,Jinher.AMP.ADM.ISV" mapTo="Jinher.AMP.ADM.ISV.Agent.AdComponentAgent,Jinher.AMP.ADM.ISV" />
          <type name="Jinher.AMP.ZPH.ISV.IService.IGeneralActivity" type="Jinher.AMP.ZPH.ISV.IService.IGeneralActivity,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.GeneralActivityAgent,Jinher.AMP.ZPH.ISV" />
          <type name="Jinher.AMP.DSS.ISV.IService.IBehaviorRecord" type="Jinher.AMP.DSS.ISV.IService.IBehaviorRecord,Jinher.AMP.DSS.ISV" mapTo="Jinher.AMP.DSS.ISV.Agent.BehaviorRecordAgent,Jinher.AMP.DSS.ISV" />
          <type name="Jinher.AMP.DSS.ISV.IService.IDss" type="Jinher.AMP.DSS.ISV.IService.IDss,Jinher.AMP.DSS.ISV" mapTo="Jinher.AMP.DSS.ISV.Agent.DssAgent,Jinher.AMP.DSS.ISV" />
          <type name="Jinher.AMP.Promotion.ISV.IService.IVoucher" type="Jinher.AMP.Promotion.ISV.IService.IVoucher,Jinher.AMP.Promotion.ISV" mapTo="Jinher.AMP.Promotion.ISV.Agent.VoucherAgent,Jinher.AMP.Promotion.ISV" />
          <type name="Jinher.AMP.BTP.ISV.IService.ISetCollection" type="Jinher.AMP.BTP.ISV.IService.ISetCollection,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.SetCollectionSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.ZPH.ISV.IService.IPresell" type="Jinher.AMP.ZPH.ISV.IService.IPresell,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.PresellAgent,Jinher.AMP.ZPH.ISV" />
          <type name="Jinher.AMP.ZPH.IBP.IService.ISeckillManage" type="Jinher.AMP.ZPH.IBP.IService.ISeckillManage,Jinher.AMP.ZPH.IBP" mapTo="Jinher.AMP.ZPH.IBP.Agent.SeckillManageAgent,Jinher.AMP.ZPH.IBP" />
          <type name="Jinher.AMP.ZPH.ISV.IService.ISeckill" type="Jinher.AMP.ZPH.ISV.IService.ISeckill,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.SeckillAgent,Jinher.AMP.ZPH.ISV" />
          <type name="Jinher.AMP.BAC.IBP.IService.ISpreadInfo" type="Jinher.AMP.BAC.IBP.IService.ISpreadInfo,Jinher.AMP.BAC.IBP" mapTo="Jinher.AMP.BAC.IBP.Agent.SpreadInfoAgent,Jinher.AMP.BAC.IBP" />
          <type name="Jinher.AMP.ZPH.ISV.IService.ILiveActivity" type="Jinher.AMP.ZPH.ISV.IService.ILiveActivity,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.LiveActivityAgent,Jinher.AMP.ZPH.ISV" />
          <type name="Jinher.AMP.LBP.ISV.IService.IQuery" type="Jinher.AMP.LBP.ISV.IService.IQuery,Jinher.AMP.LBP.ISV" mapTo="Jinher.AMP.LBP.ISV.Agent.QueryAgent,Jinher.AMP.LBP.ISV" />
          <type name="Jinher.AMP.YJB.ISV.IService.IUserYJCoupon" type="Jinher.AMP.YJB.ISV.IService.IUserYJCoupon,Jinher.AMP.YJB.ISV" mapTo="Jinher.AMP.YJB.ISV.Agent.UserYJCouponAgent,Jinher.AMP.YJB.ISV" />
          <!--优惠券-->
          <type name="Jinher.AMP.Coupon.ISV.IService.ICoupon" type="Jinher.AMP.Coupon.ISV.IService.ICoupon,Jinher.AMP.Coupon.ISV" mapTo="Jinher.AMP.Coupon.ISV.Agent.CouponAgent,Jinher.AMP.Coupon.ISV" />
          <type name="Jinher.AMP.ZPH.ISV.IService.IAppSet" type="Jinher.AMP.ZPH.ISV.IService.IAppSet,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.AppSetAgent,Jinher.AMP.ZPH.ISV" />
          <type name="Jinher.AMP.BTP.IBP.IService.ISettlingAccount" type="Jinher.AMP.BTP.IBP.IService.ISettlingAccount,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.SettlingAccountBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICommodityOrderException" type="Jinher.AMP.BTP.IBP.IService.ICommodityOrderException,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CommodityOrderExceptionBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.JAP.BaseApp.Tools.ISV.IService.IQRCodeManage" type="Jinher.JAP.BaseApp.Tools.ISV.IService.IQRCodeManage,Jinher.JAP.BaseApp.Tools.ISV" mapTo="Jinher.JAP.BaseApp.Tools.ISV.Agent.QRCodeManageAgent,Jinher.JAP.BaseApp.Tools.ISV" />
          <type name="Jinher.AMP.BTP.ISV.IService.ISelfTakeStation" type="Jinher.AMP.BTP.ISV.IService.ISelfTakeStation,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.SelfTakeStationSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.SNS.ISV.IService.IAppSceneUserQuery" type="Jinher.AMP.SNS.ISV.IService.IAppSceneUserQuery,Jinher.AMP.SNS.ISV" mapTo="Jinher.AMP.SNS.ISV.Agent.AppSceneUserQueryAgent,Jinher.AMP.SNS.ISV" />
          <type name="Jinher.AMP.BTP.ISV.IService.ISpreadInfo" type="Jinher.AMP.BTP.ISV.IService.ISpreadInfo,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.SpreadInfoSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IUserSpreader" type="Jinher.AMP.BTP.ISV.IService.IUserSpreader,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.UserSpreaderSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.ZPH.ISV.IService.IProxy" type="Jinher.AMP.ZPH.ISV.IService.IProxy,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.ProxyAgent,Jinher.AMP.ZPH.ISV" />
          <type name="Jinher.AMP.BAC.IBP.IService.ISpreadInfo" type="Jinher.AMP.BAC.IBP.IService.ISpreadInfo,Jinher.AMP.BAC.IBP" mapTo="Jinher.AMP.BAC.IBP.Agent.SpreadInfoAgent,Jinher.AMP.BAC.IBP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ISelfTakeStation" type="Jinher.AMP.BTP.IBP.IService.ISelfTakeStation,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.SelfTakeStationBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.App.ISV.IService.IShareInfo" type="Jinher.AMP.App.ISV.IService.IShareInfo,Jinher.AMP.App.ISV" mapTo="Jinher.AMP.App.ISV.Agent.ShareInfoAgent,Jinher.AMP.App.ISV" />
          <type name="Jinher.AMP.BTP.ISV.IService.ICommodityOrderAfterSales" type="Jinher.AMP.BTP.ISV.IService.ICommodityOrderAfterSales,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.CommodityOrderAfterSalesSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICommodityOrderAfterSales" type="Jinher.AMP.BTP.IBP.IService.ICommodityOrderAfterSales,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CommodityOrderAfterSalesBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BAC.IBP.IService.ICreateApp" type="Jinher.AMP.BAC.IBP.IService.ICreateApp,Jinher.AMP.BAC.IBP" mapTo="Jinher.AMP.BAC.IBP.Agent.CreateAppAgent,Jinher.AMP.BAC.IBP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IAppExtension" type="Jinher.AMP.BTP.IBP.IService.IAppExtension,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.AppExtensionBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.ISV.IService.IAppExtension" type="Jinher.AMP.BTP.ISV.IService.IAppExtension,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.AppExtensionSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.Sign.IBP.IService.IGiveRewards" type="Jinher.AMP.Sign.IBP.IService.IGiveRewards,Jinher.AMP.Sign.IBP" mapTo="Jinher.AMP.Sign.IBP.Agent.GiveRewardsAgent,Jinher.AMP.Sign.IBP" />
          <type name="Jinher.AMP.ZPH.ISV.IService.ICommodity" type="Jinher.AMP.ZPH.ISV.IService.ICommodity,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.CommodityAgent,Jinher.AMP.ZPH.ISV" />
          <type name="Jinher.AMP.ZPH.ISV.IService.IAppPavilion" type="Jinher.AMP.ZPH.ISV.IService.IAppPavilion,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.AppPavilionAgent,Jinher.AMP.ZPH.ISV" />
          <type name="Jinher.AMP.BTP.IBP.IService.ISelectCommodity" type="Jinher.AMP.BTP.IBP.IService.ISelectCommodity,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.SelectCommodityBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IOrderExpressRoute" type="Jinher.AMP.BTP.IBP.IService.IOrderExpressRoute,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.OrderExpressRouteBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.ISV.IService.IOrderExpressRoute" type="Jinher.AMP.BTP.ISV.IService.IOrderExpressRoute,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.OrderExpressRouteSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IScoreSetting" type="Jinher.AMP.BTP.ISV.IService.IScoreSetting,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.ScoreSettingSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IErrorCommodityOrder" type="Jinher.AMP.BTP.ISV.IService.IErrorCommodityOrder,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.ErrorCommodityOrderSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IDistributor" type="Jinher.AMP.BTP.ISV.IService.IDistributor,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.DistributorSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.IBP.IService.IDistribute" type="Jinher.AMP.BTP.IBP.IService.IDistribute,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.DistributeBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.DSS.IBP.IService.IDistributor" type="Jinher.AMP.DSS.IBP.IService.IDistributor,Jinher.AMP.DSS.IBP" mapTo="Jinher.AMP.DSS.IBP.Agent.DistributorAgent,Jinher.AMP.DSS.IBP" />
          <type name="Jinher.AMP.LSP.ISV.IService.IOrder" type="Jinher.AMP.LSP.ISV.IService.IOrder,Jinher.AMP.LSP.ISV" mapTo="Jinher.AMP.LSP.ISV.Agent.OrderAgent,Jinher.AMP.LSP.ISV" />
          <type name="Jinher.AMP.FSP.ISV.IService.IGoldSafe" type="Jinher.AMP.FSP.ISV.IService.IGoldSafe,Jinher.AMP.FSP.ISV" mapTo="Jinher.AMP.FSP.ISV.Agent.GoldSafeAgent,Jinher.AMP.FSP.ISV" />
          <type name="Jinher.AMP.FSP.ISV.IService.IDirectPay" type="Jinher.AMP.FSP.ISV.IService.IDirectPay,Jinher.AMP.FSP.ISV" mapTo="Jinher.AMP.FSP.ISV.Agent.DirectPayAgent,Jinher.AMP.FSP.ISV" />
          <type name="Jinher.AMP.ZPH.ISV.IService.IConfigManage" type="Jinher.AMP.ZPH.ISV.IService.IConfigManage,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.ConfigManageAgent,Jinher.AMP.ZPH.ISV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IShareOrder" type="Jinher.AMP.BTP.ISV.IService.IShareOrder,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.ShareOrderSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IDiyGroup" type="Jinher.AMP.BTP.ISV.IService.IDiyGroup,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.DiyGroupSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.IBP.IService.IDiyGroup" type="Jinher.AMP.BTP.IBP.IService.IDiyGroup,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.DiyGroupBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.AVM.ISV.IService.IVIPQuery" type="Jinher.AMP.AVM.ISV.IService.IVIPQuery,Jinher.AMP.AVM.ISV" mapTo="Jinher.AMP.AVM.ISV.Agent.VIPQueryAgent,Jinher.AMP.AVM.ISV" />
          <type name="Jinher.AMP.BTP.IBP.IService.IPaySource" type="Jinher.AMP.BTP.IBP.IService.IPaySource,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.PaySourceBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.ISV.IService.IPaySource" type="Jinher.AMP.BTP.ISV.IService.IPaySource,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.PaySourceSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BAC.ISV.IService.IAppDataService" type="Jinher.AMP.BAC.ISV.IService.IAppDataService,Jinher.AMP.BAC.ISV" mapTo="Jinher.AMP.BAC.ISV.Agent.AppDataServiceAgent,Jinher.AMP.BAC.ISV" />
          <type name="Jinher.AMP.BAC.IBP.IService.ICreateTemplateAPK" type="Jinher.AMP.BAC.IBP.IService.ICreateTemplateAPK,Jinher.AMP.BAC.IBP" mapTo="Jinher.AMP.BAC.IBP.Agent.CreateTemplateAPKAgent,Jinher.AMP.BAC.IBP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IInvoice" type="Jinher.AMP.BTP.IBP.IService.IInvoice,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.InvoiceBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.ISV.IService.IInvoice" type="Jinher.AMP.BTP.ISV.IService.IInvoice,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.InvoiceSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.App.ISV.IService.IStartImg" type="Jinher.AMP.App.ISV.IService.IStartImg,Jinher.AMP.App.ISV" mapTo="Jinher.AMP.App.ISV.Agent.StartImgAgent,Jinher.AMP.App.ISV" />
          <type name="Jinher.AMP.SNS.ISV.IService.IAppDistrictQuery" type="Jinher.AMP.SNS.ISV.IService.IAppDistrictQuery,Jinher.AMP.SNS.ISV" mapTo="Jinher.AMP.SNS.ISV.Agent.AppDistrictQueryAgent,Jinher.AMP.SNS.ISV" />
          <type name="Jinher.AMP.ZPH.ISV.IService.IPromoBusiness" type="Jinher.AMP.ZPH.ISV.IService.IPromoBusiness,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.PromoBusinessAgent,Jinher.AMP.ZPH.ISV" />
          <type name="Jinher.AMP.BTP.IBP.IService.IAppSelfTakeStation" type="Jinher.AMP.BTP.IBP.IService.IAppSelfTakeStation,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.AppSelfTakeStationBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.ISV.IService.ICache" type="Jinher.AMP.BTP.ISV.IService.ICache,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.CacheSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.ISV.IService.IAppSelfTakeStation" type="Jinher.AMP.BTP.ISV.IService.IAppSelfTakeStation,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.AppSelfTakeStationSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICateringSetting" type="Jinher.AMP.BTP.IBP.IService.ICateringSetting,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CateringSettingBP,Jinher.AMP.BTP.BP" />
          <!--微信发消息-->
          <type name="Jinher.AMP.WCP.ISV.IService.IWChatDeveloper" type="Jinher.AMP.WCP.ISV.IService.IWChatDeveloper,Jinher.AMP.WCP.ISV" mapTo="Jinher.AMP.WCP.ISV.Agent.WChatDeveloperAgent,Jinher.AMP.WCP.ISV" />
          <type name="Jinher.AMP.BTP.IBP.IService.IWeChatQRCode" type="Jinher.AMP.BTP.IBP.IService.IWeChatQRCode,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.WeChatQRCodeBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.ISV.IService.IWeChatQRCode" type="Jinher.AMP.BTP.ISV.IService.IWeChatQRCode,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.WeChatQRCodeSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.SNS.IBP.IService.IScore" type="Jinher.AMP.SNS.IBP.IService.IScore,Jinher.AMP.SNS.IBP" mapTo="Jinher.AMP.SNS.IBP.Agent.ScoreAgent,Jinher.AMP.SNS.IBP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IShiftManage" type="Jinher.AMP.BTP.IBP.IService.IShiftManage,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.ShiftManageBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.LVP.ISV.IService.IEquipment" type="Jinher.AMP.LVP.ISV.IService.IEquipment,Jinher.AMP.LVP.ISV" mapTo="Jinher.AMP.LVP.ISV.Agent.EquipmentAgent,Jinher.AMP.LVP.ISV" />
          <type name="Jinher.AMP.BTP.IBP.IService.IExpressOrderTemplate" type="Jinher.AMP.BTP.IBP.IService.IExpressOrderTemplate,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.ExpressOrderTemplateBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IOrderPrint" type="Jinher.AMP.BTP.IBP.IService.IOrderPrint,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.OrderPrintBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.ZPH.ISV.IService.IOrderSender" type="Jinher.AMP.ZPH.ISV.IService.IOrderSender,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.OrderSenderAgent,Jinher.AMP.ZPH.ISV" />
          <type name="Jinher.AMP.ZPH.ISV.IService.IESNet" type="Jinher.AMP.ZPH.ISV.IService.IESNet,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.ESNetAgent,Jinher.AMP.ZPH.ISV" />
          <type name="Jinher.AMP.BTP.IBP.IService.ISpreadCategory" type="Jinher.AMP.BTP.IBP.IService.ISpreadCategory,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.SpreadCategoryBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ISpreadInfo" type="Jinher.AMP.BTP.IBP.IService.ISpreadInfo,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.SpreadInfoBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.LVP.ISV.IService.ILiveManage" type="Jinher.AMP.LVP.ISV.IService.ILiveManage,Jinher.AMP.LVP.ISV" mapTo="Jinher.AMP.LVP.ISV.Agent.LiveManageAgent,Jinher.AMP.LVP.ISV" />
          <type name="Jinher.AMP.BTP.IBP.IService.IExpressTrace" type="Jinher.AMP.BTP.IBP.IService.IExpressTrace,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.ExpressTraceBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.ISV.IService.IOrderPayDetail" type="Jinher.AMP.BTP.ISV.IService.IOrderPayDetail,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.OrderPayDetailSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.IBP.IService.IMallApply" type="Jinher.AMP.BTP.IBP.IService.IMallApply,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.MallApplyBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IBaseCommission" type="Jinher.AMP.BTP.IBP.IService.IBaseCommission,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.BaseCommissionBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICategoryCommission" type="Jinher.AMP.BTP.IBP.IService.ICategoryCommission,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CategoryCommissionBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICommodityCommission" type="Jinher.AMP.BTP.IBP.IService.ICommodityCommission,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CommodityCommissionBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ISettleAccount" type="Jinher.AMP.BTP.IBP.IService.ISettleAccount,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.SettleAccountBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.FSP.ISV.IService.IExchange" type="Jinher.AMP.FSP.ISV.IService.IExchange,Jinher.AMP.FSP.ISV" mapTo="Jinher.AMP.FSP.ISV.Agent.ExchangeAgent,Jinher.AMP.FSP.ISV" />
          <type name="Jinher.AMP.ZPH.ISV.IService.IPavilionApp" type="Jinher.AMP.ZPH.ISV.IService.IPavilionApp,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.PavilionAppAgent,Jinher.AMP.ZPH.ISV" />
          <!--易捷币相关接口-->
          <type name="Jinher.AMP.BTP.ISV.IService.IMallApply" type="Jinher.AMP.BTP.ISV.IService.IMallApply,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.MallApplySV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.YJB.ISV.IService.IYJBInfo" type="Jinher.AMP.YJB.ISV.IService.IYJBInfo,Jinher.AMP.YJB.ISV" mapTo="Jinher.AMP.YJB.ISV.Agent.YJBInfoAgent,Jinher.AMP.YJB.ISV" />
          <type name="Jinher.AMP.YJB.ISV.IService.IYJBJournal" type="Jinher.AMP.YJB.ISV.IService.IYJBJournal,Jinher.AMP.YJB.ISV" mapTo="Jinher.AMP.YJB.ISV.Agent.YJBJournalAgent,Jinher.AMP.YJB.ISV" />
          <type name="Jinher.AMP.YJB.ISV.IService.IChangePrice" type="Jinher.AMP.YJB.ISV.IService.IChangePrice,Jinher.AMP.YJB.ISV" mapTo="Jinher.AMP.YJB.ISV.Agent.ChangePriceAgent,Jinher.AMP.YJB.ISV" />
          <type name="Jinher.AMP.YJB.ISV.IService.ICoupon" type="Jinher.AMP.YJB.ISV.IService.ICoupon,Jinher.AMP.YJB.ISV" mapTo="Jinher.AMP.YJB.ISV.Agent.CouponAgent,Jinher.AMP.YJB.ISV" />
          <type name="Jinher.AMP.BTP.ISV.IService.ICommodityForYJB" type="Jinher.AMP.BTP.ISV.IService.ICommodityForYJB,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.CommodityForYJBSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.IBP.IService.IOrderField" type="Jinher.AMP.BTP.IBP.IService.IOrderField,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.OrderFieldBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.YJB.ISV.IService.ICommodityCashPercent" type="Jinher.AMP.YJB.ISV.IService.ICommodityCashPercent,Jinher.AMP.YJB.ISV" mapTo="Jinher.AMP.YJB.ISV.Agent.CommodityCashPercentAgent,Jinher.AMP.YJB.ISV" />
          <type name="Jinher.AMP.YJB.ISV.IService.IUserYJCoupon" type="Jinher.AMP.YJB.ISV.IService.IUserYJCoupon,Jinher.AMP.YJB.ISV" mapTo="Jinher.AMP.YJB.ISV.Agent.UserYJCouponAgent,Jinher.AMP.YJB.ISV" />

          <!--中石化需求-->
          <type name="Jinher.AMP.BTP.IBP.IService.IInnerCategory" type="Jinher.AMP.BTP.IBP.IService.IInnerCategory,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.InnerCategoryBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ISupplier" type="Jinher.AMP.BTP.IBP.IService.ISupplier,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.SupplierBP,Jinher.AMP.BTP.BP" />
          <!--快递模板-->
          <type name="Jinher.AMP.BTP.IBP.IService.IExpressOrderTemplate" type="Jinher.AMP.BTP.IBP.IService.IExpressOrderTemplate,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.ExpressOrderTemplateBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IExpress" type="Jinher.AMP.BTP.IBP.IService.IExpress,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.ExpressBP,Jinher.AMP.BTP.BP" />
          <!--优惠卷-->
          <type name="Jinher.AMP.Coupon.ISV.IService.ICommodityCoupon" type="Jinher.AMP.Coupon.ISV.IService.ICommodityCoupon,Jinher.AMP.Coupon.ISV" mapTo="Jinher.AMP.Coupon.ISV.Agent.CommodityCouponAgent,Jinher.AMP.Coupon.ISV" />
          <!--下单到京东-->
          <type name="Jinher.AMP.BTP.IBP.IService.IJdOrderItem" type="Jinher.AMP.BTP.IBP.IService.IJdOrderItem,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.JdOrderItemBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IJdJournal" type="Jinher.AMP.BTP.IBP.IService.IJdJournal,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.JdJournalBP,Jinher.AMP.BTP.BP" />
          <!--虚拟商品易捷卡密-->
          <type name="Jinher.AMP.BTP.IBP.IService.IYJBJCard" type="Jinher.AMP.BTP.IBP.IService.IYJBJCard,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.YJBJCardBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.ZPH.ISV.IService.ISkuActivity" type="Jinher.AMP.ZPH.ISV.IService.ISkuActivity,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.SkuActivityAgent,Jinher.AMP.ZPH.ISV" />
          <type name="Jinher.AMP.BTP.IBP.IService.IServiceSettings" type="Jinher.AMP.BTP.IBP.IService.IServiceSettings,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.ServiceSettingsBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.ISV.IService.IServiceSettings" type="Jinher.AMP.BTP.ISV.IService.IServiceSettings,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.ServiceSettingsSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.IBP.IService.IJdlogs" type="Jinher.AMP.BTP.IBP.IService.IJdlogs,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.JdlogsBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.ZPH.ISV.IService.ISetMeal" type="Jinher.AMP.ZPH.ISV.IService.ISetMeal,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.SetMealAgent,Jinher.AMP.ZPH.ISV" />
          <!--赠品活动-->
          <type name="Jinher.AMP.BTP.IBP.IService.IPresentPromotion" type="Jinher.AMP.BTP.IBP.IService.IPresentPromotion,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.PresentPromotionBP,Jinher.AMP.BTP.BP" />
          <!--订单统计-->
          <type name="Jinher.AMP.Store.ISV.IService.IOrderIdList" type="Jinher.AMP.Store.ISV.IService.IOrderIdList,Jinher.AMP.Store.ISV" mapTo="Jinher.AMP.Store.ISV.Agent.OrderIdListAgent,Jinher.AMP.Store.ISV" />
          <type name="Jinher.AMP.Store.ISV.IService.IStore" type="Jinher.AMP.Store.ISV.IService.IStore,Jinher.AMP.Store.ISV" mapTo="Jinher.AMP.Store.ISV.Agent.StoreAgent,Jinher.AMP.Store.ISV" />
          <type name="Jinher.AMP.EBC.IBP.IService.IEmployee" type="Jinher.AMP.EBC.IBP.IService.IEmployee,Jinher.AMP.EBC.IBP" mapTo="Jinher.AMP.EBC.IBP.Agent.EmployeeAgent,Jinher.AMP.EBC.IBP" />
          <type name="Jinher.AMP.YJBJMQ.ISV.IService.IInvoicManage" type="Jinher.AMP.YJBJMQ.ISV.IService.IInvoicManage,Jinher.AMP.YJBJMQ.ISV" mapTo="Jinher.AMP.YJBJMQ.ISV.Agent.InvoicManageAgent,Jinher.AMP.YJBJMQ.ISV" />
          <!--金采支付-->
          <type name="Jinher.AMP.ZPH.ISV.IService.IFJCPay" type="Jinher.AMP.ZPH.ISV.IService.IFJCPay,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.FJCPayAgent,Jinher.AMP.ZPH.ISV" />
          <!--回款-->
          <type name="Jinher.AMP.IBP.IService.ICommodityOrderRefund" type="Jinher.AMP.BTP.IBP.IService.ICommodityOrderRefund,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CommodityOrderRefundBP,Jinher.AMP.BTP.BP" />
          <!--规格设置-->
          <type name="Jinher.AMP.BTP.IBP.IService.ISpecifications" type="Jinher.AMP.BTP.IBP.IService.ISpecifications,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.SpecificationsBP,Jinher.AMP.BTP.BP" />

          <type name="Jinher.AMP.BTP.IBP.IService.IJdCommodity" type="Jinher.AMP.BTP.IBP.IService.IJdCommodity,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.JdCommodityBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IYXCommodity" type="Jinher.AMP.BTP.IBP.IService.IYXCommodity,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.YXCommodityBP,Jinher.AMP.BTP.BP" />

          <type name="Jinher.AMP.BTP.ISV.IService.ICustom" type="Jinher.AMP.BTP.ISV.IService.ICustom,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.CustomSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.IBP.IService.ISpecifications" type="Jinher.AMP.BTP.IBP.IService.ISpecifications,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.SpecificationsBP,Jinher.AMP.BTP.BP" />
          <!--进销存-->
          <type name="Jinher.AMP.BTP.IBP.IService.IJdEclpOrder" type="Jinher.AMP.BTP.IBP.IService.IJdEclpOrder,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.JdEclpOrderBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.YJBJMQ.ISV.IService.IQueue" type="Jinher.AMP.YJBJMQ.ISV.IService.IQueue,Jinher.AMP.YJBJMQ.ISV" mapTo="Jinher.AMP.YJBJMQ.ISV.Agent.QueueAgent,Jinher.AMP.YJBJMQ.ISV" />
          <!--自动调价设置-->
          <type name="Jinher.AMP.BTP.IBP.IService.ICommodityPriceFloat" type="Jinher.AMP.BTP.IBP.IService.ICommodityPriceFloat,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CommodityPriceFloatBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.IBrand" type="Jinher.AMP.BTP.IBP.IService.IBrand,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.BrandBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.ISV.IService.IBrand" type="Jinher.AMP.BTP.ISV.IService.IBrand,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.BrandSV,Jinher.AMP.BTP.SV" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICategoryInnerBrand" type="Jinher.AMP.BTP.IBP.IService.ICategoryInnerBrand,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CategoryInnerBrandBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICategoryAdvertise" type="Jinher.AMP.BTP.IBP.IService.ICategoryAdvertise,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CategoryAdvertiseBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.ZPH.ISV.IService.ISpecialSubject" type="Jinher.AMP.ZPH.ISV.IService.ISpecialSubject,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.SpecialSubjectAgent,Jinher.AMP.ZPH.ISV" />
          <!--推荐结果-->
          <type name="Jinher.AMP.ZPH.ISV.IService.IToRecommend" type="Jinher.AMP.ZPH.ISV.IService.IToRecommend,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.ToRecommendAgent,Jinher.AMP.ZPH.ISV" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICommodityInnerBrand" type="Jinher.AMP.BTP.IBP.IService.ICommodityInnerBrand,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CommodityInnerBrandBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.ZPH.ISV.IService.IFJCPay" type="Jinher.AMP.ZPH.ISV.IService.IFJCPay,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.FJCPayAgent,Jinher.AMP.ZPH.ISV" />
          <!--苏宁接口-->
          <type name="Jinher.AMP.BTP.IBP.IService.ISNOrderItem" type="Jinher.AMP.BTP.IBP.IService.ISNOrderItem,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.SNOrderItemBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ISNExpressTrace" type="Jinher.AMP.BTP.IBP.IService.ISNExpressTrace,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.SNExpressTraceBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ISNCommodity" type="Jinher.AMP.BTP.IBP.IService.ISNCommodity,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.SNCommodityBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ISNAfterSale" type="Jinher.AMP.BTP.IBP.IService.ISNAfterSale,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.SNAfterSaleBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.IBP.IService.ICommodityOrderRefund" type="Jinher.AMP.BTP.IBP.IService.ICommodityOrderRefund,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CommodityOrderRefundBP,Jinher.AMP.BTP.BP" />
          <!--易派客接口-->
          <type name="Jinher.AMP.BTP.IBP.IService.IYPKCommodity" type="Jinher.AMP.BTP.IBP.IService.IYPKCommodity,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.YPKCommodityBP,Jinher.AMP.BTP.BP" />
          <!--保险订单-->
          <type name="Jinher.AMP.BTP.IBP.IService.IYJBDSFOrderInfo" type="Jinher.AMP.BTP.IBP.IService.IYJBDSFOrderInfo,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.YJBDSFOrderInfoBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.BTP.ISV.IService.IYJBDSFOrderInfo" type="Jinher.AMP.BTP.ISV.IService.IYJBDSFOrderInfo,Jinher.AMP.BTP.ISV" mapTo="Jinher.AMP.BTP.SV.YJBDSFOrderInfoSV,Jinher.AMP.BTP.SV" />
          <!--评论-->
          <type name="Jinher.AMP.SNS.IBP.IService.IScore" type="Jinher.AMP.SNS.IBP.IService.IScore,Jinher.AMP.SNS.IBP" mapTo="Jinher.AMP.SNS.IBP.Agent.ScoreAgent,Jinher.AMP.SNS.IBP"/>
          <type name="Jinher.AMP.BTP.IBP.IService.ICommodityOrderItem" type="Jinher.AMP.BTP.IBP.IService.ICommodityOrderItem,Jinher.AMP.BTP.IBP" mapTo="Jinher.AMP.BTP.BP.CommodityOrderItemBP,Jinher.AMP.BTP.BP" />
          <type name="Jinher.AMP.YJB.ISV.IService.IUserYJCoupon" type="Jinher.AMP.YJB.ISV.IService.IUserYJCoupon,Jinher.AMP.YJB.ISV" mapTo="Jinher.AMP.YJB.ISV.Agent.UserYJCouponAgent,Jinher.AMP.YJB.ISV" />
          <type name="Jinher.AMP.ZPH.ISV.IService.IActivity" type="Jinher.AMP.ZPH.ISV.IService.IActivity,Jinher.AMP.ZPH.ISV" mapTo="Jinher.AMP.ZPH.ISV.Agent.ActivityAgent,Jinher.AMP.ZPH.ISV" />
          <type name="Jinher.AMP.Finance.ISV.IService.IPay" type="Jinher.AMP.Finance.ISV.IService.IPay,Jinher.AMP.Finance.ISV" mapTo="Jinher.AMP.Finance.ISV.Agent.PayAgent,Jinher.AMP.Finance.ISV" />
          <type name="Jinher.AMP.YJB.ISV.IService.IYJCard" type="Jinher.AMP.YJB.ISV.IService.IYJCard,Jinher.AMP.YJB.ISV" mapTo="Jinher.AMP.YJB.ISV.Agent.YJCardAgent,Jinher.AMP.YJB.ISV" />

          <!--手机短信提醒-->
          <type name="Jinher.AMP.PIP.ISV.IService.IAppSmsQuery" type="Jinher.AMP.PIP.ISV.IService.IAppSmsQuery,Jinher.AMP.PIP.ISV" mapTo="Jinher.AMP.PIP.ISV.Agent.AppSmsQueryAgent,Jinher.AMP.PIP.ISV" />
          
          <type name="Jinher.AMP.YJB.ISV.IService.IMyCapital" type="Jinher.AMP.YJB.ISV.IService.IMyCapital,Jinher.AMP.YJB.ISV" mapTo="Jinher.AMP.YJB.ISV.Agent.MyCapitalAgent,Jinher.AMP.YJB.ISV" />
          
          
        </types>
      </container>
    </containers>
  </unity>
</configuration>