<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--IOC-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <section name="GlobalFilter" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <!--IOC-->
  <unity>
    <containers>
      <container name="RegistrationConfig">
        <types>
          <!--自定义查询-->
          <type name="Jinher.AMP.Info.UI.Routes" type="Jinher.JAP.BaseApp.Portal.Interface.IControllers.IRoutes,Jinher.JAP.BaseApp.Portal.Interface" mapTo="Jinher.AMP.Info.UI.Routes,Jinher.AMP.Info.UI" />
          <type name="Jinher.AMP.BTP.UI.Routes" type="Jinher.JAP.BaseApp.Portal.Interface.IControllers.IRoutes,Jinher.JAP.BaseApp.Portal.Interface" mapTo="Jinher.AMP.BTP.UI.Routes,Jinher.AMP.BTP.UI" />
        </types>
      </container>
    </containers>
  </unity>
  <!--自定义全局过滤器-->
  <GlobalFilter>
    <Allfilters>
      <filter name="Jinher.AMP.Portal.Common.CheckPrivilege" assembly="Jinher.AMP.Portal.Common">
        <except controller="Job" action="*" />
        <except controller="Login" action="*" />
        <except controller="Share" action="*" />
        <except controller="CommodityDetail" action="*" />
        <except controller="AppImage" action="Upload" />
        <except controller="SetMobile" action="*" />
        <except controller="Test" action="*" />
        <except controller="PaymentNotify" action="*" />
        <except controller="ExpressRoute" action="*" />
        <except controller="Distribute" action="AppDetail" />
        <except controller="Distribute" action="Index" />
        <except controller="Distribute" action="RegisterAndLoginAndBind" />
        <except controller="Distribute" action="LoginAndBind" />
        <except controller="Distribute" action="MyDistributionError1" />
        <except controller="Distribute" action="MyDistributionError2" />
        <except controller="Distribute" action="MicroshopIndex" />
        <except controller="Mobile" action="CommodityDetail" />
        <except controller="Mobile" action="commoditydetail" />
        <except controller="Mobile" action="CommodityList" />
        <except controller="Mobile" action="commoditylist" />
        <except controller="Mobile" action="CommodityView" />
        <except controller="Mobile" action="commodityview" />
        <except controller="Mobile" action="CommodityInfo" />
        <except controller="Mobile" action="commodityinfo" />
        <except controller="Mobile" action="CommoditySearch" />
        <except controller="Mobile" action="commoditysearch" />
        <except controller="Mobile" action="MyHome" />
        <except controller="Mobile" action="myhome" />
        <except controller="Mobile" action="GetCommodityDetailsZPH" />
        <except controller="Mobile" action="GetBehaviorRecordUrl" />
        <except controller="Mobile" action="GetFreightDetails" />
        <except controller="Mobile" action="CheckSecKillBuy" />
        <except controller="Mobile" action="CalFreight" />
        <except controller="Mobile" action="CheckMobileRegister" />
        <except controller="Mobile" action="GetValidateCode" />
        <except controller="Mobile" action="MobileLogin" />
        <except controller="Mobile" action="GetCommodity" />
        <except controller="Mobile" action="GetWantCommodity" />
        <except controller="Mobile" action="GetCommodityByCategory" />
        <except controller="Mobile" action="GetReviewByCommodityId" />
        <except controller="Mobile" action="GetCategory" />
        <except controller="Mobile" action="GetCommodityByIds" />
        <except controller="Mobile" action="GetProvince" />
        <except controller="Mobile" action="PartialProvince" />
        <except controller="Mobile" action="PartialCity" />
        <except controller="Mobile" action="ShoppongCartList" />
        <except controller="Mobile" action="PromotionList" />
        <except controller="Mobile" action="GetOrByCommodity" />
        <except controller="Mobile" action="GenShortUrl" />
        <except controller="Mobile" action="GetAppName" />
        <except controller="Mobile" action="SendMobileCode" />
        <except controller="Mobile" action="RegisterAndLogin" />
        <except controller="Mobile" action="GetAppMenuChangeInfo" />
        <except controller="Mobile" action="ShareMyOrderDetail" />
        <except controller="Mobile" action="GetShareMyOrderDetail" />
        <except controller="Mobile" action="CrowdfundingSlogan" />
        <except controller="Mobile" action="CrowdfundingDesc" />
        <except controller="Mobile" action="Crowdfunding" />
        <except controller="Mobile" action="CrowdfundingDividend" />
        <except controller="Mobile" action="CrowdfundingHolding" />
        <except controller="Mobile" action="GetUserCrowdfundingBuy" />
        <except controller="Mobile" action="GetCrowdfundingState" />
        <except controller="Mobile" action="GetCrowdfundingSlogan" />
        <except controller="Mobile" action="GetBehaviorRecordUrl" />
        <except controller="Mobile" action="GetVerifyCodeZPH" />
        <except controller="Mobile" action="MyLocation" />
        <except controller="Mobile" action="GetCommodityAttrStocks" />
        <except controller="Mobile" action="GetCateringCommodity" />
        <except controller="Mobile" action="CateringCommodityList" />
        <except controller="Mobile" action="CreateOrder" />
        <except controller="Mobile" action="createorder" />
        <except controller="Mobile" action="MyOrderList" />
        <except controller="Mobile" action="myorderlist" />
        <except controller="Mobile" action="JhRentAgreement" />
        <except controller="Mobile" action="jhrentagreement" />
        <except controller="Mobile" action="JhRentSemAgreement" />
        <except controller="Mobile" action="jhrentsemagreement" />
        <except controller="Mobile" action="GetZPHContractUrl" />
        <except controller="Mobile" action="MyOrderDetail" />
        <except controller="Mobile" action="myorderdetail" />
        <except controller="Mobile" action="MultiAttributeSelector" />
        <except controller="Mobile" action="multiattributeselector" />
        <except controller="Mobile" action="UnfinishedDiyGrouplist" />
        <except controller="Review" action="ReviewSuccessNotify" />
        <except controller="Review" action="reviewsuccessnotify" />
        <except controller="Review" action="ReviewSuccessNotifyComOnly" />
        <except controller="Review" action="reviewsuccessnotifycomonly" />
        <except controller="Storefront" action="*" />
        <except controller="Mobile" action="DiyGroupDetail" />
        <except controller="Mobile" action="GetDiyGroupDetail" />
        <except controller="Mobile" action="DiyGroupActivityRule" />
        <except controller="Mobile" action="CommodityDetailDiy" />
        <except controller="Mobile" action="commoditydetaildiy" />
        <except controller="Mobile" action="GetAppFittedBottomMenus" />
        <except controller="Mobile" action="GetCommodityAttribute" />
        <except controller="Mobile" action="LoginCenter" />
        <except controller="Mobile" action="logincenter" />
        <except controller="Mobile" action="GetCommodityAttribute" />
        <except controller="Mobile" action="GetCommodityListV2" />
        <except controller="Mobile" action="GetCommodityListV3" />
        <except controller="Mobile" action="GetCommodityListV2ForCoupon" />
        <except controller="Mobile" action="SelfTakeOrderCommodityList" />
        <except controller="Mobile" action="selftakeordercommoditylist" />
        <except controller="Mobile" action="GetSetMealActivitysByCommodityId" />
        <except controller="Mobile" action="MealItemsDetail" />
        <except controller="Mobile" action="UnfinishedDiyGrouplist" />
        <except controller="Mobile" action="unfinishedDiyGrouplist" />
        <except controller="Mobile" action="unfinisheddiygrouplist" />
        <except controller="Mobile" action="CheckDiyGroup" />
        <except controller="Mobile" action="checkDiyGroup" />
        <except controller="Mobile" action="checkdiygroup" />
        <except controller="ShareRedEnvelope" action="ShareRedEnvelopesDetail" />
        <except controller="ShareRedEnvelope" action="ShowRuleDescription" />
        <except controller="ShareRedEnvelope" action="WalletError" />
        <except controller="ShareRedEnvelope" action="CrowdRedEnvelopesList" />
        <except controller="ShareRedEnvelope" action="ShareList" />
        <except controller="ShareRedEnvelope" action="shareredenvelopesdetail" />
        <except controller="ShareRedEnvelope" action="showruledescription" />
        <except controller="ShareRedEnvelope" action="walleterror" />
        <except controller="ShareRedEnvelope" action="crowdredenvelopeslist" />
        <except controller="ShareRedEnvelope" action="sharelist" />
        <except controller="Mobile" action="GetProviceCityJsonData" />
        <except controller="mobile" action="getProvicecityjsonData" />
        <except controller="Mobile" action="CYMyOrderDetailShow" />
        <except controller="Mobile" action="CYOrderPayBack" />
        <except controller="Mobile" action="ShareOrder" />
        <except controller="Mobile" action="GetShareOrderDetail" />
        <except controller="Distribute" action="GetNewestMicroshopCommoditys" />
        <except controller="Distribute" action="SearchAllMicroshopCommoditys" />
        <except controller="Spread" action="Index" />
        <except controller="Spread" action="Index" />
        <except controller="Spread" action="AppDetail" />
        <except controller="Spread" action="RegisterAndLoginAndBind" />
        <except controller="Spread" action="LoginAndBind" />
        <except controller="Spread" action="SpreadCategory" />
        <except controller="Spread" action="GetSpreadCategoryList" />
        <except controller="Mobile" action="MyYJBDetails" />
        <except controller="Mobile" action="GetMyYJB" />
        <except controller="Mobile" action="GetYJBJournal" />
        <except controller="Mobile" action="Invoice" />
        <except controller="Mobile" action="DownInvoice" />
        <except controller="Mobile" action="GetFile" />
        <except controller="Mobile" action="MyOrderList" />
        <except controller="CommodityOrder" action="OrderTradeList" />
        <except controller="CommodityOrder" action="GetOrderTradeList" />
        <except controller="CommodityOrder" action="GetOrderTradeLists" />
        <except controller="CommodityOrder" action="GetMallAppInfo" />
        <except controller="CommodityOrder" action="ExportOrderTradeListExcel" />
        <except controller="CommodityOrder" action="UserDayTradeRankExcel" />
        <except controller="OpenApi" action="*" />
        <except controller="Mobile" action="GetWxConfigSignAsyc" />
        <except controller="GoodsDetail" action="*" />
        <except controller="Mobile" action="GetCommodityDetailsZPHII" />
        <except controller="ThirdNotify" action="*" />
        <except controller="CarInsurance" action="*" />
        <except controller="Mobile" action="GetOrder" />
        <except controller="RefundCoupon" action="*" />
        <except controller="CardVoucher" action="*" />
        <except controller="CustomerService" action="*" />
        <except controller="Mobile" action="CustomerServiceOrder" />
        <except controller="Mobile" action="GetCustomOrder" />
      </filter>
    </Allfilters>
  </GlobalFilter>
</configuration>
