html,body{
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding:0;
    font-family:'Microsoft Yahei';
    background: #eee;
}
*{
    -webkit-overflow-scrolling: touch;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
p{
    padding: 0;
    margin: 0;
}
.clearfix:after{
    content:'';
    display:block;
    overflow:hidden;
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
.hide{
    display: none!important;
}
.lock{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 500px;
    margin: 0 auto;
}
.share{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.f30{
    font-size: 30px;
}
em{
    font-style:normal;
}
/*吐司*/
.detailPage .tips{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 144px;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    margin-left: -72px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0,0,0,.8);
    color: #fff;
    font-size: 11px;
    -webkit-transform: scale(0.92);
    -o-transform: scale(1);
    text-align: center;
    z-index: 2;
}

/*导航*/
.detailPage .nav{
    position: fixed;
    bottom: 0;
    max-width: 500px;
    width: 100%;
    height: 44px;
    border-top: 1px solid #e8e8e8;
    background: #fff;
    z-index: 3;
}
.detailPage .nav .nav-left{
    float: left;
    width: 47%;
    height: 44px;
}
.detailPage .nav .nav-left .nav-item{
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 33.33%;
    height: 44px;
    float: left;
    text-align: center;
    color: #000;
}
.detailPage .nav .nav-left .nav-item.collected{
    display: block;
    color: #e95045;
}
.detailPage .nav .nav-left .nav-item img{
    display:block;
    width: 22px;
    height: 22px;
    margin: 0 auto;
    margin-top: 3px;
}
.detailPage .nav .nav-left .nav-item span{
    display: block;
    line-height: 10px;
    font-size: 11px;
    -webkit-transform: scale(0.92);
    -o-transform: scale(1);
}
.detailPage .nav .nav-left .nav-item .shopping{
    display: block;
    position: absolute;
    top: 0;
    left: 49%;
    border-radius: 7px;
    min-width: 12px;
    padding: 2px;
    font-size: 11px;
    -webkit-transform: scale(0.92);
    text-align: center;
    background: #e95045;
    color: #fff;
}
.detailPage .nav .nav-left .nav-item.borderline{
    border-right: 1px solid #e8e8e8;
}
.detailPage .nav .nav-right{
    display: -webkit-box;
    -webkit-box-flex: 1;
    float: right;
    width: 53%;
    height: 44px;
}
.detailPage .nav .nav-right .btn{
    -webkit-box-flex: 1;
    display: inline-block;
    float: left;
    width: 50%;
    height: 44px;
    line-height: 44px;
    padding: 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.detailPage .nav .nav-right .btn.add{
    background: #e96163;
}
.detailPage .nav .nav-right .btn.add.disabled{
    background: #e3e3e3;
    opacity:1;
    cursor: default;
}
.detailPage .nav .nav-right .btn.add:active{
    opacity: 0.8;
}
.detailPage .nav .nav-right .btn.buy,.detailPage .nav .nav-right .btn.remind,.detailPage .nav .nav-right .btn.appointment{
    position: relative;
    background: #e95045;
}
.detailPage .nav .nav-right .btn.buy.disabled,.detailPage .nav .nav-right .btn.reserver.disabled{
    background: #dcdcdc;
    opacity:1;
    cursor: default;
}
.detailPage .nav .nav-right .btn.buy:active .active,.detailPage .nav .nav-right .btn.remind:active .active,.detailPage .nav .nav-right .btn.appointment:active .active{
    opacity: 0.1;
}
.detailPage .nav .nav-right .btn.buy .active,.detailPage .nav .nav-right .btn.remind .active,.detailPage .nav .nav-right .btn.appointment .active{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
}
.detailPage .nav .nav-right  .btn.seckill{
    background: #e3e3e3;
    color: #000;
}
.detailPage .nav .nav-right  .btn.seckill .seckill-text{
    font-size: 11px;
    display: block;
    height: 22px;
    line-height: 29px;
}
.detailPage .nav .nav-right  .btn.seckill .seckill-time{
    font-size: 11px;
    display: block;
    height: 22px;
    line-height: 17px;
    font-weight: 600;
}
/*第二页面的header*/
.detailPage .page2-header{
    display: none;
    position: fixed;
    top: 0;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    border-bottom: 1px solid #dbd6d6;
    background: #fff;
    z-index: 2;
}
.detailPage .page2-header.active{
    display: block;
}
.detailPage .page2-header .icon{
    display: inline-block;
    width: 23px;
    height: 23px;
}
.detailPage  .page2-header .icon img{
    width: 100%;
    height: 100%;
}
.detailPage .page2-header .title{
    display: block;
    text-align: center;
}
/*第二页面 nav*/
.page2-nav{
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    max-width: 500px;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    background: #fff;
    z-index:1;
}
.page2-nav .nav-list{
    -webkit-box-flex: 1;
    font-size: 11px;
    color: #333;
    text-align: center;
    cursor: pointer;
}
.page2-nav .nav-list:nth-child(1){
    padding-left: 15px;
    text-align: left;
}
.page2-nav .nav-list:nth-child(3){
    padding-right: 15px;
    text-align: right;
}
.page2-nav .nav-list.selected{
    color: #e95045;
    background: #fff;
}
/*返回到顶部*/
.detailPage .backtotop-btn{
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 2;
}
.detailPage .backtotop-btn img{
    width: 25px;
    height: 25px;
}
.detailPage .backtotop-btn.active{
    display: block;
}
/* 轮播区域*/
.detailPage  .page1 .detail-swiper{
    border-bottom: 1px solid #e8e8e8;
}
.detailPage .page1 .detail-swiper .swiper-slide{
    width: 100%;
}
.detailPage .page1 .detail-swiper .swiper-slide a{
    position: relative;
    display: block;
    height: 0;
    padding-top: 73%;
    overflow:hidden;
    background-image: url('/Content/Mobile/com_default.png');
    background-size: 100% auto;
    background-position: center center;
    background-color:#fff;
}
.detailPage .page1 .detail-swiper .swiper-slide a img{
    display:block;
    height: 100%;
    transform: translateY(0);
    top: 0;
}
.detailPage .page1 .detail-swiper  .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet{
    margin: 0 3px;
    background: #999
}
.detailPage .page1 .detail-swiper .swiper-pagination-bullet{
    width: 5px;
    height: 5px;
}
.detailPage  .page1 .detail-swiper .options,.no-commodity .options{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    max-width: 500px;
    padding: 10px 15px;
    z-index: 2;
}
.detailPage  .page1 .detail-swiper .options .icon,.no-commodity .options .icon{
    display: inline-block;
    width: 22px;
    height: 22px;
}
.detailPage  .page1 .detail-swiper .options .icon  img,.no-commodity .options .icon img{
    width: 100%;
    height: 100%;
}
.detailPage  .page1 .detail-swiper .swiper-container .robbed{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.8);
    z-index: 1;
    color: #fff;
    font-size: 14px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
}
.detailPage  .bigPic{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: rgba(0,0,0,1);
    z-index: 3;
}
.detailPage .bigPic .swiper-slide{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 93.7%;
    top: 50%;
    transform: translateY(-50%);
}
.detailPage .bigPic .swiper-slide a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.detailPage .bigPic .swiper-slide a img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    transform: translateY(0);
}
.save-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0,0,0,0.1);
    z-index: 1;
}
.save-wrap-content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
}
.save-wrap-content .save-list{
    width: 100%;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.save-wrap-content .save-list a{
    display: block;
    color: #000;
    font-size: 15px;
    text-align: center;
}
.save-wrap-content .save-list:first-child{
    border-bottom: 1px solid #e8e8e8;
}
/*商品内容区域*/
.detailPage  .page1 .detail-container{
    padding: 15px;
    background: #fff;
}
.detailPage  .page1 .detail-container .d-title{
    font-size: 14px;
    color: #000;
}
.detailPage .page1  .detail-container  .d-price{
    padding-top: 15px;
}
.detailPage .page1 .detail-container .d-price  .d-price-rmb{
    color: #e95045;
    font-size: 10px;
    font-style: normal;
}
.detailPage .page1 .detail-container .d-price  .d-price-rmb{
    color: #e95045;
    font-size: 11px;
}
.detailPage .page1 .detail-container .d-price  .d-price-new{
    padding-right: 10px;
    color: #e95045;
    font-size: 14px;
}
.detailPage .page1 .detail-container .d-price  .d-price-origin{
    display: inline-block;
    color: #999;
    font-size: 11px;
    -webkit-transform: scale(0.92);
    -o-transform: scale(0.92);
}
.detailPage .page1 .detail-container .d-adds{
    display:-webkit-box;
    -webkit-box-flex: 1;
    padding-top: 15px;
}
.detailPage .page1 .detail-container .d-adds >span{
    display:-webkit-box;
    font-size: 11px;
    color: #999;
}
.detailPage .page1 .detail-container .d-adds >span:nth-child(2){
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
}
.detailPage .page1 .detail-container .d-adds >span:last-child{
    -webkit-box-orient: vertical;
}
.detailPage .page1 .detail-container .d-adds >span:nth-child(1){
    text-align: left;
}
.detailPage .page1 .detail-container .d-adds span.commission em{
    display: block;
    float: left;
    font-style: normal;
    -webkit-transform: scale(0.92);
    -o-transform: scale(0.92);
}
.detailPage .page1 .detail-container .d-adds span.commission .pic{
    position: relative;
    width: 22px;
    height: 22px;
    display: block;
    float: left;
    margin-top: -3px;
}
.detailPage .page1 .detail-container .d-adds span.commission .pic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.detailPage .page1 .d-info-wrap{
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 30px 0 15px;
    background-color: #f4f5f6;
    cursor: pointer;
    overflow: hidden;
}
.detailPage .page1 .d-info-wrap:after{
    position: absolute;
    top: 50%;
    right: 8px;
    width: 22px;
    height: 22px;
    margin-top: -11px;
    content: '';
    background: url(/Content/Mobile/angle-right2.png) no-repeat;
    background-size: 100%;
}
.detailPage .page1 .d-info-wrap span{
    position: relative;
    float: left;
    height: 12px;
    margin-bottom: 10px;
    margin-right: 15px;
    padding-left: 15px;
    line-height: 12px;
    font-size: 11px;
    color: #999;
}
.detailPage .page1 .d-info-wrap span:before{
    position: absolute;
    left: 0;
    top: 1px;
    width: 10px;
    height: 10px;
    content: '';
    background: url('/Content/Mobile/duihao.png') no-repeat;
    background-size: 100% 100%;
}

/*选择数量*/
.modal-content-bd .modal-content-bd-count .quantity-wrapper{
    float: right;
    width: 77px;
    height: 22px;
    margin-top: 10px;
    margin-right: 5px;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.modal-content-bd .modal-content-bd-count .quantity-wrapper .quantity-decrease,.modal-content-bd .modal-content-bd-count .quantity-wrapper .quantity-increase{
    float: left;
    display: block;
    box-sizing: border-box;
    width: 25px;
    height: 20px;
    color: #999;
    text-align: center;
    line-height: 20px;
}
.modal-content-bd .modal-content-bd-count .right-border{
    border-right: 1px solid #999;
}
.modal-content-bd .modal-content-bd-count .left-border{
    border-left: 1px solid #999;
}
.modal-content-bd .modal-content-bd-count .quantity-wrapper input{
    display: block;
    width:25px;
    height: 20px;
    line-height: 20px;
    float: left;
    padding: 0;
    font-size: 12px;
    color: #333;
    border: 0;
    text-align: center;
}
/*优惠券 易捷币 优惠套餐*/
.coupon-wrap {
    padding: 5px 15px;
    background: #fff;
    border-top: 1px solid #e8e8e8;
    font-size: 12px;
    color: #999;
}
.coupon-wrap .coupon-content{
    padding-right: 22px;
    cursor: pointer;
}
.coupon-wrap .coupon-content,.coupon-wrap .discount-content.vip,.coupon-wrap .yjb-content,.coupon-wrap .oil-coupon,.coupon-wrap .package-content,.coupon-wrap .present-content{
    position: relative;
    height: 16px;
    padding-left: 63px;
    padding-right: 10px;
    margin:10px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.coupon-wrap .coupon-content:before ,.coupon-wrap .yjb-content:before,.coupon-wrap .discount-content.vip:before,.coupon-wrap .oil-coupon:before,.coupon-wrap .present-content:before,.coupon-wrap .package-content:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 51px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #e95045;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 9px;
    color: #e95045;
    text-align: center;
}
.coupon-wrap .coupon-content:before{
    content: "\4f18\60e0\5238";
}
.coupon-wrap .yjb-content:before{
    content: "\6613\6377\5e01";
}
.coupon-wrap .discount-content.vip:before{
    content: "\4f1a\5458\6298\6263";
}
.coupon-wrap .oil-coupon:before{
    content: "\6cb9\5361\5151\6362\5238";
}
.coupon-wrap .present-content:before{
    content:"\8d60\54c1";
}
.coupon-wrap .package-content:before{
    content: "\4f18\60e0\5957\88c5";
}
.coupon-wrap .coupon-content:after,.coupon-wrap .package-content:after,.coupon-wrap .present-content:after{
    position: absolute;
    top: -3px;
    right: -7px;
    width: 22px;
    height: 22px;
    content: '';
    background: url(/Content/Mobile/angle-right2.png) no-repeat;
    background-size: 100%;
}
/*关税*/
.duty-wrap{
    height: 40px;
    line-height: 40px;
    background: #fff;
    border-top: 1px solid #d6d6d6;
}
.duty-wrap .duty-title{
    padding-left: 15px;
    font-size: 12px;
    color: #999;
    line-height: 40px;
}
.duty-wrap .duty-title .duty-value{
    padding-left: 15px;
}
/*分销*/
.distribution-wrap{
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    background: #fff;
}
.distribution-wrap .distribution-content{
    position: relative;
    display: block;
    margin-top: 9px;
    margin-right: 8px;
}
.distribution-wrap .distribution-content:after{
    position: absolute;
    top: 9px;
    right: 0;
    width: 22px;
    height: 22px;
    content: '';
    background: url(/Content/Mobile/angle-right2.png) no-repeat;
    background-size: 100%;
}
.distribution-wrap .distribution-content .title{
    padding-left: 15px;
    font-size: 12px;
    color: #000;
    line-height: 40px;
}
/* 商品评价*/
.detailPage .page1 .detail-evaluate{
    margin-top: 10px;
    background: #fff;
}
.detailPage .page1 .detail-evaluate .evaluated .header{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.detailPage .page1 .detail-evaluate .evaluated .header .title{
    font-size: 14px;
    color: #000;
}
.detailPage .page1 .detail-evaluate .evaluated .header .approval-rate{
    width: auto;
    font-size: 11px;
    color: #000;
}
.detailPage  .page1 .detail-evaluate .evaluated .header .approval-rate b{
    padding-right: 2px;
    font-weight: 400;
    color: #e95045;
}
.detailPage .page1 .detail-evaluate .evaluated .comments{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.detailPage .page1 .detail-evaluate .evaluated .comments .comment-start{

}
.detailPage .page1 .detail-evaluate .evaluated .comments .comment-start .start{
    display: inline-block;
    position: relative;
    width: 61px;
    height: 12px;
    background: url('../images/start.png');
    background-size: 12px 12px;
}
.detailPage .page1 .detail-evaluate .evaluated .comments .comment-start .real-start{
    position:absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 12px;
    background: url('../images/redstart.png');
    background-size: 12px 12px;
}
.detailPage .page1 .detail-evaluate .evaluated .comments .comment-start .real-start.start-width1{
    width: 12px;
}
.detailPage .page1 .detail-evaluate .evaluated .comments .comment-start .real-start.start-width2{
    width: 24px;
}
.detailPage .page1 .detail-evaluate .evaluated .comments .comment-start .real-start.start-width3{
    width: 36px;
}
.detailPage .page1 .detail-evaluate .evaluated .comments .comment-start .real-start.start-width4{
    width: 48px;
}
.detailPage .page1 .detail-evaluate .evaluated .comments .comment-start .real-start.start-width5{
    width: 60px;
}
.detailPage .page1 .detail-evaluate .evaluated .comments .comment-start .name{
    width: auto;
    font-size: 12px;
    color :#000;
}
.detailPage .page1 .detail-evaluate .evaluated  .comments .comment-content{
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 10px;
    font-size: 12px;
    color :#999;
}
.detailPage .page1 .detail-evaluate .more{
    height: 40px;
    text-align:center;
}
.detailPage .page1 .detail-evaluate .more .btn{
    margin-top: 8px;
}
.detailPage .unevaluate{
    box-sizing: border-box;
    padding: 0 15px;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #000;
    background: #fff;
}
.detailPage .page1 .detail-evaluate .more .btn{
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color: #c1c2c4;
    color: #000;
    font-size: 11px;
}
.detailPage .page1  .pull-detail{
    display: -webkit-box;
    -webkit-box-flex:1;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.detailPage .page1 .pull-detail .title{
    padding: 0 15px;
    color: #999;
    font-size: 12px;
    transform: scale(0.92);
}
.detailPage .page1 .pull-detail .line{
    -webkit-box-flex:1;
}
.detailPage .page1 .pull-detail .line img{
    width: 100%;
    height: 1px;
}
/*店铺信息*/
.store-info-wrap{
    margin-top: 10px;
    padding: 10px 15px;
    background: #fff;
}
.store-info-wrap .store-info-message{
    display: block;
}
.store-info-wrap .store-info-message .store-info-logo{
    float: left;
    width: 30px;
    height: 30px;
}
.store-info-wrap .store-info-message .title{
    float: left;
    padding-left: 10px;
    line-height: 30px;
    font-size: 14px;
    color: #000;
}
.store-info-wrap .store-info-btns{
    padding: 15px 0;
    text-align: center;
    overflow:hidden;
    font-size: 0;
}
.store-info-wrap .store-info-btns .btn{
    display: inline-block;
    width: 21%;
    margin: 2px 2%;
    padding: 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color: #c1c2c4;
    color: #000;
    font-size: 11px;
}
.store-info-wrap .store-info-btns .btn:active{
    background: #fff;
}
/*第二屏页面*/
.detailPage .page2{
    margin-top: 10px;
}
.detailPage .page2 .down-detail{
    position: relative;
    height: 40px;
    padding: 10px;
    text-align: center;
    line-height: 25px;
}
.detailPage .page2 .down-detail span{
    display: block;
    font-size: 11px;
    -webkit-transform: scale(0.92);
    -o-transform: scale(1);
    color: #999;
}
.detailPage .page2 .shoppingInfo{
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}
.detailPage .page2 .shoppingInfo img{
    display: block;
    width: 100%;
    height: auto;
}
.detailPage .page2 .shoppingInfo p{
    font-size: 14px;
    color: #000;
}
/*视频*/
.vedio-wrap{
    padding: 20px 10px 10px;
    background: #fff;
    margin-bottom: 10px;
}
.vedio-wrap video{
    width: 100%;
}
/*属性弹窗*/
.modal-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 500px;
    margin: 0 auto;
    background: rgba(0,0,0,.5);
    z-index: 3;
}
.modal-wrap .modal-content{
    position: absolute;
    width: 100%;
    height: 286px;
    padding-bottom: 44px;
    background: #fff;
    bottom: 0;
    border-radius: 0;
    border: 0;
}
.modal-wrap .modal-content .modal-content-close {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 22px;
    height: 22px;
    float: right;
    background: url(/Content/Mobile/quxiao.png) no-repeat;
    background-size: 100%;
}
.modal-wrap .modal-content .modal-content-hd{
    position: relative;
    height: 55px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 15px;
}
.modal-wrap .modal-content .modal-content-hd .pic{
    width: 90px;
    height: 90px;
    margin-top: -45px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.modal-wrap .modal-content .modal-content-hd .money{
    position: absolute;
    top: 12px;
    left: 115px;
    color: #e95045;
    font-size: 10px;
}
.modal-wrap .modal-content .modal-content-hd .money .money-text{
    font-size: 14px;
}
.modal-wrap .modal-content .modal-content-hd .modal-duty{
    position: absolute;
    bottom: 5px;
    left: 115px;
    color: #999;
    font-size:11px;
}
.modal-wrap .modal-content .modal-content-bd{
    padding: 5px 10px;
    height: 189px;
    overflow-y: auto;
}
.modal-wrap .modal-content .modal-content-bd .modal-content-bd-title{
    padding: 5px;
    margin-top: 5px;
    color: #999;
    font-size: 12px;
}
.modal-wrap .modal-content .modal-content-bd .modal-content-bd-item{
    float: left;
    padding: 5px 15px;
    margin: 5px;
    border: 1px solid #000;
    color: #000;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 11px;
    cursor: pointer;
}
.modal-wrap .modal-content .modal-content-bd .modal-content-bd-item.disable{
    border-color: #b3b3b3;
    color: #b3b3b3;
    cursor: default;
}
.modal-wrap .modal-content .modal-content-bd .modal-content-bd-item.active{
    border-color: #e95045;
    color: #e95045;
}
.modal-wrap .modal-content .modal-content-btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    background: #e95045;
}
/*优惠券弹窗*/
.modal-coupon,.modal-server,.modal-present{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 500px;
    margin: 0 auto;
    background: rgba(0,0,0,.5);
    z-index: 3;
}
.modal-coupon .modal-coupon-content,.modal-server .modal-server-content,.modal-present .modal-present-content{
    position: fixed;
    left:0;
    right: 0;
    max-width: 500px;
    height: 75%;
    padding-bottom: 44px;
    margin: 0 auto;
    background: #eee;
    bottom: 0;
    border-radius: 0;
    border: 0;
    overflow-y: auto;
    -webkit-animation: fade .3s;
}
@-webkit-keyframes fade{
    0%{
        -webkit-transform: translateY(100%);
    }
    100%{
        -webkit-transform: translateY(0);
    }
}
@keyframes fade{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}
.modal-coupon  .modal-coupon-content-hd,.modal-server .modal-server-content-hd,.modal-present .modal-present-content-hd{
    position: fixed;
    bottom: 75%;
    left: 0;
    right: 0;
    height: auto;
    line-height: 40px;
    width: 100%;
    max-width: 500px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
    background-color: #eee;
    color:#666;
    z-index: 1;
    -webkit-animation: fade .3s;
}
.modal-coupon-content-hd .modal-coupon-content-close,.modal-server-content-hd .modal-server-content-close,.modal-present-content-hd .modal-present-content-close{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 22px;
    height: 22px;
    float: right;
    background: url(/Content/Mobile/quxiao.png) no-repeat;
    background-size: 100%;
}
.modal-coupon-content-bd{
    padding: 0 15px 0 15px;
}
.modal-coupon-content-bd .lists-wrap{
    margin-bottom: 5px;
    padding: 5px;
    background: #fff;
}
.modal-coupon-content-bd .lists-wrap .list{
    position: relative;
    top: 0;
    left: 0;
    display: -webkit-box;
    -webkit-box-flex: 1;
    border: 1px solid #eee;
}
.modal-coupon-content-bd .lists-wrap .list.received:after{
    position: absolute;
    right: 110px;
    top: -5px;
    width: 49px;
    height: 40px;
    content: '';
    background: url('/Content/Mobile/yilingqu.png') no-repeat;
    background-size: 100% 100%;
}
.modal-coupon-content-bd .lists-wrap .list .list-left{
    position: relative;
    top: 0;
    left: 0;
    height: 92px;
    -webkit-box-flex: 1;
    padding: 10px 9px;
    font-size: 11px;
}
.modal-coupon-content-bd .lists-wrap .list .list-left.used:after{
    position: absolute;
    top: 0;
    right: 0;
    width: 49px;
    height: 40px;
    background-image: url(../../Content/Mobile/yilingqu.png);
    background-size: 100% 100%;
    content: '';
}
.modal-coupon-content-bd .lists-wrap .list .list-left .name{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}
.modal-coupon-content-bd .lists-wrap .list .list-left .content{
    position: absolute;
    bottom: 10px;
}
.modal-coupon-content-bd .lists-wrap .list .list-left .text{
    margin-bottom: 3px;
    color: #999;
}
.modal-coupon-content-bd .lists-wrap .list .list-left .date{
    color: #999;
    font-size: 9px;
}
.modal-coupon-content-bd .lists-wrap .list .list-right{
    width: 116px;
    margin: 5px 0;
    border-left: 1px dashed #eee;
    text-align: center;
}
.modal-coupon-content-bd .lists-wrap .list .list-right .title{
    padding-top:5px;
    font-size: 11px;
    color: #999;
}
.modal-coupon-content-bd .lists-wrap .list .list-right .price{
    font-size: 13px;
    color: #e95045;
}
.modal-coupon-content-bd .lists-wrap .list .list-right .btn{
    width: 70px;
    height: 22px;
    line-height: 20px;
    padding: 0;
    font-size: 12px;
    border-color:#999;
}
.btn.disabled{
    color: #999;
    border-color: #eee;
    cursor: default;
}
.btn.disabled:active {
    color: #999;
    background-color: #fff;
}
/*服务权益弹窗*/
.modal-server .modal-server-content,.modal-server .modal-server-content-hd,.modal-present .modal-present-content,.modal-present .modal-present-content-hd{
    background:#fff;
}
.modal-server .modal-server-content{
    padding-bottom: 60px;
    overflow-y: hidden;
}
.modal-server-content .modal-server-content-bt,.modal-server-content .modal-package-content-bt,.modal-present-content .modal-present-content-bt{
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    max-width: 500px;
    height: 49px;
    line-height: 49px;
    margin: 0 auto;
    background: #e95045;
    color: #fff;
    font-size: 17px;
    text-align: center;
}
.modal-server-content-bd,.modal-present-content-bd{
    overflow-y: auto;
    height: 100%;
}
.modal-server-content-bd .server-list{
    padding:10px 15px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 10px;
}
.modal-server-content-bd .server-list:last-child{
    border:0;
}
.modal-server-content-bd .server-list .server-list-title span{
    position: relative;
    top: 0;
    left: 0;
    height: 12px;
    line-height: 12px;
    padding-left: 15px;
    color: #333;
}
.server-list-title span:before{
    position: absolute;
    left: 0;
    top: 2px;
    width: 10px;
    height: 10px;
    content: '';
    background: url('/Content/Mobile/duihao.png') no-repeat;
    background-size: 100% 100%;
}
.modal-server-content-bd .server-list .server-list-info{
    padding-left: 15px;
    padding-top: 2px;
    color: #999;
}
/*赠品弹窗*/
.modal-present-content-hd .present-tips{
    line-height: 15px;
    padding-bottom: 5px;
    font-size: 10px;
    color: #999;
    text-align: left;
}
.present-list-wrap .present-list{
    padding: 15px;
}
.present-list .present-list-img{
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    overflow:hidden;
}
.present-list .present-list-text{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
}
.present-list .present-list-text .present-list-title{
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    font-size: 12px;
}
.present-list .present-list-text .present-list-title:before{
    content: '\005b\8d60\54c1\005d';
    font-size: 12px;
    color: #e95045;
}
.present-list-text .present-list-size{
    color: #999;
    font-size: 11px;
}
.present-list-text .present-list-size span:first-child{
    padding-left: 10px;
}
.present-list-text .present-list-size span:last-child{
    padding-left: 20px;
}
/*优惠套餐弹窗*/
.package-tips{
    padding-bottom: 15px;
    color: #e95045;
    line-height: 10px;
    font-size: 10px;
    text-align: left;
}
.package-tips span{
    padding-left: 5px;
    color: #999;
}
.package-all{
    display:-webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient:horizontal;
    -webkit-box-align: center;
    padding: 15px 10px 0 15px;
}
.package-all .title{
    display: inline-block;
    color: #e95045;
    border: 1px solid #e95045;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 1px 3px;
    margin-right: 6px;
    font-size: 11px;
}
.package-all .price{
    display: block;
    padding: 1px 0;
    -webkit-box-flex: 1;
    font-size: 11px;
    color: #333;
}
.package-all .price em{
    color:#e95045;
}
.package-all .num{
    position: relative;
    top: -2px;
    left: 0;
    padding-right: 22px;
    font-size: 11px;
    color: #333;
}
.package-all .num:after{
    position: absolute;
    top:-4px;
    right:0;
    width: 22px;
    height: 22px;
    background: url(/Content/Mobile/angle-right2.png) no-repeat;
    background-size: 100%;
    content:'';
}
.packgae-list{
    padding: 15px;
}
.packgae-list .packgae-list-title{
    color: #333;
    font-size: 11px;
}
.packgae-list .packgae-list-item{
    height: 65px;
    padding-top: 5px;
    margin-bottom: 15px;
    overflow: hidden;
}
.packgae-list .packgae-list-item:last-child{
    margin-bottom: 0;
}
.packgae-list .packgae-list-item .pic{
    position: relative;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 33px;
}
.packgae-list .packgae-list-item .pic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.packgae-list .packgae-list-item .pic:after{
    position: absolute;
    top: 0;
    right: -33px;
    height: 60px;
    width: 33px;
    line-height: 60px;
    text-align: center;
    content: '+';
    color: #999;
    font-size: 13px;
}
.packgae-list .packgae-list-item .pic:last-child{
    margin-right:0;
}
.packgae-list .packgae-list-item .pic:last-child:after{
    display:none;
}
.packgae-list .packgae-list-item .pic:last-child:after{
    display:none;
}
.packgae-list .packgae-list-item .more{
    display: inline-block;
    height: 60px;
    line-height: 50px;
    margin-left: -8px;
    font-size: 12px;
}
/*精品推荐(纵向两列) start*/
.recommendPortraitTwo .recommendPortraitTwo-tips{
    position: relative;
    font-size: 14px;
    line-height: 38px;
    padding: 0 15px;
    background: #ffffff;
    color: #000;
}
.recommendPortraitTwo .recommendPortraitTwo:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #e8e8e8;
    color: #e8e8e8;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 1;
}
.recommendPortraitTwo .recommendPortraitTwo-tips .line{
    display: inline-block;
    width: 3px;
    height: 12px;
    background: #ea3031;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -3px;
}
.recommendPortraitTwo .recommendPortraitTwo-lists .recommendPortraitTwo-lists-item{
    float: left;
    position: relative;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.recommendPortraitTwo .recommendPortraitTwo-lists .recommendPortraitTwo-lists-item:nth-child(2n+1){
    padding-right: 2px;
}
.recommendPortraitTwo .recommendPortraitTwo-lists .recommendPortraitTwo-lists-item:nth-child(2n){
    padding-left: 2px;
}
.recommendPortraitTwo .recommendPortraitTwo-lists .recommendPortraitTwo-lists-item .pic{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
}
.recommendPortraitTwo .recommendPortraitTwo-lists .recommendPortraitTwo-lists-item .pic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.recommendPortraitTwo .recommendPortraitTwo-lists .recommendPortraitTwo-lists-item .pro_info{
    position: relative;
    padding: 7px 10px;
    background: #ffffff;
}
.recommendPortraitTwo .recommendPortraitTwo-lists .recommendPortraitTwo-lists-item .pro_info p{
    height: 32px;
    line-height: 1.36;
    margin: 0;
    margin-bottom: -1px;
    color: #000000;
    font-size: 12px;
}
.recommendPortraitTwo .recommendPortraitTwo-lists .recommendPortraitTwo-lists-item .pro_info .actual_price{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    color: #e95045;
}
.recommendPortraitTwo .recommendPortraitTwo-lists .recommendPortraitTwo-lists-item .pro_info .old_price{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 11px;
    color: #999;
    text-decoration: line-through;
}
/*精品推荐(纵向两列)end*/

/*商品不存在的情况*/
.no-commodity{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 500px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.no-commodity .no-commodity-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    color: #999;
}
/*预约活动*/
.appointment-wrap{
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    margin-top: -2px;
    background: #e95045;
    border-top: 1px solid #dbd6d6;
}
.appointment-wrap .appointment-content{
    float: left;
    padding-left: 10px;
}
.appointment-wrap .appointment-content .new-price{
    float: left;
    font-size: 24px;
    color: #fff;
}
.appointment-wrap .appointment-content .old-price-wrap{
    float: left;
    font-size: 10px;
    line-height: 12px;
    -webkit-transform: scale(.83);
    color: #fff;
}
.appointment-wrap .appointment-content .old-price-wrap>span{
    display: block;
    min-height: 10px;
    line-height: 10px;
    margin-top: 5px;
    font-size: 11px;
}
.appointment-wrap .appointment-content .old-price-wrap>span.old-price{
    text-decoration:line-through;
}
.appointment-wrap .appointment-time{
    width: 80px;
    float: right;
    font-size: 11px;
    color: #f9ff56;
    -webkit-transform: scale(.83);
}
.appointment-wrap .appointment-time>div{
    line-height: 10px;
    margin-top: 5px;
    text-align: center;
}
/*预约弹窗*/
.appointment-modal-wrap,.identify-modal-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width:500px;
    background: rgba(0,0,0,.5);
    z-index: 3;
    margin: 0 auto;
}
.appointment-modal-wrap .appointment-modal-content,.identify-modal-wrap .identify-modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 215px;
    min-height: 88px;
    background: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-top: 15px;
}
.appointment-modal-wrap .appointment-modal-content .appointment-modal-content-bd,.identify-modal-wrap .identify-modal-content .identify-modal-content-bd{
    height: 40px;
    padding: 0 10px;
    font-size: 12px;
}
.appointment-modal-wrap .appointment-modal-content .appointment-modal-content-bt,.identify-modal-wrap .identify-modal-content .identify-modal-content-bt{
    border-top: 1px solid #e8e8e8;
}
.appointment-modal-wrap .appointment-modal-content .appointment-modal-content-bt .appointment-btn,.identify-modal-wrap .identify-modal-content .identify-modal-content-bt .identify-btn{
    display: inline-block;
    float: left;
    width: 50%;
    line-height: 33px;
    text-align: center;
    font-size: 12px;
    color: #000;
}
.appointment-modal-wrap .appointment-modal-content .appointment-modal-content-bt .appointment-btn:last-child,.identify-modal-wrap .identify-modal-content .identify-modal-content-bt .identify-btn:last-child{
    border-left: 1px solid #e8e8e8;
}
.identify-modal-wrap .identify-modal-content{
    padding: 0;
}
.identify-modal-wrap .identify-modal-content .identify-modal-content-hd{
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
}
.identify-modal-wrap .identify-modal-content .identify-modal-content-bd{
    position: relative;
    padding: 0;
}
.identify-modal-wrap .identify-modal-content .identify-modal-content-bd input{
    width: 100%;
    height: 40px;
    padding: 0 80px 0 10px;
    margin: 0;
    border: 0;
    outline: none;
    font-size: 14px;
}
.identify-modal-wrap .identify-modal-content .identify-modal-content-bd img{
    position: absolute;
    right:0;
    top: 0;
    width: 80px;
    height: 40px;
    float: left;
}
.swiper-notice {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    margin: 0;
    font-size: 14px;
    padding: 10px; /*background: rgba(228,113,180,0.5);*/
    background: rgba(0,0,0,0.5);
    color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-right: 24px;
}
#divRegOrDownloadTip > a {
    position: absolute;
    right: 6px;
    top: 9px;
    display: inline-block;
    border-radius: .8rem;
    width: 1.3rem;
    height: 1.3rem;
    font-size: 0.9rem;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 1.5;
}
.mask{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: rgba(238,238,238,.8);
    z-index: 3;
}
.font11{
    font-size:11px;
}
/*弹窗*/
.modal{
    max-width: 500px;
    margin: 0 auto;
}
.modal .modal-dialog{
    position: absolute;
    left: 10%;
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.modal .modal-content{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.modal-footer{
    padding: 0;
}
.modal-footer .btn{
    display: inline-block;
    float: left;
    width: 50%;
    line-height: 33px;
    padding:0;
    margin: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-align: center;
    font-size: 12px;
    color: #000;
    background: #fff;
}
.modal-footer .btn+.btn{
    margin: 0;
    border-left: 1px solid #e8e8e8;
}
/*预售发货时间*/
.reserver-wrap{
    height: 22px;
    line-height: 12px;
    padding: 5px 15px 0 15px;
    background: #fbedd3;
    font-size: 11px;
    color: #999;
}
/*分享有礼*/
.share-app{
    position: relative;
    top: 3px;
    float: right;
    padding-right: 22px;
    color: #666;
    font-size: 10px;
}
.share-app:active{
    color: #666;
}
.share-app:before{
    position: absolute;
    top:0;
    left: -17px;
    content:'';
    width: 12px;
    height: 13px;
    background-image: url(/Content/Mobile/qiandai.png);
    background-size: 100% 100%;
}
.share-app:after{
    position: absolute;
    top: -4px;
    right: 0;
    content: '';
    width: 22px;
    height: 22px;
    background-image: url(/Content/Mobile/wenhao.png);
    background-size: 100% 100%;
}
