<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ShopAppContainer" connectionString="metadata=res://*/ShopApp.csdl|res://*/ShopApp.ssdl|res://*/ShopApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=183.56.130.151;Initial Catalog=AMP.BTP;Persist Security Info=True;User ID=btp;Password=1234QWER!@#$;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="YJBJContainer" connectionString="metadata=res://*/YJBJ.csdl|res://*/YJBJ.ssdl|res://*/YJBJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BJD10436\SQL2012NEW;Initial Catalog=YJBJ;Persist Security Info=True;User ID=sa;Password=1234QWER!@#$;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>