@font-face {
	font-family: 'jinher';
	src:url('font/jinher.eot?4pot30');
	src:url('font/jinher.eot?#iefix4pot30') format('embedded-opentype'),
	url('font/jinher.woff?4pot30') format('woff'),
	url('font/jinher.ttf?4pot30') format('truetype'),
	url('font/jinher.svg?4pot30#jinher') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="i-"], [class*=" i-"] {
	font-family: 'jinher';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-back:before {
	content: "\e61e";
}

.i-face:before {
	content: "\e60e";
}

.i-listsearch:before {
	content: "\e61a";
}

.i-menu:before {
	content: "\e61b";
}

.i-share:before {
	content: "\e61c";
}

.i-interruption:before {
	content: "\e61d";
}

.i-help:before {
	content: "\e600";
}

.i-shopper:before {
	content: "\e601";
}

.i-map:before {
	content: "\e602";
}

.i-usercard:before {
	content: "\e603";
}

.i-set:before {
	content: "\e604";
}

.i-msg:before {
	content: "\e605";
}

.i-mail:before {
	content: "\e606";
}

.i-search:before {
	content: "\e607";
}

.i-compass:before {
	content: "\e608";
}

.i-file:before {
	content: "\e609";
}

.i-net:before {
	content: "\e60a";
}

.i-service:before {
	content: "\e60b";
}

.i-chart:before {
	content: "\e60c";
}

.i-speaker:before {
	content: "\e60d";
}

.i-group:before {
	content: "\e60f";
}

.i-carts:before {
	content: "\e610";
}

.i-home:before {
	content: "\e611";
}

.i-gold:before {
	content: "\e612";
}

.i-more:before {
	content: "\e613";
}

.i-play:before {
	content: "\e614";
}

.i-user:before {
	content: "\e615";
}

.i-add:before {
	content: "\e616";
}

.i-tag:before {
	content: "\e617";
}

.i-stroll:before {
	content: "\e618";
}

.i-shop:before {
	content: "\e619";
}

