/*全局控制*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: #ff0054;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
a:active {
    opacity: .8;
}

input,
textarea,
button,
select {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
}

select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"] {
    width: 100%;
    height: 35px;
    -webkit-appearance: none;
    padding: 0 15px;
    margin-bottom: 15px;
    line-height: 21px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    outline:0;
}

input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 20px;
}

input[type="search"]:focus {
    text-align: left;
}

textarea {
    height: auto;
}

select {
    height: auto;
    font-size: 14px;
    background-color: #f8f8f8;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}
/*全局定义*/
.icon {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
/*工具条*/
.bar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.bar .icon {
    position: relative;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bar-nav {
    top: 0;
}
.bar-nav .title {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 -10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
    color: #000;
    text-align: center;
    white-space: nowrap;
}
.bar-tab {
    bottom: 0;
    display: table;
    width: 100%;
    height: 50px;
    padding: 0;
    table-layout: fixed;
    border-top: 1px solid #ddd;
    border-bottom: 0;
}
.bar-tab .tab-item {
    display: table-cell;
    width: 1%;
    height: 50px;
    color: #929292;
    text-align: center;
    vertical-align: middle;
}
.bar-tab .tab-item .icon {
    top: 3px;
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}
.bar-tab .tab-item .icon~.tab-label {
    display: block;
    font-size: 11px;
}
.bar-tab .tab-item.active, .bar-tab .tab-item:active {
    color: #428bca;
}
.bar-footer {
    bottom: 0;
}
.content{

}
.bar-nav ~ .content{
    padding-top: 44px;
}
.bar-tab ~ .content{
    padding-bottom: 50px;
}
.bar-footer ~ .content{
    padding-bottom: 44px;
}
/*按钮*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.btn-primary{
    background-color: #FF0054;
    color: #fff;
}