.u-user-info,.u-user-links{
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #e6e6ec;
}
.u-user-info{
    background: #ccc url("images/headerBg.png") no-repeat center;
    background-size:cover;
    height: 200px;
}
.u-user-info .tabs{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:rgba(0,0,0,.4);
    display: table;
}
.u-user-info .tabs a{
    display: table-cell;
    padding-top: 4px;
    position: relative;
    box-shadow: 0 0 1px 0 #fff;
    width: 20%;
}
.u-user-info .tabs a:last-child{
    border: none;
}
.u-user-info .tabs .msg-name,.u-user-info .tabs .msg-number{
    display: block;
    margin: 3px auto;
    vertical-align: middle;
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
    color: #fff;
    text-shadow:0 0 1px #000;
}
.u-user-info .tabs .msg-number{
    width: 30px;
    height: 20px;
    border-radius: 10px;
    background-color: #FF0054;
}
.u-user-info .tabs .msg-name{
    font-size: .7rem;
}
.u-user-info .tabs .msg-number.empt{
    background-color: rgba(0,0,0,.2);
}
.u-user-info .setting{
    display: inline-block;
    float: right;
    width: 35px;
    height: 35px;
    color: #fff;
    font-size: 1.7rem;
    text-shadow: 0 0 2px #000;
}
.u-user-info .user{
    width: 100%;
    padding: 10px;
    height: 110px;
    text-align: center;
    font-size: 1rem;
}
.u-user-info .user img{
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 #000;
}
.u-user-info .user > div{
    width: 200px;
    margin: 6px auto;
    color: #fff;
    text-shadow:0 0 2px #000;
}
.u-user-links .link-item{
    display: table;
    width: 100%;
}
.u-user-links .link-item .item{
    width: 33.33%;
    display: table-cell;
    padding: 3px;
    text-align: center;
}
.u-user-links .link-item .item a{
    padding: 15px;
    display: block;
    width: 100%;
    background-color: #fff;
    color: #646464;
}
.u-user-links .link-item .item img,
.u-user-links .link-item .item .title,
.u-user-links .link-item .item .sub{
    display: block;
    margin: 3px auto;
    font-size: .8rem;
    line-height: 1.2;
}
.u-user-links .link-item .item .title{
}
.u-user-links .link-item .item .sub{
    color: #cccccc;
    font-size: .8rem;
}

