/*style*/
body{
    background-color: #565656;
}
.bar-nav{
    background-color: #2e2e2e;
    border: none;
    box-shadow: 0 0 2px #000;
}
.bar-nav .title{
    color: #fff;
}
.bar-nav a{
    color: #fff;
}
.bar-footer{
    box-shadow: 0 0 2px #ddd;
}
.bar-tab .tab-item.active, .bar-tab .tab-item:active {
    color: #FF0054;
}
.bar-tab .tab-item img {
    color: #FF0054;
    width: 24px;
    height: 24px;
}
.bar-tab .tab-item .icon{
    top: 0!important;
}