html, body {
    background-color: #fff;
}
.page .bar-nav {
    background-color: #069bdd;
}
.page .bar .fa-chevron-left,
.page .bar-nav .title {
    color: #fff;
}
.ui-search-wrap {
    position: fixed;
    width: 100%;
    top: 44px;
    padding: 10px 10px;
    z-index: 100;
    background-color:#efefef;
}
.ui-place-list {
    max-width: 500px;
    width: 100%;
    margin: 60px auto 0;
    padding: 0 20px 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Microsoft Yahei';
}
.anchor {
    position: fixed;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
}
.anchor>a {
    display: block;
    color: #4397bb;
    font-size: .8rem;
}
.table-view-diviter a, .table-view-cell a {
    color: #292929;
    font-size: .8rem;
}
.current-tit {
    font-size: .8rem;
}
.current-place {
    padding: 10px;
}
.current-place a {
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    font-size: .8rem;
    color: #707070;
    border-radius: 3px;
}