@{
    Layout = null;

    bool showExp = false;
    List<Jinher.AMP.BTP.Deploy.ExpressTraceDTO> traces = null;
    if (ViewBag.ExpressRoute == null)
    {
        showExp = false;
    }
    else
    {
        Jinher.AMP.BTP.Deploy.CustomDTO.ResultDTO<Jinher.AMP.BTP.Deploy.CustomDTO.OrderExpressRouteExtendDTO> expressResult = ViewBag.ExpressRoute as Jinher.AMP.BTP.Deploy.CustomDTO.ResultDTO<Jinher.AMP.BTP.Deploy.CustomDTO.OrderExpressRouteExtendDTO>;
        if (expressResult.ResultCode != 0
        || expressResult.Data == null
        || expressResult.Data.Traces == null
        || expressResult.Data.Traces.Count == 0)
        {
            showExp = false;
        }
        else
        {
            showExp = true;
            traces = expressResult.Data.Traces;
        }
    }
}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>查看物流</title>
    <link href="/Content/Mobile/zphStyle/checkLogistics.css" rel="stylesheet" type="text/css" />
    <script src="/Content/Mobile/zepto.min.js"></script>
    <script src="/Content/Mobile/Common.js"></script>
    <script src="/Content/Mobile/clipboard.min.js"></script>
    <script type="text/javascript">
        function getQueryString(name, str) {
            var r = str ? str.split('?')[1] : '' || window.location.search.substr(1);
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            r = r.match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }
    </script>
</head>
<body>
    <div class="page">
        <header class="header hide">
        <a id="aBack" href="javascript:void(0);" class="header-left"><img src="/Content/Mobile/angle-left.png" alt="返回"/></a>
        <h1 class="header-title">查看物流</h1>
    </header>
        <div class="content">
            @if (showExp)
            {
                int i = 0;
                <div class="order-logistics-wrap">
                    <div class="order-logistics">
                        <img src="/Content/Mobile/xiaoqiche.png">
                        <div class="order-logistics-info">
                            <div class="name">
                                物流公司：@ViewBag.ShipperCode</div>
                            <div class="number">
                                订单号：@ViewBag.ExpOrderNo<a class="copy" href="javascript: void(0)" data-clipboard-text="@ViewBag.ExpOrderNo">复制</a></div>
                        </div>
                    </div>
                </div>
                <div class="check-logistics">
                    <div class="name">
                        物流跟踪</div>
                    <ul class="logistics-info">
                        @foreach (Jinher.AMP.BTP.Deploy.ExpressTraceDTO et in traces)
                        {
                            string acceptTime = et.AcceptTime.ToString("yyyy-MM-dd HH:mm:ss");
                            System.Text.RegularExpressions.Regex regex = new System.Text.RegularExpressions.Regex("(\\d{7,})", System.Text.RegularExpressions.RegexOptions.Multiline);
                            string result = regex.Replace(et.AcceptStation, "<a href='tel:$1'>$1</a>");
                            <li>
                                <div class="mark">
                                    <div class="line">
                                    </div>
                                    <i></i>
                                </div>
                                <div class="introduce">
                                    <div class="introduce-info">@Html.Raw(result)</div>
                                    <div class="time">@acceptTime</div>
                                </div>
                            </li>
                            i++;
                        }
                    </ul>
                </div>
            }
            else
            {
                <div style="margin-top: 20px;">
                    <p style="text-align: center;">
                        没有找到相关物流信息!</p>
                </div>
            }
        </div>
    </div>
    <script>
        $(function () {
            if (!isWeiXin() && (sessionStorage.source == "share" || getQueryString("source") == "share")) {
                $("header").removeClass("hide");
                $('.content').addClass('top44');
            }
            else {
                $("header").addClass("hide");
                $('.content').removeClass('top44');
            }

            $("#aBack").on("click", function () {
                document.location.href = getQueryString("backUrl");
            });

            //复制剪贴板
            var clipboard = new Clipboard('.copy');
            clipboard.on('success', function (e) {
                alert('复制成功');
            });
        });
    </script>
</body>
</html>
