.activity-rule {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 10px 20px;
}

.activity-rule li {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.mark {
    position: relative;
    width: 24px;
    margin-right: 10px;
}

.mark .num {
    width: 24px;
    height: 24px;
    padding: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffd0a6;
}

.mark .num div {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: .875rem;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ff7800;
}

.mark .line {
    position: absolute;
    width: 1px;
    height: 100%;
    background: #ffe8b2;
    left: 47.5%;
}

.introduce {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.introduce .step-name {
    color: #ff7800;
    font-size: .875rem;
    height: 24px;
    line-height: 24px;
}

.introduce img {
    margin: 10px 0 7px;
}

.introduce .step1 img {
    width: 50%;
}

.introduce .step2 img {
    width: 30%;
    vertical-align: middle;
}

.introduce .step2 span {
    position: relative;
    top: 5px;
}

.introduce .step3 img {
    width: 45%;
    margin-left: 36px;
}

.introduce .step4 {
    padding: 10px 0;
    font-size: .875rem;
    color: #4F4F4F;
}

.introduce .step4 img {
    width: 49%;
    margin-left: 36px;
}
