body {
    background: #eee;
    font-family: 'Microsoft Yahei';
}

/*头部*/
.process-header {
    padding: 0 15px;
    border-bottom-color: #dbd6d6;
}

.process-header a {
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.process-header a.pull-left {
    width: 22px;
    margin-top: 10px;
}

.process-header a.pull-left img {
    display: block;
    width: 100%;
    height: 100%;
}

.process-header a.pull-right {
    width: 30px;
    font-size: 14px;
    margin-top: 11px;
    color: #000;
}

.process-header .title {
    font-size: 18px;
}

/*内容部分*/
.editor-address {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 49px;
}

.editor-address .details-info {
    padding-left: 10px;
    background: #fff;
    margin-bottom: 10px;
}

.editor-address .details-info li {
    position: relative;
    padding: 0 15px 0 5px;
    height: 41px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    color: #999;
}

.editor-address .details-info li:last-child {
    border: none;
}

.editor-address .details-info li input {
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 14px;
}

.editor-address .details-info li .angle-right {
    width: 6px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.editor-address .details-info li .angle-right img {
    display: block;
    width: 100%;
}

.editor-address .details-info li.address {
    height: 60px;
    padding: 15px 15px 15px 5px;
    position: relative;
}

.editor-address .details-info li.address .label {
    position: absolute;
    top: 0;
    height: 60px;
    line-height: 60px;
    left: 5px;
}

.editor-address .details-info li.address textarea {
    font-size: 14px;
    padding: 0;
    margin: 0;
    border: none;
    height: 30px;
    line-height: 15px;
    resize: none;
    word-break: break-all;
    position: relative;
    z-index: 2;
    background: transparent;
}

.editor-address .default-address {
    height: 40px;
    line-height: 40px;
    background: #fff;
    margin-bottom: 10px;
    font-size: 11px;
    color: #333;
    padding-left: 15px;
}

.editor-address .default-address .check-box {
    display: inline-block;
    vertical-align: top;
    margin: 11px 10px 0 0;
    width: 18px;
    height: 18px;
    background: url("check-box.png");
    -webkit-background-size: 100%;
    background-size: 100%;
}

.editor-address .default-address.active {
    color: #e4393c;
}

.editor-address .default-address.active .check-box {
    background: url("check-box-active.png");
    -webkit-background-size: 100%;
    background-size: 100%;
}

/*底部总价结算*/
.save {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 49px;
    line-height: 49px;
    text-align: center;
    border-top: 1px solid #DBD6D6;
    background: #e4393c;
    font-size: 14px;
    color: #fff;
}

.save:active {
    opacity: .8;
}

.mbsc-ios .dwb-s .dwb{
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
.mbsc-ios .dw-li{
    font-size: 14px;
}
.mbsc-ios .dwwr{
    background: #ebebec;
}
.mbsc-ios .dwbc{
    background: #f7f7f7;
    border-top: 2px solid #dbdbdb;
}
.mbsc-ios .dwwol{
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}