body {
    background: #f3f3f3;
}

.myDistribution {
    width: 100%;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    font-family: 'Microsoft Yahei';
}

.bar-nav {
    background: #b00900;
}

.bar-nav a, .bar-nav .fa-chevron-left {
    color: #fff;
}

.bar-nav .fa-chevron-left:before {
    margin-right: 5px;
}

.bar-nav .title {
    color: #fff;
}

.income {
    background: #fff;
    font-size: .8rem;
}

.income .income-list > li {
    border-bottom: 1px solid #e8e8e8;
}

.income .thead {
    font-size: .875rem;
    color: #FD6165;
    background: #fcfcfc;
    border-bottom: 1px solid #e2e2e2;
    height: 50px;
    line-height: 50px;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    max-width: 500px;
}

.scroll-load {
    padding-top: 50px;
}

.income .thead li, .income .income-list ul li {
    width: 33.3%;
    text-align: center;
}

.income .income-list ul li {
    height: 50px;
    line-height: 36px;
}

.income .income-list .date div {
    height: 17px;
    line-height: 16px;
}

.income .income-list .date div:first-child {
    margin-top: 9px;
}

.income .income-list .date div:last-child {
    font-size: .75rem;
    color: #a2a2a2;
}