body{
	background: #f3f3f3;
}
.thinkChange-wrap{
	width: 100%;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    font-family: 'Microsoft Yahei';
    padding:0 10px;
}
.bar-nav {
	background: #b00900;
}
.bar-nav a,.bar-nav .fa-chevron-left{
	color: #fff;
}
.bar-nav .title{
	color: #fff;
}
.link-title{
	margin-top:20px;
	margin-bottom:10px;
	font-size: 14px;
	color: #ff0054;
}
.link-title>span{
	display: inline-block;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background: #ff0054;
	text-align: center;
	line-height: 23px;
	color: #fff;
	margin-right:10px;
	font-size: 16px;
}
.link-btn{
	padding:20px 0;
}
.link-btn .btn{
	width: 70%;
	color: #fff;
	border:0;
	background-color: #ff0054;
	margin-top:0;
	margin-bottom:0;
}
.thinkChange-wrap .think-image{
	width: 178px;
	height: 157px;
	margin: 0 auto;
	margin-top:15px;
}
.thinkChange-wrap .think-image>img{
	display: block;
	width: 178px;
	height: 157px;
}
.thinkChange-wrap>textarea{
	display: block;
	margin: 0;
    padding: 5px;
    font-size: 14px;
    border: 0;
	height: 80px;
	resize: none;
}
.thinkChange-wrap .link-text{
	color: #787878;
	font-size: 12px;
}