@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>众筹分红首页</title>
    <script src="/Scripts/first-js.js" type="text/javascript"></script>
</head>
<body>
    <div>
        <p>众筹分红首页</p>
    </div>
</body>
</html>
