@{
    Layout = null;
    string result = ViewBag.Title;
    string title = "金和APP平台租用协议（" + result + "）";
    string h1 = "金和APP平台租用协议（"+result+"）";
    string p = result;
}
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>@title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 20px;
            padding: 25px 0;
        }

        h2 {
            font-size: 16px;
            line-height: 25px;
            padding: 20px 0 15px;
        }

        body {
            padding: 10px;
            font-size: 14px;
            word-break: break-all;
            line-height: 1.8em;
            background-color: #e7e6ec;
        }
    </style>
</head>
 <body>
  <h1 style="font-size:18px;">@h1</h1>
  <p>&nbsp;&nbsp;北京金和网络股份有限公司（以下简称“金和公司”）依据《金和APP平台租用协议》（以下简称“本协议”）的规定为用户（以下有时也称“您”）提供服务，本协议在用户和金和公司间具有合同上的法律效力。金和公司在此特别提醒您认真阅读、充分理解本协议各条款，特别是其中所涉及的免除、限制金和公司责任的条款、对用户权利限制条款等（特别是以粗体下划线标注的内容）。请您审慎阅读并选择接受或不接受本协议。除非您接受本协议所有条款，否则您无权使用金和公司于本协议下所提供的平台租用服务。您通过网络页面点击确认或以其他方式选择接受本协议，即表示您与金和公司已达成协议并同意接受本协议的全部约定内容。</p>
  <p>&nbsp;&nbsp;用户使用<span>@p</span>平台，向金和公司支付平台租用费（即APP软件的云空间、宽带使用费），双方在平等互利的基础上，遵循诚实信用的原则，通过友好协商达成如下合同：</p>
  <h2>第一条&nbsp;交付内容、交付地点、方式、期限</h2>
  <p>&nbsp;1.1&nbsp;交付内容：账号密码。</p>
  <p>&nbsp;1.2&nbsp;交付方式：默认为金和公司以电子邮件方式发送至用户指定的邮箱地址。</p>
  <p>&nbsp;1.3&nbsp;交付期限：金和公司收到用户支付的全部合同费用后，金和公司在15个工作日内交付。</p>
  <h2>第二条&nbsp;双方权利与义务</h2>
  <p>&nbsp;2.1&nbsp; 用户使用软件时应遵纪守法，对自己上传的内容负全部法律责任。</p>
  <p>&nbsp;2.2&nbsp; 金和公司应确保租用期间内APP平台能正常运行。</p>
  <h2>第三条&nbsp;知识产权</h2>
  <p>&nbsp;3.1&nbsp;APP平台软件产品著作权归金和公司所有。</p>
  <h2>第四条&nbsp;合同变更、终止</h2>
  <p>&nbsp;4.1&nbsp;因国家政策法规调整、自然灾害等不可抗力造成的服务中断，双方互不承担责任。</p>
  <p>&nbsp;4.2&nbsp;金和公司已收取的APP平台租用费不予退还。若用户拖延支付租用费用，金和公司有权可以暂停服务，直至用户向金和公司付所有应支付的费用。</p>
  <h2>第五条&nbsp;争议解决方式</h2>
  <p>&nbsp;5.1&nbsp;所有由本合同产生的争议，双方应当友好协商解决。协商解决不成的，任何一方均可以向金和公司所在地即北京有管辖权的人民法院提起诉讼。</p>
  <p>（以下无正文）</p>
  <p><br /></p>
 </body>
 
</html>