body{
     width: 100%;
     max-width: 500px;
     margin:0 auto;
     background-color: #eee;
     font-family: 'Microsoft Yahei';
 }
.hide{
    display:none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent
}
a{
    text-decoration: none;
}
img{
    border:0;
}
.bar {
    max-width: 500px;
    margin: 0 auto;
}
.bar-nav .fa {
    margin-top: 12px;
}
.bar .fa img{
    width: 23px;
    height: 23px;
}
.padding-top194{
    padding-top: 270px !important;
}
.yjb-header{
    position:fixed;
    /*top: 44px;*/
    left: 0;
    right: 0;
    max-width: 500px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    z-index:10;
}
.yjb-header .yjb-header-info{
    padding: 15px 0 15px 20px;
    background: #e4393c;
    height: 100px;
}
.yjb-header .yjb-header-info .yjb-header-price-wrap{
    margin-left: 60px;
    text-align: left;
}
.yjb-header .yjb-header-info .yjb-header-pic{
    position:relative;
    top: 10px;
    width: 50px;
    height: 50px;
    float: left;
}
.yjb-header .yjb-header-info .yjb-header-pic img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.yjb-header .yjb-header-title{
    line-height: 10px;
    color: #f1f1f1;
    font-size: 10px;
    padding-left: 2px;
}
.yjb-header .yjb-header-count{
    margin-top: 5px;
    color: #fff;
    font-size: 15px;
}
.yjb-header .yjb-header-count .num{
    line-height: 33px;
    font-size: 33px;
}
.yjb-header .yjb-header-price{
    line-height: 10px;
    margin-top: 15px;
    padding-left: 2px;
    color: #f1f1f1;
    font-size: 14px;
    font-weight:600;
}
.yjb-header .yjb-header-price .total-price{
    padding-left: 10px;
}
.yjb-header-nav{
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-aling: center;
    height: 49px;
}
.yjb-header-nav .list{
    -webkit-box-flex: 1;
    background:#fff;
}
.yjb-header-nav .list a{
    display: block;
    height: 49px;
    line-height: 49px;
    color: #333;
    font-weight: 800;
    font-size: 12px;
}
.yjb-header-nav .list.active a{
    color:#e4393c;
}
/*商品列表*/
.yjb-lists-wrap{
    display: -webkit-box;
    -webkit-box-flex: 1;
    padding: 10px 15px;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
}
.yjb-lists-wrap .yjb-lists-left{
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid #eee;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}
.yjb-lists-wrap .yjb-lists-left .pic{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
}
.yjb-lists-wrap .yjb-lists-center{
    position: relative;
    -webkit-box-flex: 1;
    margin-left: 5px;
    height: 60px;
}
.yjb-lists-wrap .yjb-lists-center .title{
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    text-overflow:ellipsis;
    overflow: hidden;
    font-size: 12px;
    color: #333;
}
.yjb-lists-wrap .yjb-lists-center .tips-btn{
    position: absolute;
    bottom: 0;
    left:0;
    padding: 2px 3px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    font-size: 9px;
}
.yjb-lists-wrap .yjb-lists-right{
    position: relative;
    width: 96px;
    height: 60px;
}
.yjb-lists-wrap .yjb-lists-right .date{
    color:#999;
    font-size: 10px;
    text-align: right;
    margin-bottom: 2px;
}
.yjb-lists-wrap .yjb-lists-right .number{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #e4393c;
    font-size: 18px;
}
.pink{
    background:#e57b7b;
}
.gray{
    background:#cbb693;
}
.orange{
    background:#dea34c;
}
.red{
    background:#a61000;
}
.tips{
    background: #eee;
    height: 105px;
    font-size: 11px;
    padding: 0 0 15px 0;
    color: #333;
    text-align: center;
}
.tips .tips-content{
    background: #FFF0bb;
    margin: 0 15px;
    padding: 10px 0;
}
.tips .tips-money{
    font-size: 15px;
}
.tips .tips-money span{
    font-size: 33px;
}