@using Jinher.JAP.MVC
@using Jinher.JAP.MVC.UIJquery
@using Jinher.JAP.MVC.UIJquery.Validate
@using Jinher.JAP.Common.TypeDefine
@{
   
    Layout = "~/Views/Shared/_btpLayout.cshtml";
}
@section Css{
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css" />
    @{Html.jQuery().StyleSheetRegistrar().DefaultGroup(group => group.Add("default/jquery.ui.all.css").Add("default/ui.jqgrid.css"));}
}
<style type="text/css">
    .ui-jqgrid tr.jqgrow td
    {
        white-space: normal;
    }
    
      .item
        {
            line-height: 28px;
            margin-bottom: 10px;
            min-height: 28px;
            padding-left: 10px;
        }
        
        .lable
        {
            display: block;
            float: left;
            width: 125px;
            line-height: 28px;
            padding-right: 5px;
            margin-left: -130px;
            _display: inline;
            text-align: right;
        }
        input.inp-txt
        {
            height: 18px;
            line-height: 18px;
            border: 1px solid #B6C0CD;
            padding: 4px 5px;
            vertical-align: middle;
            border-radius: 3px;
            box-shadow: inset 1px 1px 2px #DBDBDB;
        }
        .btn120
        {
            display: inline-block;
            width: 120px;
            height: 28px;
            line-height: 28px;
            background: url(../Content/default/images/btn120.png) no-repeat;
            text-align: center;
            vertical-align: middle;
            color: #5F7392;
            box-shadow: 1px 1px 2px #DBDBDB;
        }
        .floa2 h1,
		.bbtn h1{
			font-size: 14px;
			color: #8c94a9;
			padding-bottom: 5px;
			border-bottom: 1px solid #DDDDDD;	
		}
		.close{
			margin-top: 10px;
			float: right;
			display: inline-block;
			*zoom:1;
			*display: inline;
			width: 7px;
			height: 7px;
			color:transparent;
			background: url(/Images/shut.png) center no-repeat;
		}
		
		
		.floa2 ul {
			padding: 0px 0 10px 10px;
		}
		
		.floa2 ul li{
			margin-top: 5px;
			color:#8c94a9;
		}
		.addfloa2{
			display: none; 
			z-index: 3;
			padding: 5px 10px;
			height:auto;
			border:1px solid #B8BFCF;
			
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
		
		/*erci*/
		.btn60
        {
            display: inline-block;
            width: 60px;
            height: 28px;
            line-height: 28px;
            background: url(../Content/default/images/btn60.png) no-repeat;
            text-align: center;
            vertical-align: middle;
            color: #5F7392;
            box-shadow: 1px 1px 2px #DBDBDB;
        }
    
</style>
<div class="box" style="padding: 10px 0 10px 0px;">
    <div class="content">
        <div style="margin-top: 10px; height: 45px; margin-left: 22px">
            <span>APP名称：</span>
            <input type="text" id="appName" class="inp-txt" style="width: 70px;" />
            <span style="margin-left: 10px;">状态：</span>
            <select id="State" class="inp-txt" style="width: 150px; height: 24px;">
                <option value="-1">请选择</option>
                <option value="0">进行中</option>
                <option value="1">众筹成功</option>
            </select>
            <a class="btn60" id="search" href="javascript:;" onclick="seach()" style="/*margin-left: 10px;
                */">查询</a> <a href="javascript:;" class="reset btn60" onclick="toResetSearch()" id="reset"
                    style="margin-left: 5px;">重置</a>
        </div>
        <div style="margin-bottom: 0; font-size: 14px; height: 40px; line-height: 35px; text-align: right;">
            <a href="javascript:;" class="reset btn60" onclick="showAdd()" id="reset" style="margin-right: 50px;">
                新增</a>
        </div>
    </div>
    <div id="clsContent" style="margin-right: 50px; margin-top: 15px; margin-left: 22px">
        <table id="CrowdfundingTable">
        </table>
        <div id="pager1">
        </div>
    </div>
</div>
<div style="display: none;">
    <div id="UserCrowdfundings" style="padding: 10px 10px 10px 10px; margin: 0 auto;">
        <input type="hidden" id="CrowdfundingId" />
        <div style="height: 265px;">
            <div style="margin-bottom: 5px;">
                <br />
                <span>持股人姓名：</span>
                <input type="text" id="userName" class="inp-txt" style="width: 100px;" />&nbsp;&nbsp;&nbsp;&nbsp;
                <span>持股人账号：</span>
                <input type="text" id="userCode" class="inp-txt" style="width: 120px;" />&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#nogo" onclick="SelectUserCrowdfundings();" class="btn120">查询</a>
            </div>
            <br />
            <div style="clear: both;">
            </div>
            <table id="UserCrowdfundingsGrid">
            </table>
            <div id="areaPage">
            </div>
        </div>
    </div>
</div>
<div style="display: none;">
    <div id="UserOrderMess" style="padding: 10px 10px 10px 10px; overflow: auto; margin: 0 auto;">
        <div id="content_make">
            <div id="dataDIV">
            </div>
        </div>
        <div id="pager">
        </div>
    </div>
</div>
@section ClientScript{
    <script src="/Content/Business/BusinessAllEvent.js"></script>
    <script src="/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(function () {
            //开始

            var data = { "appName": "", "state": -1, "PageSize": 20, "PageNumber": 1 };
            $("#CrowdfundingTable").jqGrid({
                url: "/Crowdfunding/CrowdfundingList",
                mtype: "post",
                datatype: "json",
                postData: data,
                colNames: ["APP名称（APPID）", "每股面额", "每股分红", "众筹股点数", "已募股点/金额", "剩余股点/金额", "众筹开始时间", "已分红金额", "状态", "操作"],
                colModel: [
            { name: 'AppName', index: 'AppName', width: 220, align: "center", sortable: false, title: false },
            { name: 'PerShareMoney', index: 'PerShareMoney', width: 200, align: "center", sortable: false, title: false },
            { name: 'strDividendPercent', index: 'strDividendPercent', width: 200, align: "center", sortable: false, title: false },
            { name: 'ShareCount', index: 'ShareCount', width: 200, align: "center", sortable: false, title: false },
            { name: 'strCurrentShareCount', index: 'strCurrentShareCount', width: 200, align: "center", sortable: false, title: false, formatter: FormattershowCurrentShareCount },
            { name: 'strSurplusShareCount', index: 'strSurplusShareCount', width: 200, align: "center", sortable: false, title: false },
            { name: 'StartTime', index: 'StartTime', width: 250, align: "center", sortable: false, title: false },
            { name: 'strTotalDividend', index: 'strTotalDividend', width: 200, align: "center", sortable: false, title: false },
            { name: 'strState', index: 'strState', width: 180, align: "center", sortable: false, title: false },
            { name: 'Process', index: 'Process', formatter: FormatterProcess, width: 100, align: "center", sortable: false, title: false }
            ],
                rowNum: 20,
                pager: "pager1",
                height: "100%",
                rownumbers: true,
                autowidth: true,
                forceFit: true,
                scroll: false,
                shrinkToFit: true,
                jsonReader: { repeatitems: true },
                gridComplete: function () {
                    refreshEnd();
                }
            });

            onresize = function () {
                $("#businessManageTable").setGridWidth(document.body.clientWidth - 76);
                try { parent.refreshLayout(); } catch (error) { }
            }

            //结束

        });

        // 编辑菜单
        function FormatterProcess(callvalue, opts, rowdata) {

            var strState = rowdata[8];
            if (strState == "众筹成功") {
                return '<span style="color:#999999;">修改</span>';

            } else {
                return '<a href="#nogo" style="color: #2366a8" onclick="edit(\'' + opts.rowId + '\');" class="editItem" myAttr="' + opts.rowId + '">修改</a>';
            }
        }

        //修改
        function edit(id) {

            window.location.href = "/Crowdfunding/GetCrowdfundingById?Id=" + id;

        }

        //调整列表的高度
        function refreshEnd() {
            if (typeof window.parent.refreshLayout === 'function') {
                window.parent.refreshLayout();
            }
        }

        //跳转到添加众筹页面
        function showAdd() {

            window.location.href = "/Crowdfunding/AddCrowdfunding";
        }

        //查询
        function seach() {

            var appNames = $("#appName").val();
            var state = $("#State option:selected").val();
            var data = { "appName": appNames, "state": state, "PageSize": 20, "PageNumber": 1 };
            $('#CrowdfundingTable').jqGrid(
                'setGridParam', {
                    datatype: "json",
                    postData: data,
                    url: "/Crowdfunding/CrowdfundingList",
                    mtype: "post"
                }
            );
            $('#CrowdfundingTable').trigger("reloadGrid", [{ page: 1}]);
        }



        //重置
        function toResetSearch() {

            $("#appName").val("");
            $("#State option:first").attr("selected", "selected");

        }

        //调整列表的高度
        function refreshEnd() {
            if (typeof window.parent.refreshLayout === 'function') {
                window.parent.refreshLayout();
            }
        }


        //点击已幕股点信息
        function FormattershowCurrentShareCount(callvalue, opts, rowdata) {

            return '<a href="#nogo"  onclick="showUserCurrentShareCount(\'' + opts.rowId + '\');"  class="editItem" >' + rowdata[4] + '</a>';
        }

        //弹出股东信息
        var states = 0;
        function showUserCurrentShareCount(id) {

            $("#CrowdfundingId").val("");
            $("#CrowdfundingId").val(id);
            $("#userCode").val("");
            $("#userName").val("");

            $("#UserCrowdfundings").jhtablebox({
                title: "股东列表",
                width: 586,
                height: 400,
                modal: true,
                resizable: false,
                beforeClose: function (e) {
                }
            });

            if (states == 0) {
                // 加载数据
                getAreasByAgentId(id);
            } else {

                var data = { "crowdfundingId": id, "userName": "", "userCode": "" };
                $('#UserCrowdfundingsGrid').jqGrid('setGridParam',
            { datatype: "json",
                postData: data,
                url: 'GetUserCrowdfundingsList',
                mtype: 'POST',
                datatype: 'json'
            }).trigger("reloadGrid", [{ page: 1}]);

            }


            $("#areaPage > div").css("width", "400px").css("margin-left", "194.5px");

        }

        //查询股东信息
        function SelectUserCrowdfundings() {

            var CrowdfundingId = $("#CrowdfundingId").val();

            var userNames = $("#userName").val();
            var userCodes = $("#userCode").val();
            var data = { "crowdfundingId": CrowdfundingId, "userName": userNames, "userCode": userCodes };
            $('#UserCrowdfundingsGrid').jqGrid('setGridParam',
            { datatype: "json",
                postData: data,
                url: 'GetUserCrowdfundingsList',
                mtype: 'POST',
                datatype: 'json'
            }).trigger("reloadGrid", [{ page: 1}]);
        }

        // 加载数据
        function getAreasByAgentId(id) {

            var data = { "crowdfundingId": id, "userName": "", "userCode": "" };
            $("#UserCrowdfundingsGrid").jqGrid({
                datatype: "json"
            , postData: data
            , url: "GetUserCrowdfundingsList"
            , mtype: 'POST'
            , colNames: ['持股人姓名', '持股人账号', '持股数', '消费金额', '消费订单数', '应得分红', '已领分红']
            , colModel: [

                { name: 'UserName', index: 'UserName', width: 50, align: "center", sortable: false },
                { name: 'UserCode', index: 'UserCode', width: 100, align: "center", sortable: false },
                { name: 'CurrentShareCount', index: 'CurrentShareCount', width: 50, align: "center", sortable: false },
                { name: 'Money', index: 'Money', width: 50, align: "center", sortable: false },
                { name: 'OrderCount', index: 'OrderCount', width: 50, formatter: FormatterOrderCount, align: "center", sortable: false },
                { name: 'strTotalDividend', index: 'strTotalDividend', width: 50, align: "center", sortable: false },
                { name: 'strRealGetDividend', index: 'strRealGetDividend', width: 50, align: "center", sortable: false }

   	        ],
                rowNum: 10,
                pager: '#areaPage',
                height: '200',
                rownumbers: true,
                autowidth: true,
                forceFit: true,
                scroll: true,
                shrinkToFit: true,
                jsonReader: { repeatitems: true },
                gridComplete: function () {
                    refreshEnd();
                }

            });

            states = 1;
        };


        //消费订单数
        function FormatterOrderCount(callvalue, opts, rowdata) {

            return '<a href="#nogo"  onclick="showUserOrder(\'' + opts.rowId + '\',\'' + rowdata[7] + '\');"  class="editItem" >' + rowdata[4] + '</a>';
        }


        function showContent(event, data) {

            var rowcounts = $("#rowcounts").val();
            if (rowcounts == 0) {
                $("#pager").hide();
                $('#content_make').hide();
            }
            else {
                ajaxLoading(1, '#content_make');
                $("#dataDIV").html(data);
                newSetIframeHeight();
            }
        }

        function showUserOrder(id, userId) {
            //关闭股东列表
            $("#UserCrowdfundings").jhtablebox("close");
            //弹出股东订单列表

            $("#UserOrderMess").jhtablebox({
                title: "股东订单列表",
                width: 1000,
                height: 600,
                draggable: true,
                modal: true,
                resizable: false,
                beforeClose: function (e) {
                }
            });

            var $dataDIV = $("#dataDIV");
            var page = $('.ui-jhpager-pager').text().split('/')[0];
            if (page == 1) {
                page = 1;
            } else if (page > 1) {
                page -= 1;
            }

            $.ajax({
                url: '/Crowdfunding/PartialIndex?currentPage=' + page,
                type: 'post',
                data: {
                    crowdfundingId: id,
                    userId: userId,
                    pageIndex: 1,
                    pageSize: 10
                },
                beforeSend: function () {
                    $dataDIV.empty();
                    ajaxLoading(1, '#content_make');
                },
                complete: function () {
                    ajaxLoading(1, '#content_make');
                },
                success: function (html) {
                    $dataDIV.html(html);
                    $("#pager").jhpager("refresh", page, $("#rowcounts").val());
                    newSetIframeHeight();
                },
                error: function () {

                }
            });

            var total = $("#rowcounts").val();
            $("#pager").jhpager({
                dataType: 'html',
                requestType: 'post',
                dataSource: '/Crowdfunding/PartialIndex',
                async: true,
                totalCount: total,
                rowNum: 10,
                beforeRequest: function () {
                    $("#dataDIV").empty();
                    $(window.parent.document).scrollTop(0);
                    ajaxLoading(1, '#content_make');
                },
                requestFailure: function () {
                },
                requestSuccess: showContent,
                requestData: function () {
                    return {
                        crowdfundingId: id,
                        userId: userId,
                        pageIndex: 1,
                        pageSize: 10
                    };
                }
            });


        }




    </script>
}
@section Script{
    @{Html.jQuery().ScriptRegistrar().DefaultGroup(group => group.Add("jquery.extend.js")
        .Add("i18n/jquery.ui-zh.js")
        .Add("jquery.ui.base.js")
        .Add("Grid/jquery.grid.base.js")
        .Add("TableBox/jquery.ui.jhtablebox.js")
        .Add("Pager/jquery.ui.jhpager.js")



        );}
}
