@{
    ViewBag.Title = "Index";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>金和IU</title>
    <link href="/Scripts/ueditor_mini/dialogs/image/image.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/ueditor_mini/umeditor.config.js"></script>
    <script type="text/javascript" src="/Scripts/ueditor_mini/umeditor.min.js"></script>
    <script type="text/javascript" src="/Scripts/ueditor_mini/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="/Scripts/ueditor_mini/dialogs/link/link.js"></script>
    <script type="text/javascript" src="/Scripts/ueditor_mini/dialogs/image/image.js"></script>
    <script src="../../Scripts/Validator/JValidator.js" type="text/javascript"></script>
    <script src="../../Scripts/FunctionJS.js" type="text/javascript"></script>
    <script src="/Scripts/DatePicker/jquery.ui.datepicker.js" type="text/javascript"></script>
    <script src="/Scripts/DatePicker/jquery.ui.jhdatetime.js" type="text/javascript"></script>
    <script src="/Scripts/DatePicker/jquery.ui.jhstartandenddate.js" type="text/javascript"></script>
    <style type="text/css">
	.txtColor {
		color: #8c94a9;
	    border: 1px solid #B6C0CD;
	    border-radius: 3px;
	}
 
	.floa2 h1,
	.floa1 h1,
	.floa11 h1,
	.bbtn h1 {
		font-size: 14px;
		color: #8c94a9;
		padding-bottom: 5px;
		border-bottom: 1px solid #DDDDDD;
	}

	.close {
		margin-top: 10px;
		float: right;
		display: inline-block;
		*zoom: 1;
		*display: inline;
		width: 7px;
		height: 7px;
		color: transparent;
		background: url('/Images/shut.png') center no-repeat;
	}

	.floa11 ul,
	.floa1 ul,
	.floa2 ul {
		padding: 0 0 10px 10px;
	}

	.floa11 ul li,
	.floa1 ul li
	.floa2 ul li {
		margin-top: 5px;
		color: #8c94a9;
	}

	.addfloa2 {
		display: none;
		padding: 5px 10px;
		height: auto;
		border: 1px solid #B8BFCF;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	.btn120 {
		display: inline-block;
		width: 120px;
		height: 28px;
		line-height: 28px;
		background: url('/Content/default/images/btn120.png') no-repeat;
		text-align: center;
		vertical-align: middle;
		color: #5F7392;
		box-shadow: 1px 1px 2px #DBDBDB;
	}
	
	 .createtable {  
            border: 1px solid #B1CDE3;  
            padding:0;   
            margin:0 auto;  
            border-collapse: collapse;  
            width:100%;
        }  
          
     .createtable td {  
            border: 1px solid #B1CDE3;  
            background: #fff;  
            font-size:12px;  
            padding: 3px 3px 3px 8px;  
            color: #4f6b72;  
        }  
        .spfb_t_l tr
        {
             height:45px;
        }
        .ble
        {
            text-align:right;
        }
</style>
    <script type="text/javascript">
        function InitGrid() {
            var data = {   //查询提交数据
                "goodName": $("#txtGoodName").val(),
                "goodState": $("input:radio[name='radGoodState']:checked").val(),
                "ReturnState": $("input:radio[name='radReturnState']:checked").val()
            };

            $("#jqGrid").jqGrid({
                datatype: "json",
                postData: data,
                url: "",
                mtype: 'POST',
                colModel: [
                    { sortable: false, label: 'ErQiCode', name: 'CommodityErQiCode', width: 70 },
                    { sortable: false, label: 'CommodityOldStock', name: 'CommodityOldStock', width: 100 },
                    { sortable: false, label: 'CommodityNewStock', name: 'CommodityNewStock', width: 70 },
                    { sortable: false, label: 'CommodityStockOldStock', name: 'CommodityStockOldStock', width: 150 },
                    { label: '操作', name: "edit", index: "edit", autowidth: "true", align: "center" }
                ],
                rowNum: 20,
                pager: '#jqGridPager',
                height: 700,
                autowidth: true,
                multiselect: true,
                forceFit: true,
                rownumbers: true,
                gridComplete: function () {
                var ids = jQuery("#jqGrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                      var id = ids[i];
                      var editBtn = "<button onclick='showOverlay(\"" + id + "\")'> 设置退货物流 </button>";
                      jQuery("#jqGrid").jqGrid('setRowData', ids[i], { edit: editBtn });
                      var curChk = $("#" + ids[i] +"").find(":checkbox");
                      curChk.attr('name', 'chkCommodity');
                      curChk.attr('value', id);
                    }
                }});
        }

        $(function () {
            $("#startUcDaily").datepicker({
                changeMonth: true,
                changeYear: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                timer: false,
                dateFormat: 'yy-mm-dd'
            });
            $("#endUcDaily").datepicker({
                changeMonth: true,
                changeYear: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                timer: false,
                dateFormat: 'yy-mm-dd'
            });

            $("#dataSyn").click(function () {
                var promotion = document.getElementById("dataInfo");
                var value = promotion.value;
                if (value == '')
                    var r = confirm("活动ID为空，你是否需要将全部信息同步到Redis");
                if (r == false) {
                    return;
                }
                $.ajax({
                    url: '/Test/DataSynchronization',
                    type: 'post',
                    data: { guid: $.trim($("#dataInfo").val()) },
                    beforeSend: function () {
                        ajaxLoading(1, '');
                    },
                    complete: function () {
                        ajaxLoading(1, '');
                    },
                    success: function (data) {
                        if (data.Result == 0) {
                            alert("数据同步成功");
                        }
                        else {
                            alert("数据同步失败");
                        }
                    }
                });
            });

            $("#finishOrder").click(function () {
                var orderId = $.trim($("#orderId").val());
                if (!orderId) {
                    alert("请输入订单Id");
                    return;
                }
             
                $.ajax({
                    url: '/Test/FinishOrder',
                    type: 'post',
                    data: { orderId: orderId },
                    beforeSend: function () {
                        ajaxLoading(1, '');
                    },
                    complete: function () {
                        ajaxLoading(1, '');
                    },
                    success: function (data) {
                        if (data.Result == 0) {
                            alert("成功");
                        }
                        else {
                            alert(data.Message);
                        }
                    }
                });
            });

            $("#earlierCf").click(function () {
                $.ajax({
                    url: '/Test/ChangeCfStartTimeEarlier',
                    type: 'post',
                    data: { appId: $.trim($("#earlierAppId").val()) },
                    beforeSend: function () {
                        ajaxLoading(1, '');
                    },
                    complete: function () {
                        ajaxLoading(1, '');
                    },
                    success: function (data) {
                        if (data.Result == 0) {
                            alert("计算成功");
                        }
                        else {
                            alert("计算失败");
                        }
                    }
                });

            });


            $("#delCf").click(function () {
                $.ajax({
                    url: '/Test/DelCf',
                    type: 'post',
                    data: { appId: $.trim($("#delAppId").val()) },
                    beforeSend: function () {
                        ajaxLoading(1, '');
                    },
                    complete: function () {
                        ajaxLoading(1, '');
                    },
                    success: function (data) {
                        alert(data.Messages);
                    }
                });

            });

            $("#moveDate").click(function () {
                $.ajax({
                    url: '/Test/ChangeDate',
                    type: 'post',
                    data: { appId: $.trim($("#modifyAppId").val()) },
                    beforeSend: function () {
                        ajaxLoading(1, '');
                    },
                    complete: function () {
                        ajaxLoading(1, '');
                    },
                    success: function (data) {
                        alert(data.Messages);
                    }
                });

            });

            $("#caclUcDaily").click(function () {

                $.ajax({
                    url: '/Test/CalcUcDaily',
                    type: 'post',
                    data: { startDate: $.trim($("#startUcDaily").val()), endDate: $.trim($("#endUcDaily").val()) },
                    beforeSend: function () {
                        ajaxLoading(1, '');
                    },
                    complete: function () {
                        ajaxLoading(1, '');
                    },
                    success: function (data) {
                        if (data.Result == 0) {
                            alert("计算成功");
                        }
                        else {
                            alert("计算失败");
                        }
                    }
                });

            });
            //            $("#calcDividend").click(function () {

            //                $.ajax({
            //                    url: '/Test/CalcDividend',
            //                    type: 'post',
            //                    // data: { startDate: $.trim($("#startDividendDaily").val()), endDate: $.trim($("#endDividendDaily").val()) },
            //                    beforeSend: function () {
            //                        ajaxLoading(1, '');
            //                    },
            //                    complete: function () {
            //                        ajaxLoading(1, '');
            //                    },
            //                    success: function (data) {
            //                        if (data.Result == 0) {
            //                            alert("计算成功");
            //                        }
            //                        else {
            //                            alert("计算失败");
            //                        }
            //                    }
            //                });

            //            });

            $("#calc").click(function () {

                $.ajax({
                    url: '/Test/CalcDividend',
                    type: 'post',
                    // data: { startDate: $.trim($("#startDividendDaily").val()), endDate: $.trim($("#endDividendDaily").val()) },
                    beforeSend: function () {
                        ajaxLoading(1, '');
                    },
                    complete: function () {
                        ajaxLoading(1, '');
                    },
                    success: function (data) {
                        alert(data.Messages);
                    }
                });

            });

            $("#redCf").click(function () {

                $.ajax({
                    url: '/Test/SendRedEnvelope',
                    type: 'post',
                    // data: { startDate: $.trim($("#startDividendDaily").val()), endDate: $.trim($("#endDividendDaily").val()) },
                    beforeSend: function () {
                        ajaxLoading(1, '');
                    },
                    complete: function () {
                        ajaxLoading(1, '');
                    },
                    success: function (data) {
                        alert(data.Messages);
                    }
                });

            });


        })

    </script>
</head>
<body>
    <div class="con">
        <h2>
            数据库中商品活动信息与Redis中保存的商品活动信息同步</h2>
        <table>
            <tr>
                <td class="ble">
                    <img src="/Images/xin.png" />
                </td>
                <td>
                    <input type="text" id="dataInfo" value="" height="60" class="txtColor" datacol="yes"
                        checkexpession="NotNull" />
                </td>
                <td>
                    <a href="javascript:;" class="btn120" id="dataSyn">更新活动缓存</a>
                </td>
            </tr>
        </table>
        <p>
            上方功能同步Redis数据</p>
    </div>
    <div class="con">
        <h2>
            强制订单改为售后完成(请确保订单为确认收货状态)</h2>
        <table>
            <tr>
                <td class="ble">
                    <img src="/Images/xin.png" />
                </td>
                <td>
                    <p>
                        订单Id：</p>
                </td>
                <td>
                    <input type="text" id="orderId" value="" height="60" class="txtColor" datacol="yes"
                        checkexpession="NotNull" />
                </td>
                <td>
                    <a href="javascript:;" class="btn120" id="finishOrder">确认</a>
                </td>
            </tr>
        </table>
        <p>
            上方功能同步Redis数据</p>
    </div>
    @*  <div class="con">
        <p>
            众筹修改开始时间，计算股东，测试众筹请不要使用</p>
        <table>
            <tr>
                <td class="ble">
                    <img src="/Images/xin.png" />
                    <span style="margin-left: 0;">AppId：</span>
                </td>
                <td>
                    <input type="text" id="earlierAppId" value="" class="txtColor" datacol="yes" checkexpession="NotNull" />
                </td>
                <td>
                    <a href="javascript:;" class="btn120" id="earlierCf">计算股东</a>
                </td>
            </tr>
        </table>
    </div>
    <p>上边的功能别用</p>
    <p>上边的功能别用</p><p>上边的功能别用</p><p>上边的功能别用</p>
    
    <p>
        --------------------------------------------------------------------------</p>
    <div class="con">
        <p>
            清理众筹</p>
        <table>
            <tr>
                <td class="ble">
                    <img src="/Images/xin.png" />
                    <span style="margin-left: 0;">AppId：</span>
                </td>
                <td>
                    <input type="text" id="delAppId" value="" class="txtColor" datacol="yes" checkexpession="NotNull" />
                </td>
                <td>
                    <a href="javascript:;" class="btn120" id="delCf">删除众筹</a>
                </td>
            </tr>
        </table>
    </div>
    <p>
        --------------------------------------------------------------------------</p>
    <div class="con">
        <p>
            数据修改</p>
        <table>
            <tr>
                <td class="ble">
                    <img src="/Images/xin.png" />
                    <span style="margin-left: 0;">AppId：</span>
                </td>
                <td>
                    <input type="text" id="modifyAppId" value="" class="txtColor" datacol="yes" checkexpession="NotNull" />
                </td>
                <td>
                    <a href="javascript:;" class="btn120" id="moveDate">向前移动一天</a>
                </td>
            </tr>
        </table>
    </div>
    <p>
        --------------------------------------------------------------------------</p>
    <div class="con">
        <p>
            每日众筹、每日股东计算</p>
        <table>
            <tr>
                <td class="ble">
                    <img src="/Images/xin.png" />
                    <span style="margin-left: 0;">开始日期：</span>
                </td>
                <td>
                    <input class="one inp-txt" type="text" id="startUcDaily" value="@DateTime.Now.ToString("yyyy-MM-dd")"  />
                </td>
                <td class="ble">
                    <img src="/Images/xin.png" />
                    <span style="margin-left: 0;">截止日期：</span>
                </td>
                <td>
                    <input class="one inp-txt" type="text" id="endUcDaily" value="@DateTime.Now.ToString("yyyy-MM-dd")"  />
                </td>
                <td>
                    <a href="javascript:;" class="btn120" id="caclUcDaily">计算</a>
                </td>
            </tr>
        </table>
    </div>
    <p>
        --------------------------------------------------------------------------</p>
    <div class="con">
        <p>
            计算分红</p>
        <table>
            <tr>
                <td>
                    <a href="javascript:;" class="btn120" id="calc">计算</a>
                </td>
            </tr>
        </table>
    </div>
    <p>
        --------------------------------------------------------------------------</p>
    <div class="con">
        <p>
            红包发放</p>
        <table>
            <tr>
                <td>
                    <a href="javascript:;" class="btn120" id="redCf">发放</a>
                </td>
            </tr>
        </table>
    </div>
    <p>
        --------------------------------------------------------------------------</p>
 
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <h2>
        众筹测试使用（点击按顺序啊）</h2>
    <p>
        <b>清理众筹</b>: 可以删除该应用所有众筹相关内容，之后可以手动添加众筹
    </p>
    <p>
        <b>数据修改</b>： 可以将该app的众筹数据向前移动1天。</p>
    <p>
        如果不删除众筹，请<b>向前移动一天</b>与“<b>每日众筹、每日股东计算</b>”、“<b>计算分红</b>”、“<b>红包发放</b>”交替进行，注意顺序啊</p>
    <p>
        即：众筹中的活动，今天购买=><b>向前移动一天</b>，此订单变成昨天购买，可以进行“<b>每日众筹、每日股东计算</b>”、“<b>计算分红</b>”、“<b>红包发放</b>”</p>*@
</body>
</html>
