<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EInvoiceServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://218.249.166.23:10001/eisp/ws/eInvoService"
                binding="basicHttpBinding" bindingConfiguration="EInvoiceServiceServiceSoapBinding"
                contract="eInvoService.IEInvoiceService" name="EInvoiceServicePort" />
        </client>
    </system.serviceModel>
</configuration>