body {
    font-family: 'Microsoft Yahei';
    font-size:.26rem;
}
/*头部*/
.process-header{
    height: .88rem;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 .3rem;
    border-bottom-color: #dbd6d6;
}
.process-header a {
    height: 22px;
    line-height: 22px;
    text-align: center;
}
.process-header a.pull-left{
    width: .44rem;
    height: .44rem;
    margin-top: .2rem;
}
.process-header a.pull-left img{
    display: block;
    width: 100%;
    height: 100%;
}
.process-header .title {
    line-height: .88rem;
    margin: 0 -.3rem;
    font-size: .36rem;
}
/*加载购物车失败*/
.content .no-goods{
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.no-goods img{
    width: 1.7rem;
    height: 1.7rem;
    display: block;
    margin: 0 auto;
}
.no-goods .title{
    display: block;
    font-size: 0.2rem;
    color: #b3b3b3;
    margin-top: .2rem;
}
.no-goods .btn{
    display: block;
    font-size: 0.22rem;
    color: #e4393c;
    width: 1.5rem;
    height: .5rem;
    border: 1px solid #999999;
    border-radius: 2.5rem;
    font-family: 'Microsoft Yahei';
    margin: .3rem 0 0 .3rem;
}
/*地址内容*/
.bar-nav~.content {
    padding-top: .88rem;
    background: #fff;
}
.address-list{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.address-list .address-info{
    display: flex;
    margin: .2rem .3rem 0 .3rem;
    border: solid 1px #bbbbbb;
    border-radius: .1rem;
}
.address-list .address-info .picture{
    width: 1.7rem;
    height: 1.4rem;
    margin: .3rem .2rem .3rem .1rem;
    float: left;
}
.address-list .address-info .picture img{
    width: 100%;
    height: 100%;
}
.address-list .address-info .store{
    font-size: .3rem;
    color: #000;
    line-height: .3rem;
    float: left;
    width: 100%;
    position: relative;
}
.address-list .address-info .store .store-info{
    display: block;
    width: 100%;
}

.address-list .address-info .store .store-info .store-name {
    margin-top: .42rem;
    float: left;
}
.address-list .address-info .store .store-info .store-pic{
    display: none;
    margin-top: .2rem;
    margin-right: .1rem;
    float: right;
}
.address-list .address-info .store .store-info .store-pic img{
    width: .44rem;
    height: .44rem;
    float: right;
}
.address-list .address-info.active .store .store-info .store-pic{
    display: inline;
}
.address-list .address-info  .store .store-address{
    display: block;
    font-size: .22rem;
    color: #757575;
    line-height: .32rem;
    margin-top: .1rem;
    margin-right: .22rem;
}
.address-list .address-info .store .store-contact{
    display: block;
    width: 100%;
    font-size: .22rem;
    color: #757575;
    margin-top: .1rem;
}
.address-list .address-info .store .store-contact .store-phone{
    float: left;
}
.address-list .address-info .store .store-contact .store-phone a {
    color:#e4393c;
}
.address-list .address-info .store .store-contact .store-phone img{
    width: .24rem;
    height: .24rem;
    background-size: 100%;
    margin-top: 0.05rem;
    float: left;
}
.address-list .address-info .store .store-contact .store-phone span{
    float: left;
}
.address-list .address-info .store .store-contact .store-distance{
    float: right;
    margin-right: .4rem;
}
.address-list .address-info .store .store-contact .store-distance span{
    float: left;
}
.address-list .address-info .store .store-contact .store-distance img{
    width: .24rem;
    height: .24rem;
    background-size: 100%;
    margin-top: 0.04rem;
    float: left;
}





