body {
    background: #eee;
    font-family: 'Microsoft Yahei';
    font-size:.26rem;
}
/*头部*/
.process-header{
    height: .88rem;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 .3rem;
    border-bottom-color: #dbd6d6;
}
.process-header a {
    height: 22px;
    line-height: 22px;
    text-align: center;
}
.process-header a.pull-left{
    width: .44rem;
    height: .44rem;
    margin-top: .2rem;
}
.process-header a.pull-left img{
    display: block;
    width: 100%;
    height: 100%;
}
.process-header .title {
    line-height: .88rem;
    margin: 0 -.3rem;
    font-size: .36rem;
}
/*内容部分*/
.bar-nav~.content {
    padding-top: .88rem;
}

/*没有订单*/
.no-order-state{
    background: #fff;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: fixed;
    height: 100%;
}
.content .no-order{
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.no-order img{
    width: 1.7rem;
    height: 1.7rem;
    display: block;
    margin: 0 auto;
}
.no-order .title{
    display: block;
    font-size: 0.2rem;
    color: #b3b3b3;
    margin-top: .2rem;
}

.order-detail{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.order-detail .order-state{
    background: #fff;
    height: .8rem;
    line-height: .8rem;
    font-size: .3rem;
    color: #000;
    margin-bottom: .2rem;
    padding-left: 3.5%;
    padding-right: 3.5%;
}
.order-detail .order-state ul li{

    text-align: center;
}
.order-detail .order-state .order-state-all span{
    width: 1rem;
    display: inline-block;
}
 .order-detail .order-state .order-state-all{
     float: left;
     box-sizing: border-box;
     width: 31%;
 }
.order-detail .order-state .order-state-all.active span{
    color: #e4393c;
    border-bottom: solid 1px #e4393c;
}

.order-detail .order-list .order-item{
    background: #fff;
    margin-bottom: .2rem;
 
    position: relative;
    width: 100%;
}
.order-detail .order-list .order-item .title{
    height: .64rem;
    line-height: .64rem;
    padding-left: .3rem;
    font-size: .26rem;
    border-bottom: 1px solid #eee;
    padding-right: .3rem;
}
.order-detail .order-list .order-item .title .name{
    float: left;
}
.order-detail .order-list .order-item .title .take-out{
    float: right;
    margin-right: 1.2rem;
    color: #757575;
}
.order-detail .order-list .order-item .title .state{
    float: right;
    color: #e4393c;
}
.order-detail .order-list .order-item .title .state-finish{
    float: right;
    color: #757575;
}
.order-detail .order-list .order-item .com-detail{
    position :relative;
    display: -webkit-box;
    -webkit-box-flex: 1;
}
.order-detail .order-list .order-item .com-two{
    width: 4.6rem;
}

.order-detail .order-list .order-item .com-two .com-name{
    width: 3.6rem;
    height: 1rem;
    padding: .18rem 0 .2rem .3rem;
    float: left;
    box-sizing: border-box;
    position: relative;
}
.order-detail .order-list .order-item .com-two .com-name .com-change{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.order-detail .order-list .order-item .com-detail .com-two  .com-name .com-change .com-name-one{
    font-size: .28rem;
    line-height: .28rem;
}
.order-detail .order-list .order-item .com-detail .com-two  .com-name .com-change .com-name-one .dish{
	display: inline-block;
    width: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.order-detail .order-list .order-item  .com-detail .com-two .com-name .com-change .com-name-two{
    font-size: .22rem;
    color: #757575;
    line-height: .22rem;
    margin-top: .16rem;
	width: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.order-detail .order-list .order-item  .com-detail .com-two .com-name .com-change .com-name-two .size{
    margin-left: .2rem;
}
.order-detail .order-list .order-item .com-number{
    width: 1rem;
    height: 1rem;
    float: left;
    font-size: .28rem;
    line-height: 1rem;
    color: #757575;
}
.order-detail .order-list .order-item .total-price{
    font-size: .28rem;
    margin-right: .3rem;
    -webkit-box-flex: 1;
    text-align: right;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0;
    line-height: .28rem;
    color: #e4393c;
}
.order-detail .order-list .order-item .total-price-finish{
    font-size: .28rem;
    margin-right: .3rem;
    -webkit-box-flex: 1;
    text-align: right;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0;
    line-height: .28rem;
}
.order-detail .order-list .order-item .introduction{
    font-size: .2rem;
    color: #757575;
    height: .4rem;
    padding: 0 .3rem 0 .3rem;
    position: relative;
}
.order-detail .order-list .order-item .introduction .intro{
    border-top: solid 1px #eee;
    padding-top: .1rem;
    line-height:.2rem;
}
.order-detail .order-list .order-item .introduction .intro .serial-number{
   float: left;
}
.order-detail .order-list .order-item .introduction .intro .pay-time{
   float: right;
}

.toast .toast-content{
	font-size: 12px;
}







