body {
    background: #eee;
    font-family: 'Microsoft Yahei';
}

/*头部*/
.process-header {
    height: .88rem;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 .3rem;
    border-bottom-color: #dbd6d6;
}

.process-header a {
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.process-header a.pull-left {
    width: .44rem;
    height: .44rem;
    margin-top: .2rem;
}

.process-header a.pull-left img {
    display: block;
    width: 100%;
    height: 100%;
}

.process-header .title {
    line-height: .88rem;
    margin: 0 -.3rem;
    font-size: .36rem;
}

/*内容部分*/
.bar-nav ~ .content {
    padding-top: .88rem;
}

.order-detail {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.order-intro {
    background: #fff;
    margin-bottom: .2rem;
    height: 1.62rem;
}

.order-intro ul {
    margin-left: .3rem;
}

.order-intro ul li {
    color: #757575;
    padding: 0 .3rem 0 0;
    line-height: .28rem;
    border-bottom: 0px solid #e8e8e8;
    font-size: .28rem;
    padding-top: .2rem;
}

.order-intro ul li span {
    float: right;
}

.order-intro .pay-time span {
    font-size: .24rem;
    padding-top: .06rem;
}

.order-intro .serial-number {
    padding-top: .18rem;
}

.order-intro .serial-number span {
    padding-top: .02rem;
}

.order-intro .dining-mode span {
    padding-top: .02rem;
}

.pay-state {
    background: #fff;
    height: .8rem;
    margin-bottom: .2rem;
    padding: 0 .3rem;
    position: relative;
}

.pay-state .number-state {
    font-size: .24rem;
}

.pay-state .number-state>div{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pay-state .number-state .number {
    color: #000;
    left: .3rem;
}

.pay-state .number-state .state {
    color: #e4393c;
    right: .3rem;
    text-align: right;
}

.pay-state .number-state .state .tip{
    display: block;
    font-size: .2rem;
}

.receiving-information {
    background: #fff;
    padding: .24rem .3rem .3rem .26rem;
    margin-bottom: .2rem;
}

.receiving-information .info .name-tel {
    display: block;
    line-height: .28rem;
}

.receiving-information .info .name-tel .name {
    font-size: .28rem;
    color: #000;
    margin-top: .08rem;
}

.receiving-information .info .name-tel img {
    width: .44rem;
    height: .44rem;
    background-size: 100%;
    display: block;
    float: left;
}

.receiving-information .info .name-tel .tel {
    font-size: .28rem;
    color: #000;
    margin-top: .08rem;
}

.receiving-information .info .address {
    margin-left: .44rem;
    margin-top: .14rem;
}

.receiving-information .info .address span {
    display: block;
}

.receiving-information .info .address .general {
    font-size: .24rem;
    color: #757575;
    line-height: .3rem;
}

.receiving-information .info .address .detail {
    font-size: .24rem;
    color: #757575;
    line-height: .3rem;
}

.pay-intro {
    background: #fff;
    margin-bottom: .2rem;
}

.pay-intro .title {
    height: .64rem;
    line-height: .64rem;
    padding-left: .22rem;
    font-size: .28rem;
    border-bottom: 1px solid #eee;
}

.pay-intro .title img {
    width: .44rem;
    height: .44rem;
    margin-top: .1rem;
    vertical-align: middle;
    float: left;
}

.pay-intro .title a {
    color: #e4393c;
    float: right;
    margin-right: .3rem;
}

.pay-intro .title span:nth-child(2) {
    margin-left: .1rem;
}

.pay-intro .title span:nth-child(3) {
    color: #e4393c;
    margin-right: .3rem;
    float: right;
}

.pay-intro .com-detail {
    position: relative;
    display: -webkit-box;
    -webkit-box-flex: 1;
    height: 1rem;
}

.pay-intro .com-detail .com-detail-wb {
    margin-left: .3rem;
    margin-right: .3rem;
    width: 5.8rem;
    border-bottom: solid 1px #eee;
}

.pay-intro .com-detail .com-detail-wb .com-two {
    width: 4.6rem;
}

.pay-intro .com-detail .com-detail-wb .com-two .com-name {
    width: 3.6rem;
    height: 1rem;
    padding: .18rem 0 .2rem 0;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.pay-intro .com-detail .com-detail-wb .com-two .com-name .com-change {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.pay-intro .com-detail .com-detail-wb .com-two .com-name .com-change .com-name-one {
    font-size: .28rem;
    line-height: .28rem;
}

.pay-intro .com-detail .com-detail-wb .com-two .com-name .com-change .com-name-two {
    font-size: .22rem;
    color: #757575;
    line-height: .22rem;
    margin-top: .16rem;
}

.pay-intro .com-detail .com-detail-wb .com-two .com-number {
    width: 1rem;
    height: 1rem;
    float: left;
    font-size: .28rem;
    color: #757575;
    line-height: 1rem;
}

.pay-intro .com-detail .com-detail-wb .total-price-finish {
    font-size: .28rem;
    margin-right: .3rem;
    -webkit-box-flex: 1;
    text-align: right;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0;
    line-height: .28rem;
}

.pay-intro .com-intro {
    height: 2.02rem;
    padding-top: .2rem;
}

.pay-intro .com-intro ul {
    margin-left: .3rem;
}

.pay-intro .com-intro ul li {
    color: #999;
    padding: 0 .3rem 0 0;
    line-height: .28rem;
    border-bottom: 0px solid #e8e8e8;
    font-size: .28rem;
    margin-top: .18rem;
}

.pay-intro .com-intro ul li span {
    float: right;
}

.pay-intro .com-intro .com-price {
    margin-top: .02rem;
}

.pay-intro .com-intro .fee span {
    margin-top: .04rem;
}

.pay-intro .com-intro .coupon span {
    margin-top: .04rem;
}

.pay-intro .com-intro .total span {
    margin-top: .04rem;
}

/*备注*/
.remark {
    background: #fff;
    padding: .2rem .1rem .2rem 0;
    margin-bottom: .2rem;
}

.remark .remark-title {
    font-size: .28rem;
    color: #757575;
    margin-left: .3rem;
    display: block;
    float: left;
}

.remark .remark-con {
    font-size: .24rem;
    display: block;
    float: left;
    margin-left: .2rem;
    color: #999;
    width: 5.1rem;
}

/*取消订单按钮*/
.cancel-order {
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    color: #e4393c;
    font-size: .32rem;
    background: #fff;
    margin-bottom: .2rem;
}

/*取消订单按钮弹出框*/
.cancel-order-tip .mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 20;
}
.cancel-order-tip .pop-up{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 21;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 4.3rem;
    text-align: center;
}
.cancel-order-tip .pop-up .tip{
    font-size: .24rem;
    height: 1.09rem;
    line-height: 1.09rem;
    border-bottom: 1px solid #e8e8e8;
}
.cancel-order-tip .pop-up .handle-btn>div{
    width: 50%;
    height: .66rem;
    line-height: .66rem;
    font-size: .28rem;
    position: relative;
}
.cancel-order-tip .pop-up .handle-btn .cancel:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: .66rem;
    background: #e8e8e8;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}