* {
    margin: 0;
    padding: 0;
}
.order-detail header{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #ecf0f2;
    color: #5292b8;
    text-align: center;
}
.detail-info {
    margin: 10px;
    border: 1px solid #d0d1e3;
}
.detail-info .title {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    background: #eff0f4;
}
.detail-info .info-detail {
    padding: 10px;
}
.detail-info .info-detail p {
    margin-bottom: 10px;
    font-size: 12px;
    color: #8c94a9;
}
.detail-info .info-detail span {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #8c94a9;
}
.detail-info .info-detail span.method {
    width: 240px;
}
.detail-info .info-detail i {
    font-style: normal;
}
.detail-info .info-detail .total-price{
	color: #8c94a9;
}
.detail-info .info-detail .price,
.detail-info .info-detail .total-price span
{
    color: #fe915d;
}
.detail-info .info-detail .branch-price,
.detail-info .info-detail .total-price {
    display: inline-block;
    vertical-align: middle;
}
.detail-info .info-detail .cost {
    margin-top: 10px;
}
.detail-info .info-detail .branch-price {
    width: 175px;
}
.detail-info .info-detail .branch-price p, span{
	color: #000;
}
.detail-info .info-detail .total-price span {
    font-size: 14px;
}
