body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "微软雅黑";
}

/*公共样式*/
a:link, a:visited {
	text-decoration: none;
}

a:hover {
	color: #80BDE3;
}

a:active {
	color: blue
}

a.reset {
	/*color: #409FFF;*/
	margin-left: 25px;
}

a.zhifubao:hover, a.reset:hover {
	color: #80BDE3;
}

a.zhifubao {
	color: #409FFF;
}

/*清除浏览器默认样式*/
h1, h2, h3, h4, h5, p, ul, li, div, span, dl, dd, dt, img, button, input, tr, td, table {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	font-weight: normal;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* End hide from IE-mac */

/*margin*/
.mt0 {
	margin-top: 0;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mt20 {
	margin-top: 20px;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mr15 {
	margin-right: 15px;
}

.mr20 {
	margin-right: 20px;
}

.mb50 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.ml5 {
	margin-left: 5px;
}

.ml10 {
	margin-left: 10px;
}

.ml15 {
	margin-left: 15px;
}

.ml20 {
	margin-left: 20px;
}

.ml50 {
	margin-left: 50px;
}

.padding15 {
	padding: 15px;
}

.padding10 {
	padding: 10px;
}

.padding5 {
	padding: 5px;
}

.box {
	padding: 10px 0 10px 10px;
	height: auto;
	margin: 0 10px;
	min-width: 1070px;
}

/*top*/
.top {
	width: 1000px;
	margin: 0 auto;
	height: 50px;
	background: url('/images/top_bg.jpg') repeat-x;
	color: #fff;
}

.top .top_L {
	float: left;
}

.top ul li.new {
	height: 48px;
	padding: 2px 0 0 9px;
	float: left;
	background: url('/images/line.jpg') no-repeat center right;
	width: 138px;
}

.top ul li.new2 {
	padding-top: 8px;
	height: 40px;
}

.top ul li.new.new3 {
	width: 80px;
	margin-left: 10px;
}

.top ul li.mail {
	margin-top: 3px;
}

.top ul li.last {
	margin-right: 20px;
}

.top ul li.new span {
	margin-left: 20px;
	height: 50px;
}

.top ul li {
	height: 47px;
	line-height: 50px;
	float: left;
	margin-left: 20px;
}

.top .top_R {
	float: right;
}

/*content*/
.content {
	margin: 0 auto;
	color: #8C94A9;
	overflow: hidden;
	height: auto;
}

.content .content_L {
	width: 189px;
	overflow: hidden;
	float: left;
	height: 817px;
	border: 1px solid #d1d2d6;
}

.content .content_L ul li {
	height: 40px;
	line-height: 40px;
	background: #EDF0F5;
	border-bottom: 1px solid #CFD2D7;
	border-top: 1px solid #F3F7FA;
}

.content .content_L ul li img {
	margin-top: 10px;
	margin-left: 17px;
	float: left;
}

.content .content_L ul li a {
	margin-left: 10px;
	float: left;
}

.content .content_L ul li.row {
	background: url('/images/row.jpg') no-repeat 170px center #EDF0F5;
}

.content .content_C {
	width: 510px;
	overflow: hidden;
	padding-top: 10px;
	float: left;
}

.content .content_C .content_C_l {
	width: 116px;
	float: left;
}

.content .content_C .content_C_l ul li {
	float: right;
}

.content .content_C .content_C_l li span {
	color: #C25C69;
}

.content .content_C .content_C_r {
	margin-left: 4px;
}

.content .content_C .content_C_r ul li input {
	width: 315px;
	height: 27px;
	line-height: 27px;
	color: #D6D6D6;
}

.content .content_C .content_C_r ul li.three input {
	width: 151px;
	height: 27px;
	border: 1px solid #B8BFCF;
	background: url('/images/time.jpg') no-repeat right center;
}

.content .content_C .content_C_r ul li.three input.one {
	margin-right: 10px;
}

.content .content_C .content_C_r ul li.four p {
	color: #90251D;
}

.content .content_C .content_C_r ul li.five input.one {
	width: 11px;
	height: 23px;
	float: left;
	border: 0 solid #B8BFCF
}

.content .content_C .content_C_r ul li.five span {
	height: 29px;
	display: block;
	margin-left: 20px;
}

.content .content_C .content_C_r ul li.five p span {
	margin-left: 0;
	margin-right: 20px;
	color: #3A71A7;
	float: left;
	cursor: pointer;
}

.content .content_C .content_C_r ul li.five p span a:link, .content .content_C .content_C_r ul li.five p span a:visited {
	color: #3A71A7;
	text-decoration: underline;
}

.content .content_C .content_C_r ul li.five p span a:hover {
	color: #3A71A7;
}

.content .content_C .content_C_r ul li.five p span.one {
	color: #FF8F2F;
}

.content .content_C ul li.six button {
	width: 122px;
	height: 28px;
	line-height: 25px;
	background: url('/images/button_bg.jpg') repeat-x;

	border: 1px solid #C9CDD0;
	border-radius: 3px;
	margin-left: 88px;
	cursor: pointer;
	color: #8C94A9;
}

.content .content_C ul li.one {
	height: 85px;
	line-height: 85px;
}

.content .content_C ul li.two {
	height: 29px;
}

.content .content_C ul li.two input {
	border: 1px solid #B8BFCF
}

.content .content_C ul li.three {
	height: 29px;
}

.content .content_C ul li.four {
	height: 48px;
}

.content .content_C ul li.four input {
	border: 1px solid #B8BFCF
}

.content .content_C ul li.five {
	height: 76px;
}

.content .content_C ul li.five input {
	border: 1px solid #B8BFCF
}

.content .content_C ul li.six {
	height: 68px;
}

.content .content_C ul li {
	margin-top: 33px;
}

.content .content_R {
	margin-top: 160px;
	float: right;
}

/*.footer{width:811px; height:43px; line-height:43px; background:url(/images/footer_bg.jpg) repeat-x; margin-bottom:0; float:right; 

position:absolute; top:819px; left:401px; _left:10px;text-align:center; color:#8793A1;}
*/
.right {
	float: left;
	width: 809px;
}

.footer {
	width: 809px;
	height: 45px;
	line-height: 43px;
	background: url('/images/footer_bg.png') repeat-x;
	float: right;
	text-align: center;

	color: #8793A1;
}

.right.right1 {
	padding: 5px 5px 0 0;
	width: 100%;
	overflow: hidden;
}

/*促销管理*/

/*.manag_top*/

.manag_top {
	height: 101px;
}

.manag_top li.one {
	margin-left: 50px;
}

.manag_top li {
	float: left;
	margin: 0 5px 0 44px;
	height: 27px;
}

.manag_top li span {
	margin-right: 5px
}

.manag_top li input {
}

.manag_top li.one input {
	width: 151px;
	height: 27px;
	line-height: 27px;
	border: 1px solid #B8BFCF;
	background: url('/images/time.jpg') no-repeat right center;
	border-radius: 3px;
}

.manag_top li.two input {
	width: 90px;
	border-radius: 3px;
	border: 1px solid #B8BFCF;
	height: 27px;
	line-height: 27px;
}

.manag_top li.four {
	margin-left: 15px;
}

.manag_top li.three input {
	width: 151px;
	height: 27px;
	border: 1px solid #B8BFCF;
	border-radius: 3px;
	margin-right: 5px;
	margin-top: 0
}

.manag_top li.four {
	height: 27px;
	line-height: 27px;
	padding-bottom: 5px;
}

.manag_top li.four select {
	width: 90px;
	height: 26px;
	padding: 2px;
	border: 1px solid #B8BFCF;
	border-radius: 3px;
	text-align: center;

	margin-bottom: 10px;
}

.manag_top li.four select option {
	height: 27px;
	line-height: 27px;
	border: 1px solid #B8BFCF;
	border-radius: 3px;
}

.manag_top li.five button {
	width: 122px;
	height: 28px;
	line-height: 27px;
	background: url('/images/button_bg.jpg') repeat-x;
	border: 1px solid #C9CDD0;
	border-radius: 3px;
	cursor: pointer;
	color: #8C94A9;
}

.manag_top {
	margin-top: 40px;
	margin-bottom: 10px;
	margin-left: 66px;
}

.manag_top li.one, .manag_top li.two {
	margin-top: 0;
	margin-right: 5px;
}

.manag_top li.two {
	margin-left: 10px;
}

.manag_top li.three {
	margin-right: 5px;
}

.manag_top li.five {
	margin-left: 20px;
	margin-top: 2px;
}

.manag_top li.one, .manag_top li.three {
	margin-left: 0;
}

/*manag_bot*/
.manag_bot {
	height: auto;
	width: 96%;
}

.manag_bot p.wenzi {
	text-align: center;
	color: red;
}

.manag_bot h1 {
	height: 46px;
	text-align: right;
	margin-bottom: 20px;
}

.manag_bot h1 button {
	width: 122px;
	height: 28px;
	line-height: 27px;
	background: url('/images/button_bg.jpg') repeat-x;

	border: 1px solid #C9CDD0;
	border-radius: 3px;
	cursor: pointer;
	color: #8C94A9;
}

.manag_bot .m_talbe {
	width: 100%;
	border-collapse: collapse;
}

.manag_bot .m_talbe tr.t_tr1 {
	background: url('/images/table_bg.jpg') repeat-x;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
}

.manag_bot .m_talbe tr.t_tr1 td {
	height: 36px;
	overflow: hidden;
}

.manag_bot .m_talbe tr td {
	text-align: center;
	border: 1px solid #CED3D9;
}

.manag_bot .m_talbe tr td.one {
	width: 43px;
}

.manag_bot .m_talbe tr td.two {
	width: 65px;
}

.manag_bot .m_talbe tr td.three {
	width: 84px;
}

.manag_bot .m_talbe tr td.four {
	width: 67px;
}

.manag_bot .m_talbe tr td.four input {
	width: 80px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #8C94A9;
}

.manag_bot .m_talbe tr td.five {
	width: 171px;
}

.manag_bot .m_talbe tr td.six {
	width: 216px;
}

.manag_bot .m_talbe tr td.seven {
	width: 72px;
}

.manag_bot .m_talbe tr td.eight {
	width: 49px;
}

.manag_bot .m_talbe tr.t_tr2 {
	height: 97px;
}

.manag_bot .m_talbe tr.t_tr2 td.eight {
	padding: 5px;
	width: 39px;
	height: 87px;
}

.manag_bot .m_talbe tr.t_tr2 td.eight span {
	margin-bottom: 5px;
	display: block;
}

.manag_bot .m_talbe tr.t_tr2 td.eight a:link, .manag_bot .m_talbe tr.t_tr2 td.eight a:visited {
	color: #66C6FF;
	text-decoration: underline;

}

.manag_bot .m_talbe tr.t_tr2 td.eight a:hover {
	color: #66C6FF;
}

.tfootInput {
	border: 1px solid #B8BFCF;
	padding: 2px 0;
}

/*mendianxinxi*/

.manag_top.manag_top2 {
	padding: 0 5px 0 0;
	height: 50px;
	line-height: 10px;
}

.manag_top.manag_top2 li {
	margin-left: auto;
}

.manag_top.manag_top2 .door_one {
	margin-left: auto;
}

.manag_top .door_one input {
	width: 151px;
	height: 27px;
	line-height: 27px;
	border: 1px solid #B8BFCF;
	border-radius: 3px;
}

.manag_top li select {
	width: 220px;
	height: 27px;
	line-height: 27px;
	padding: 3px;
	border: 1px solid #B8BFCF;
	border-radius: 3px;
	text-align: center;
	margin-bottom: 10px;
}

.manag_bot .m_talbe.m_talbe2 tr td.one {
	width: 86px;
}

.manag_bot .m_talbe.m_talbe2 tr td.two {
	width: 86px;
}

.manag_bot .m_talbe.m_talbe2 tr td.three {
	width: 86px;
}

.manag_bot .m_talbe.m_talbe2 tr td.four {
	width: 86px;
}

.manag_bot .m_talbe.m_talbe2 tr td.five {
	width: 86px;
}

.manag_bot .m_talbe.m_talbe2 tr td.eight {
	width: 52px;
}

.manag_bot .m_talbe.m_talbe2 tr.t_tr2 {
	height: 97px;
}

.manag_bot .m_talbe.m_talbe2 tr.t_tr2 td.eight {
	padding: 5px;
	width: 39px;
	height: 87px;
}

.manag_bot .m_talbe.m_talbe2 tr.t_tr2 td.eight span {
	margin-bottom: 5px;
	display: block;
}

.manag_bot .m_talbe.m_talbe2 tr.t_tr2 td.eight a:link, .manag_bot .m_talbe tr.t_tr2 td.eight a:visited {
	color: #66C6FF;
	text-decoration: underline;
}

.manag_bot .m_talbe.m_talbe2 tr.t_tr2 td.eight a:hover {
	color: #66C6FF;
}

/*评价详情页*/
.manag_bot .m_talbe.m_talbe5 {
	width: 1028px;
	/*min-height: 150px;*/
	margin: 80px 150px 20px 150px;
}

.manag_bot .m_talbe.m_talbe5 tr td.one {
	width: 56px;
}

.manag_bot .m_talbe.m_talbe5 tr td.two {
	width: 90px;
}

.manag_bot .m_talbe.m_talbe5 tr td.three {
	width: 56px;
}

.manag_bot .m_talbe.m_talbe5 tr td.four {
	width: 56px;
}

.manag_bot .m_talbe.m_talbe5 tr td.eight {
	width: 56px;
}

.manag_bot .m_talbe.m_talbe5 tr.t_tr2 td.two {
	text-align: center;
	padding: 0 5px;
	font-size: 12px;
	width: 100px;
}

.manag_bot .m_talbe.m_talbe5 tr.t_tr2 td.two span {
	margin-bottom: 2px;
	display: block;
}

.manag_bot .m_talbe.m_talbe5 tr.t_tr2 {
	height: 97px;
}

.manag_bot .m_talbe.m_talbe5 tr.t_tr2 td.eight {
	padding: 5px;
	width: 39px;
	height: 87px;
}

.manag_bot .m_talbe.m_talbe5 tr.t_tr2 td.eight span {
	margin-bottom: 5px;
	display: block;
}

.manag_bot .m_talbe.m_talbe5 tr.t_tr2 td.eight a:link, .manag_bot .m_talbe tr.t_tr2 td.eight a:visited {
	color: #66C6FF;
	text-decoration: underline;
}

.manag_bot .m_talbe.m_talbe35tr.t_tr2 td.eight a:hover {
	color: #66C6FF;
}

.manag_top.manag_top2 .manag_top2_left {
	float: left;
	margin-left: 100px;
	margin-top: 20px;
}

.manag_top.manag_top2 .manag_top2_right {
	float: left;
	height: 81px;
	line-height: 20px;
	padding-top: 20px;
	padding-left: 10px;
	color: Blue;
}

/*tianjiamendian*/
.tj_cont {
	height: 737px;
}

.tj_cont ul li {
	float: left;
	width: 100%;
}

.tj_cont span {
	float: left;
	margin: 25px 10px 0 0;
}

.tj_cont ul li input {
	float: left;
	border: 1px solid #bdc0c5;
	width: 315px;
	height: 29px;
	margin-top: 18px;
	line-height: 29px;
}

.tj_cont ul li strong {
	float: left;
	margin-left: 5px;
	margin-top: 17px;
	display: block;
}

.tj_cont ul .xz span {
	float: left;
}

.tj_cont ul .xz select {
	float: left;
	width: 151px;
	height: 27px;
	margin-top: 18px;
	margin-right: 13px;
	padding: 4px;
	border-radius: 3px;

	border: 1px solid #B8BFCF;
}

.tj_cont ul .te {
	width: 595px;
}

.tj_cont .wai {
	float: left;
	width: 322px;
	height: 29px;
	line-height: 29px;
	text-align: center;
	margin: 25px 0 0 200px;
	display: inline;
}

.tj_cont .zhong {
	width: 322px;
	height: 29px;
}

.tj_cont .nei {
	width: 322px;
	height: 29px;
}

.tj_cont .nei button {
	width: 120px;
	height: 28px;
	border: 1px solid #BFCFDA;
	border-radius: 3px;
	background: url('/images/button_bg.jpg') repeat-x;
	cursor: pointer;
}

/*出售中商品管理*/
.editable_cell input {
	width: 80px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #8C94A9;
}

/*仓库商品管理——收起菜单*/
.manag_top.manag_top3 {
	height: 131px;
}

.manag_top.manag_top3 li {
	margin-top: 12px;
}

.manag_top.manag_top3 span {
	margin-right: 5px;
}

.manag_top.manag_top3 .door_one, .manag_top.manag_top3 .door_two {
	margin-top: 0;
}

.manag_top.manag_top3 .door_two {
	margin-left: 99px;
}

.manag_top.manag_top3 .door_one input, .manag_top.manag_top3 .door_two input {
	width: 262px;
	height: 27px;
	line-height: 27px;
	border: 1px solid #B8BFCF;
	border-radius: 3px;
}

.manag_top.manag_top3 .door_three {
	margin-left: 13px;
}

.manag_top.manag_top3 .door_four {
	margin-left: 131px;
}

.manag_top.manag_top3 .door_three input, .manag_top.manag_top3 .door_four input {
	width: 117px;
	height: 27px;
	line-height: 27px;
	border: 1px solid #B8BFCF;
	border-radius: 3px;
}

.manag_top.manag_top3 .door_three strong, .manag_top.manag_top3 .door_four strong {
	margin: 0 5px;
	font-weight: normal;
}

.manag_top.manag_top3 .five {
	margin-left: 514px;
}

.manag_top.manag_top3 .five.five1 {
	margin-left: 517px;
}

.manag_top.manag_top3 .five span {
	margin-left: 10px;
	color: #007FFF;
}

.manag_top.manag_top3 .five span a:link, .manag_top.manag_top3 .five span a:visited {
	color: #007FFF;
	text-decoration: underline;
}

.manag_top.manag_top3 .five span a:hover {
	color: #007FFF;
}

.manag_top.manag_top3 .door_one1 {
	margin-left: 0;
}

.manag_top.manag_top3 .door_two1 {
	margin-left: 99px;
}

.manag_bot.manag_bot1 h1 button {
	margin-left: 12px;
}

/*.manag_bot.manag_bot1 h1 button.one{margin-left:384px;}*/

.manag_bot .m_talbe.m_talbe3 tr.t_tr1 {
	background: url('/images/table_bg.jpg') repeat-x;
	height: 24px;
	line-height: 24px;

	overflow: hidden;
}

.manag_bot .m_talbe.m_talbe3 {
}

.manag_bot.manag_bot1 table {
	border: 1px solid #CED3D9;
}

.manag_bot.manag_bot1 table tr td {
	border-left: 0;
	border-right: 0;
}

.manag_bot .m_talbe.m_talbe3 tr td.one {
	height: 24px;
}

.manag_bot .m_talbe.m_talbe3 tr td.one span {
	margin-top: -2px;
	display: block;
	width: 87px;
	float: right;
}

.manag_bot .m_talbe.m_talbe3 tr td.two {
	text-align: left;
}

.manag_bot .m_talbe.m_talbe3 tr td.three {
	width: 112px;
}

.manag_bot .m_talbe.m_talbe3 tr td.four {
	width: 86px;
}

.manag_bot .m_talbe.m_talbe3 tr td.five {
	width: 104px;
}

.manag_bot .m_talbe.m_talbe3 tr td.six {
	width: 78px;
}

.manag_bot .m_talbe.m_talbe3 tr td.seven {
	width: 84px;
}

.manag_bot .m_talbe.m_talbe3 tr td.eight {
	width: 45px;
}

.manag_bot .m_talbe.m_talbe3 tr.t_tr1 td.six {
	width: 68px;
	padding-right: 2px;
}

.manag_bot .m_talbe.m_talbe3 tr.t_tr1 td.six.six1 {
	/*background: url('/images/up_row.png') no-repeat 71px 13px;*/
}

.manag_bot .m_talbe.m_talbe3 tr.t_tr1 td.seven {
	width: 74px;
	padding-right: 2px;
}

.manag_bot .m_talbe.m_talbe3 tr.t_tr1 td.seven.seven1 {
	width: 125px;
	/*background: url('/images/down_row.png') no-repeat 112px 12px;*/
}

.manag_bot .m_talbe.m_talbe3 tr td.two.to {
	width: 127px;
	text-align: center;
}

.manag_bot .m_talbe.m_talbe3 tr td.four.fo {
	width: 160px;
}

.manag_bot .m_talbe.m_talbe3 tr td.five.fi {
	width: 104px;
}

.manag_bot .m_talbe.m_talbe3 tr td.six.si {
	width: 229px;
}

.manag_bot .m_talbe.m_talbe3 tr td.seven.se {
	width: 162px;
}

.manag_bot .m_talbe.m_talbe3 tr.t_tr1 td.six.six1.si {
	background: none;
}

.manag_bot .m_talbe.m_talbe3 tr.t_tr1 td.seven.seven1.se {
	background: none;
}

.manag_bot .m_talbe.m_talbe3 tr.t_tr2.t_tr2_bg {
	background: #F7F8F9;
}

.manag_bot .m_talbe.m_talbe3 tr.t_tr2 {
	height: 144px;
}

.manag_bot .m_talbe.m_talbe3 tr.t_tr2 td.eight {
	padding: 5px;
	width: 39px;
	height: 87px;
}

.manag_bot .m_talbe.m_talbe3 tr.t_tr2 td.eight span {
	margin-bottom: 5px;
	display: block;
}

.manag_bot .m_talbe.m_talbe3 tr.t_tr2 td.eight a:link, .manag_bot .m_talbe.m_talbe3 tr.t_tr2 td.eight a:visited {
	color: #007fff;
	text-decoration: underline;
}

.manag_bot .m_talbe.m_talbe3 tr.t_tr2 td.eight a:hover {
	color: #007fff;
}

.manag_bot .m_talbe.m_talbe3 tr td.two {
	padding: 0 10px 0 0
}

.manag_bot .m_talbe.m_talbe3 tr td.two p input {
	border: 1px solid #8C94A9;
	height: 30px;
	width: 80px;
}

.manag_bot .m_talbe.m_talbe3 tr td.two span {
	margin-top: 24px;
}

.manag_bot .m_talbe.m_talbe3 span a:link,
.manag_bot .m_talbe.m_talbe3 span a:visited {
	color: #409FFF;
	text-decoration: underline;
}

.manag_bot .m_talbe.m_talbe3 span a:hover {
	color: #80BDE3;
}

.manag_bot .m_talbe.m_talbe3 tr td.four span {
}

.manag_bot .m_talbe.m_talbe3 tr td.five input {
	border: 1px solid #8C94A9;
	height: 30px;
	width: 80px;
}

.manag_bot .m_talbe.m_talbe3 tr td.five strong {
	background: url('/images/td_bg.png') repeat-x;
	border-radius: 3px;
	border: 1px solid #B7C1CE;
	width: 79px;
	height: 26px;
	line-height: 26px;
	display: block;
	margin-top: 10px;
	margin-left: 13px;
}

.manag_bot .m_talbe.m_talbe3 tr td.five span {
	display: block;
	color: Orange;
}

.manag_bot .last {
	height: 38px;
	line-height: 38px; /* width:772px;*/
	border: 1px solid #B7C1CE;
	border-top: 0;
}

.manag_bot .last li {
	float: left;
	margin-right: 8px;
}

.manag_bot .last ul {
	float: right;
}

.manag_bot .last.last_btn {
	border: none;
}

.manag_bot .last.last_btn span {
	display: block;
	background: url("/images/button_bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #C9CDD0;
	border-radius: 3px;
	color: #8C94A9;
	cursor: pointer;
	height: 26px;
	line-height: 27px;
	width: 122px;
	text-align: center;
}

/*xiugaileibie*/
/*.manag_bot.manag_bot1{position:relative;}*/
.manag_bot .floa {
	display: none;
	width: 195px;
	background: url('/images/shut_bg.png') repeat-x;
	border: 1px solid #ADBAC1;
	position: absolute;
	top: 325px;
	left: 377px;
	top: 351px\9;
	left: 376px\9;
}

.manag_bot .floa table {
	border: 0;
	float: left;
}

/*.manag_bot .floa ul li{line-height:25px;}
.manag_bot .floa ul.first{width:155px; float:left; padding:16px 0 0 7px;}
.manag_bot .floa ul.second{margin-left:20px; width:162px;}
.manag_bot .floa ul.third{margin-left:20px; width:162px;}
.manag_bot .floa ul li{padding-left:13px;}
.manag_bot .floa ul li span{margin-top:-2px; display:block; float:right; width:122px;}
.manag_bot .floa .shut{width:22px; padding:12px 8px 0 0; float:right;}
.manag_bot .floa .shut img{ width:7px; height:7px; float:right;}
.manag_bot .floa ul li.first1{background:url(/images/jia.png) no-repeat left center;}
.manag_bot .floa ul li.firs{background:url(/images/jian.png) no-repeat left 8px;}
.manag_bot .floa  ul.second  ul.third{width:120px;}
.manag_bot .floa ul.third li{padding-left:0; } 
.manag_bot .floa  ul.second  ul.third li span{width:101px;}
.manag_bot .floa ul.second li span{width:129px;}*/
.manag_bot .floa .btn button {
	cursor: pointer;
	width: 120px;
	height: 28px;
	border: 1px solid #BFCFDA;
	border-radius: 3px;
	background: url('/images/button_bg.jpg') repeat-x;
	margin-bottom: 9px;
}

.manag_bot .floa .shut {
	width: 22px;
	padding: 12px 8px 0 0;
	float: right;
	position: absolute;
	left: 172px;
	top: -11px;
}

/*box1*/

.box1 {

	width: 999px;
	height: 817px;
	background-color: #cccccc;
	position: absolute;
	top: 50px;
	left: 212px;
	left: 207px\9;

	filter: alpha(Opacity=50);
	-moz-opacity: 0.50;
	opacity: 0.5;
	z-index: 1;
}

.floa_new {
	position: absolute;
	top: 131px;
	left: 332px;
	width: 742px;
	background: url('/images/float_bg.png') repeat-x;
	padding: 0 10px;
	z-index: 2;
}

.manag_top.manag_top3.manag_top4 {
	height: 100px;
}

.manag_top.manag_top3.manag_top4 ul li {
	margin-left: 35px;
	margin-top: 12px;
}

.manag_top.manag_top3.manag_top4 .door_one.new, .manag_top.manag_top3.manag_top4 .door_two.new {
	margin-left: 0;
}

.manag_bot.manag_bot1.manag_bot4 h1 button {
	float: right;
}

.manag_bot.manag_bot1.manag_bot4 .m_talbe.m_talbe3 tr.t_tr2 td.two {
	text-align: left;
	padding: 0 5px;
	font-size: 12px;
	width: 167px;
}

.manag_bot.manag_bot1.manag_bot4 .m_talbe.m_talbe3 tr.t_tr1 td.six {
	width: 68px;
	color: #FFFF33;
	padding-right: 10px;
	background: url('/images/up_row.png') no-repeat 60px 13px;
}

.manag_bot.manag_bot1.manag_bot4 .m_talbe.m_talbe3 tr.t_tr1 td.seven {
	width: 74px;
	color: #FF9326;
	padding-right: 10px;
	background: url('/images/down_row.png') no-repeat 70px 12px;
}

.manag_bot.manag_bot1.manag_bot4 .last {
	width: 740px;
	margin-bottom: 44px;
}

.floa_new .shut1 {
	height: 16px;
	float: right;
}

/*chicunshezhi*/
.set_top {
	height: 32px;
	background: #EDF0F4;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.set_top ul li {
	height: 30px;
	line-height: 30px;
	width: 120px;
	color: #5F7292;
	font-size: 12px;
	text-align: center;
}

.set_top ul li {
	float: left;
}

.set_top ul li.new a:link, .set_top ul li.new a:visited {
	background: rgb(41, 75, 110);
	color: White;
	text-decoration: none;
	display: block;
}

.set_top ul li.new a:hover {
	display: block;
}

.set_top ul li a:link, .set_top ul li a:visited {
	text-decoration: none;
	display: block;
}

.set_top ul li a:hover {
	background: rgb(41, 75, 110);
	text-decoration: none;
	display: block;
	color: White;
}

.set_bot {
	padding: 10px 0 0 50px;
	font-size: 12px;
}

.set_bot h1 {
	color: #333;
	font-weight: normal;
	font-size: 14px;
	background: url("/Images/xin.png") no-repeat left rgba(0, 0, 0, 0);

	padding-left: 10px;
	vertical-align: middle;
}

.set_bot ul.fir {
	width: 400px;
	float: left;
}

.set_bot ul li {
	padding-left: 16px;
	line-height: 29px;
	width: 122px;
}

.set_bot ul li.first {
	background: url('/images/shut2.png') no-repeat 0 10px;
}

.set_bot ul li.first li span {
	margin-top: -2px;
	margin-left: 5px;
}

.set_bot ul li.first a {
	width: 97px;
	height: 29px;
	display: block;
	line-height: 29px;
}

.set_bot ul li.first a:link, .set_bot ul li.first a:visited {
	color: #98B83F;
	text-decoration: none;
}

.set_bot ul li.first a:hover {
	color: #98B83F;
	background: url('/images/shut2.png') no-repeat 4px 10px #F1F3F6;
	text-decoration: none;
}

li.las {
	width: 101px;
}

li.las li {
	border: 1px solid #ddd;
	height: 30px;
	line-height: 30px;
	width: 98px;
	padding-left: 16px;
	background: #fff;
}

li.las li.edit {
	background: #EDF0F4;
}

li.las {
	position: absolute;
	top: 0;
	left: 96px;
}

ul.thir li.posi {
	position: relative;
	z-index: 1;
}

.set_bot .tele {
	width: 273px;
	height: 513px;
	float: right;
	margin-right: 33px;
	margin-top: -21px;
	background: url('/images/tele.png') no-repeat;
}

.set_bot .tele .tele_all {
	width: 238px;
	height: 426px;
	margin: 48px 18px 0 18px;
	background: #fff;
}

.set_bot .tele .tele_all .tele_l {
	float: left;
	width: 123px;
	overflow: hidden;
	height: 403px;
	background: #E0E0E0;
}

.set_bot .tele .tele_all .tele_l li {
	color: #4C4C4C;
	font-size: 14px;
	/*text-align: center;*/
	width: 100%;
	border: 1px solid #D8D8D8;
	border-left: 0;
	height: 36px;
	line-height: 36px;
	background: #E0E0E0;
	white-space: nowrap;
}

.set_bot .tele .tele_all .tele_l li a {
	color: #000;
}

.set_bot .tele .tele_all .tele_l li.four1 a:hover {
	color: rgb(196, 119, 120);
}

.set_bot .tele .tele_all .tele_l li.one1 {
	padding-left: 5px;
	width: 113px;
}

.set_bot .tele .tele_all .tele_l li.one1 input {
	width: 107px;
	height: 22px;
	line-height: 22px;
	color: #EEEEEE;
	background: url('/images/search.png') no-repeat 87px 3px #fff;
}

.set_bot .tele .tele_all .tele_l li.two1 {
	background: #B6B6B6;
}

.set_bot .tele .tele_all .tele_l li.three1 {
	background: #E0E0E0;
	/*padding-left: 18px;*/
	/*width: 101px;*/
	margin-left: -16px;
	/*background: url("/content/images/bg_r_1.png") 127px 13px no-repeat;*/
}

.set_bot .tele .tele_all .tele_l li.three1 a {
	padding-left: 16px;
}

.set_bot .tele .tele_all .tele_l li.four1 {
	background: #E0E0E0;
	/*padding-left: 35px;*/
	/*width: 94px;*/
	margin-left: -16px;
	/*background: url("/content/images/bg_r_1.png") 127px 13px no-repeat;*/
}

.set_bot .tele .tele_all .tele_l li.four1 a {
	margin-left: 31px;
}
.set_bot .tele .tele_all .tele_l li.four2 a {
	margin-left: 31px;
}

.set_bot .tele .tele_all .tele_l li.four2 {
	background: #E0E0E0;
	/*padding-left: 55px;*/
	/*width: 74px;*/
	margin-left: -16px;
	display: none;
	/*background: url("/content/images/bg_r_1.png") 127px 13px no-repeat;*/
}

.set_bot .tele .tele_all .tele_l li.tele_l_bg {
	background: url("/content/images/bg_r_1.png") 127px 13px no-repeat;
}

.set_bot .tele .tele_all .tele_r {
	float: right;
}

.set_bot ul li.first a {
	width: 81px;
	height: 29px;
	display: block;
	line-height: 29px;
	background: url('/images/shut2.png') no-repeat 4px 10px #F1F3F6;
	padding-left: 16px;
	color: #98B83F;
}

.set_bot ul li.first.bg {
	background: none;
	padding-left: 0;
}

/*wodeshouru*/
.sr_title ul li {
	float: left;
	width: 192px;
	overflow: hidden;
}

.sr_title li img {
	float: left;
	margin-left: 10px;
}

.sr_title li a {
	float: left;
	width: 95px;
	font-size: 24px;
	line-height: 54px;
	color: #61708f;
	margin-left: 8px;
}

.sr_title li .jie {
	float: left;
	width: 190px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #65708c;
	margin-top: 15px;
}

.sr_title .ann {
	float: left;
	overflow: hidden;
	width: 600px;
	height: 29px;
	margin-top: 15px;
}

.sr_title .ann .wai {
	float: left;
	width: 122px;
	height: 29px;
	background: url('/images/zhong.gif') 0 repeat-x;
	line-height: 29px;
	text-align: center;
	display: inline;
}

.sr_title .ann .zhong {
	background: url('/images/left.gif') left 0 no-repeat;
	width: 122px;
	height: 29px;
}

.sr_title .ann .nei {
	background: url('/images/right.gif') right 0 no-repeat;
	width: 122px;
	height: 29px;
}

.sr_con {
	width: 780px;
	float: left;
	margin-top: 12px;
}

.sr_con ul {
	width: 762px;
	height: 43px;
	border: 1px solid #d0d1d3;
	line-height: 43px;
	padding-left: 12px;
}

.sr_con ul li {
	float: left;
}

.sr_con p {
	font-size: 19px;
	color: #3c5164;
	margin-right: 180px;
}

.sr_con ul li span {
	margin-right: 16px;
}

.sr_con ul li input {
	width: 106px;
	height: 27px;
	line-height: 27px;
	border: 1px solid #B8BFCF;
	background: url('/images/time.jpg') no-repeat right center;
	border-radius: 3px;
	color: #d5d5d5;
}

.sr_con ul li .te {
	margin: 0 4px;
}

/*支付方式*/
.zf_con ul li {
	margin-bottom: 20px;
}

.zf_con ul li span {
	margin-left: 10px;
}

.zf_con .da {
	font-size: 18px;
	color: #3F5164;
}

.zf_con ul .zhh {
	margin-left: 16px;
	font-size: 12px;
	line-height: 38px;
}

.fieldset {
	border: 1px solid #8c94a9;
}

.zf_con ul .zhh input {
	width: 200px;
	height: 27px;
	line-height: 27px;
	border: 1px solid #B8BFCF;
	border-radius: 3px;
}

.zf_con ul .zhh .lan a {
	color: #3b9fff;
	margin: 0 6px 0 6px;
}

.zf_con ul .zhh .cheng {
	color: #fcab50;
}

.zf_con .wai {
	float: left;
	width: 122px;
	height: 29px;
	background: url('/images/zhong.gif') 0 repeat-x;
	line-height: 29px;
	text-align: center;
	display: inline;
	margin-left: 18px;
}

.zf_con .zhong {
	background: url('/images/left.gif') left 0 no-repeat;
	width: 122px;
	height: 29px;
}

.zf_con .nei {
	background: url('/images/right.gif') right 0 no-repeat;
	width: 122px;
	height: 29px;
}

.alipaytag {
	width: 100px;
	display: block;
	float: left;
}

/*pinglunguanli*/
.plgl_bot .m_talbe {
	width: 100%;
	border-collapse: collapse;
}

/*.m_talbe {width:1128px; height:500px; float:none ; margin-left:100px; margin-right:200px;}*/
.plgl_bot .m_talbe {
	border-collapse: collapse;
	font-size: 12px;
}

.plgl_bot .m_talbe tr.t_tr1 {
	background: url('/images/table_bg.jpg') repeat-x;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
}

.plgl_bot .m_talbe tr.t_tr1 td {
	height: 36px;
	overflow: hidden;
}

.plgl_bot .m_talbe tr td {
	text-align: center;
	border: 1px solid #CED3D9;
}

.plgl_bot .m_talbe tr td.one {
	width: 66px;
}

.plgl_bot .m_talbe tr td.two {
	width: 238px;
}

.plgl_bot .m_talbe tr td.three {
	width: 238px;
}

.plgl_bot .m_talbe tr td.four {
	width: 86px;
}

.plgl_bot .m_talbe tr td.five {
	width: 200px;
}

.plgl_bot .m_talbe tr td.eight {
	width: 66px;
}

.plgl_bot .m_talbe tr.t_tr2 {
	height: 97px;
}

.plgl_bot .m_talbe tr.t_tr2 td.eight {
	padding: 5px;
	width: 39px;
	height: 87px;
}

.plgl_bot .m_talbe tr.t_tr2 td.eight span {
	margin-bottom: 5px;
	display: block;
}

.plgl_bot .m_talbe tr.t_tr2 td.eight a:link, .plgl_bot .m_talbe tr.t_tr2 td.eight a:visited {
	color: #459bff;
	text-decoration: underline;
}

.plgl_bot .m_talbe tr.t_tr2 td.eight a:hover {
	color: #9fa6ac;
}

.plgl_bot .m_talbe tr td.two .se1 {
	color: #484e5a;
}

.plgl_bot .m_talbe tr td.two .se2 {
	color: #9fa6ac;
	margin-top: 20px;
}

.plgl_bot .m_talbe tr td.three img {
	float: left;
	margin: 5px 0 0 25px;
}

.plgl_bot .m_talbe tr td.three ul li p {
	color: #579be6;
	margin: 15px 10px 10px 10px;
}

.plgl_bot .m_talbe tr td.three ul li a {
	color: #f6b154;
}

.reply {
	background: #F6FAFB;
	padding: 20px 0 0 0;
	width: 700px;
	/*margin-left: 50px;*/
	border-bottom: 1px solid #aad3eb;
	text-align: center;
}

.box3 {
	display: none;
}

.boxt {
	display: block;
}

.reply textarea {
	outline: none;
	resize: none;
	width: 98%;
	height: 80px;
}

.reply p span {
	float: left;
}

.reply input {
	width: 661px;
	height: 64px;
	background: #fff;
	float: right;
}

.reply button {
	width: 120px;
	height: 26px;
	border: 1px solid #c0d0da;
	background: url('/images/reply_btnbg.png') repeat-x;
	cursor: pointer;
	margin: 20px 5px 0 5px;
}

.reply span a {
	margin-left: 9px;
}

.reply span a:link, .reply span a:visited {
	color: blue;
	text-decoration: none;
	cursor: pointer
}

.reply span {
	text-decoration: underline;
	cursor: pointer;
	float: right;
	margin-bottom: -40px;
	width: 50px;
	height: 30px;
	margin-left: 150px;
}

/*订单管理*/
.dgl_title ul .cx span {
	color: #3f5164;
	margin-right: 12px;
	font-size: 14px;
}

.dgl_title ul .cx input {
}

.dgl_title ul .cx input.sear {
	width: 60px;
	text-align: center;
	padding-left: 0;
	color: #414E5F;
}

.dgl_title ul li {
	/*margin-bottom:20px;*/
	line-height: 40px;
}

.dgl_title ul li .yanse {
	color: #ABC762;
}

.dgl_title ul li span {
	margin-right: 26px;
	font-size: 12px;
}

.dgl_title ul li .tou {
	margin-right: 0;
}

.dgl_title ul li select {
	width: 151px;
	height: 27px;
	line-height: 27px;
	border: 1px solid #B8BFCF;
	border-radius: 3px;
	color: #ccc;
	vertical-align: middle;
	padding: 3px;
}

.content .content_Lte {
	width: 189px;
	float: left;
	height: 970px;
	border: 1px solid #d1d2d6;
	background: #EDF0F5;
}

.content .content_Lte ul li {
	height: 40px;
	line-height: 40px;
	background: #EDF0F5;
	border-bottom: 1px solid #CFD2D7;
	border-top: 1px solid #F3F7FA;
}

.content .content_Lte ul li img {
	margin-top: 10px;
	margin-left: 17px;
	float: left;
}

.content .content_Lte ul li a {
	margin-left: 10px;
	float: left;
}

.content .content_Lte ul li.row {
	background: url('/images/row.jpg') no-repeat 170px center #EDF0F5;
}

.footerte {
	width: 1000px;
	height: 45px;
	line-height: 43px;
	background: url('/images/footer_bg.jpg') repeat-x;
	float: right;
	text-align: center;

	color: #8793A1;
}

.zhjian span {
	color: #414e5f;
	margin: 25px 0 15px 0;
	width: 500px;
	display: block;
}

.dgl_bot {
	/*border: 1px solid #d0d1d3;*/
	width: 100%;
	border-collapse: collapse;
}

#content_make {
	border: 1px solid #d0d1d3;
	width: 96%;
	min-height: 140px;
}

#content_makes {
	min-height: 140px;
}

.dgl_bot .sep-row {
	height: 10px;
}

.dgl_bot .t_tr1 {
	background-color: #F0F1F5;
	height: 30px;
	text-align: center;
	color: #3f5164;
	overflow: hidden;
}

.dgl_bot_header td {
	background-color: #F0F1F5;
	height: 30px;
	color: #465153;
	line-height: 30px;
	overflow: hidden;
	border-top: 1px solid #d0d1d3;
}

.dgl_bot_header .left_sep, .dgl_bot_con .left_sep {
	background-color: transparent;
	border-right: 1px solid #d0d1d3;
	border-top: 0;
	border-bottom: 0;
}

.dgl_bot_header .right_sep, .dgl_bot_con .right_sep {
	background-color: transparent;
	border-left: 1px solid #d0d1d3;
	border-top: 0;
	border-bottom: 0;
}

.dgl_bot_con td {
	border-bottom: 1px solid #d0d1d3;
	padding: 15px 0;
}

.dgl_bot_con .left_border {
	border-left: 1px solid #d0d1d3;
}

.dgl_bot_con .com_img {
	display: inline;
	float: left;
	width: 85px;
	overflow: hidden;
	word-wrap: break-word;
}

.dgl_bot_con .com_info {
	display: inline;
	overflow: hidden;
	word-wrap: break-word;
}

.dgl_bot_con .com_name {
	min-height: 40px;
	color: #5F7292;
}

.dgl_bot_con .com_price {
	color: #FF9226;
}

.dgl_bot_con .m_talbe {
	float: left;
	width: 100%;
	background-color: #F0F1F5;
	height: 30px;
	color: #465153;
	line-height: 30px;
	overflow: hidden;
}

.dgl_bot_con .t_tr1 .one {
	float: left;
	width: 205px;
	text-align: center;
}

.dgl_bot_con .t_tr1 .two {
	float: left;
	width: 200px;
	text-align: center;
}

.dgl_bot_left {
	float: left;
	width: 510px;
	overflow: hidden;
}

.dgl_bot_cole {
	float: left;
	overflow: hidden;
	width: 510px;
	height: 123px;
}

.dgl_bot_cole .left_one .chang {
	float: left;
	width: 270px;
	margin: 20px 10px;
}

.dgl_bot_cole .left_one .huangse p {
	color: #ff9026;
}

.dgl_bot_cole .left_one ul li img {
	float: left;
	margin-right: 10px;
}

.dgl_bot_cole .left_one ul li {
	float: left;
	margin-top: 50px;
	width: 100px;
}

.dgl_bot_cole .left_one ul li p {
	float: left;
	width: 140px;
}

.dgl_bot_cole .left_one ul li p.p_new {
	text-align: center;
}

.dgl_bot_right {
	float: left;
	width: 255px;
	height: 117px;
}

.dgl_bot_right ul li {
	float: left;
	width: 84px;
	height: 123px;
	border-left: 1px solid #d1d2d6;
	text-align: center;
}

.dgl_bot_right ul li p {
	margin-top: 50px;
}

.dgl_bot_right ul li .qian {
	color: #ff9326;
}

.dgl_bot_right ul li a {
	color: #007fff;
}

.dgl_bot_right ul li select {
	color: #afb8c8;
}

.tanchu {
	width: 410px;
	height: 300px;
	position: absolute;
	top: 520px;
	left: 279px;
	border-radius: 3px;
	display: none;
}

.tanchu2 {
	width: 510px;
	height: 400px;
	position: absolute;
	top: 370px;
	left: 330px;
	border-radius: 3px;
	display: none;
}

.tanchu {
	background: url('/images/zhj.jpg') 0 repeat-x;
	border-radius: 5px;
	border: 1px solid #B2B7BA;
}

.tanchu2{
	background: url('/images/zhj.jpg') 0 repeat-x;
	border-radius: 5px;
	border: 1px solid #B2B7BA;
}

.tanchu_r {
	height: 300px;
	width: 100%;
}

.tanchu_r2 {
	height: 400px;
	width: 100%;
}

.tanchu_r p {
	width: 260px;
	height: 20px;
	font-size: 12px;
	margin: 13px 0 0 5px;
}

.tanchu_r2 p {
	width: 260px;
	height: 20px;
	font-size: 12px;
	margin: 13px 0 0 5px;
}

.tanchu_r .color {
	color: #D90000;
}

.tanchu_r2 .color {
	color: #D90000;
}

/*.tanchu_r input {
	width: 90%;
	height: 80px;
	background: #fff;
	margin-left: 10px;
}*/
.tanchu_r input {
	width: 18px;
	height: 18px;
	background: #fff;
	margin-left: 10px;
}
.tanchu_r button {
	width: 120px;
	height: 26px;
	border: 1px solid #c0d0da;
	background: #f6f8fa;
	border-radius: 3px;
	margin-top: 16px;
	cursor: pointer;
}

.tanchu_r .an1 {
	margin-left: 15px;
}

.tanchu .shut {
	height: 16px;
	float: right;
	position: absolute;
	right: 5px;
	top: 2px;
	cursor: pointer;
}

.tanchu2 .shut {
	height: 16px;
	float: right;
	position: absolute;
	right: 5px;
	top: 2px;
	cursor: pointer;
}

/*shangpingfabu*/
.spfb_t_l {
	float: left;
	overflow: hidden;
}

.spfb_t_l ul li a:link, .spfb_t_l ul li a:visited {
	text-decoration: underline;
}

.spfb_t_l ul li a:hover {
	color: #007fff;
}

.spfb_t_r {
	float: left;
	margin-left: 8px;
}

.spfb_t_l h2 {
	margin-bottom: 20px;
}

.spfb_t_l ul li {
	margin-bottom: 15px;
}

.spfb_t_l span {
	margin-left: 18px;
}

.spfb_t_l input {
	width: 450px;
	height: 27px;
	line-height: 27px;
	border: 1px solid #B8BFCF;
	border-radius: 3px;
}
.add_spfb_t_l1 input {
	width: 182px;
}
.spfb_t_l a {
	color: #2f94ff;
}

.spfb_t_l .dxin a {
	color: #415160
}

.spfb_t_l .dxin span {
	margin: 0;
}

.spfb_t_l .dxin p {
	margin-left: 90px;
}

.spfb_t_l ul .slt img {
	float: left;
}

.spfb_t_l ul .slt .tut {
	float: left;
	margin-left: 15px;
	margin-top: 15px;
}

.spfb_t_l ul .slt span {
	float: left;
	margin: 0;
	width: 420px;
}

.spfb_t_l ul .slt a {
	float: left;
	margin: 66px 0 0 10px;
}

.spfb_b1 {
	width: 97%;
	border: 1px solid #B8BFCF;
	margin-top: 10px;
}

.spfb_b1 .spfb_b1t {
	line-height: 35px;
}

.spfb_b1 .spfb_b1t span a:link, .spfb_b1 .spfb_b1t span a:visited {
	color: #007fff;
	text-decoration: underline;
}

.spfb_b1 .spfb_b1t span a:hover {
	color: #007fff;
}

.spfb_b1t {
	background: url('/images/pingpu.jpg') repeat-x;
	height: 35px;
	font-size: 12px;
	padding-left: 10px;
}

.spfb_b1t .xint {
	color: red;
	line-height: 35px;
}

.spfb_b1t .zihao {
	font-size: 14px;
}

.spfb_b1t input {
	margin-left: 145px;
}

.spfb_b1c {
	padding: 10px 0 13px 30px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.spfb_b1c img {
	margin-right: 34px;
	cursor: pointer;
}

.diwein {
	display: none;
}

.diwein a {
	width: 100px;
	float: left;
	text-align: center;
	line-height: 30px;
}

.diwein a:link, .spfb_b1c .diwein a:visited {
	color: #49494d;
	background: #fff;
	width: 100px;
	float: left;
	text-align: center;
	line-height: 30px;
}

.diwein a:hover {
	background: #edf0f5;
	color: #49494d;
}

.diwein .huise:link, .spfb_b1c .diwein.huise:visited {
	background: #edf0f5;
}

.diwein .huise {
	background: #edf0f5;
	margin-bottom: 4px;
}

.diwein .huise:hover {
	background: #fff;
}

.diwein {
	width: 100px;
	height: 65px;
	border: 1px solid #c0d0da;
	position: absolute;
	top: 33px;
	left: 180px;
	background: #fff;
	z-index: 3;
}

.butt button {
	width: 120px;
	height: 26px;
	border: 1px solid #c0d0da;
	background: url('/images/reply_btnbg.png') repeat-x;
	border-radius: 3px;
	margin: 10px 0 0 15px;
}

.butt {
	margin-left: 200px;
}

.spfb_b1 p {
	padding-top: 10px;
}

.spfb_b1tone {
	float: left;
	width: 680px;
	height: 41px;
	background: url('/images/pp.jpg') repeat-x;
}

/**/

.tjcp_top {
	float: left;
	width: 810px;
	height: 35px;
	background: url('/images/pingpu.jpg') repeat-x;
	margin: -35px 0 0 -23px;
	border-bottom: 1px solid #cfd2d9;
}

.tjcp_top span {
	float: left;
	width: 118px;
	height: 29px;
	border: 1px solid #8fa1b5;
	color: #fff;
	background: #2a4c6f;
	margin: 4px 0 0 12px;
	text-align: center;
	line-height: 29px;
}

/*yanseshezhi-new*/
.set_bot1 {
	padding: 2px 0 0 71px;
	font-size: 14px;
}

.set_bot1 h1 {
	margin-top: 20px;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
}

.set_bot1 p {
	/*margin-top: 20px;*/
	height: 30px;
	color: #333;
}

.set_bot1 p input {
	width: 153px;
	height: 24px;
	border: 1px solid #8fa1b5;
	float: left;
}

.set_bot1 p span {
	width: 59px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border: 1px solid #8fa1b5;
	margin-left: 65px;

	display: block;
	border-radius: 5px;
	float: left;
	cursor: pointer;
}

.set_bot1 ul {
	margin-top: 10px;
	float: left;
}

.set_bot1 ul li {
	float: left;
	padding-right: 22px;
	text-align: left;
	padding-top: 10px;
	min-width:  101px;
    width: auto;
	height: 40px;
	line-height: 40px;
}

.set_bot1 ul li.last {
	background: url('/images/close.jpg') no-repeat 26px 0;
}

.set_bot1 ul li a {
	width: 17px;
	height: 17px;
	display: block;
	margin-top: -2px;
}

.set_bot1 ul li a img {
	float: left;
}

.set_bot1 ul li span {
	float: left;
	display;
	block;
}

/*dingdanxiangqing*/
.dxq_title span {
	float: left;
	margin-bottom: 30px;
}

.dxq_title .on {
	background: url('/images/biao.jpg') 0 no-repeat;
	width: 125px;
	height: 34px;
	line-height: 32px;
	text-align: center;
	color: #454f58;
}

.dxq_title .xian {
	width: 64px;
	height: 3px;
	border-top: 3px solid #dde1e4;
	margin-top: 15px;
}

.dxq_title .tw {
	background: url('/images/biao2.jpg') 0 no-repeat;
	width: 125px;
	height: 34px;
	line-height: 32px;
	text-align: center;
	color: #ffffff;
}

.dxq_con {
	float: left;
	width: 100%;
	height: auto;
	border: 1px solid #d0d1e3;
	margin-bottom: 18px;
}

.dxq_con .dcon_top {
	width: 100%;
	height: 35px;
	background: #eff0f4;
}

.dxq_con .dcon_top p {
	color: #46525e;
	font-size: 14px;
	line-height: 40px;
	padding-left: 10px;
}

.dxq_con .dcon_con li {
	float: left;
	padding-left: 10px;
	margin-top: 15px;
	width: 100%;
}

.dcon_con div {
	float: left;
	width: 313px;
	height: auto;
	font-size: 12px;
	margin-top: 29px;
	margin-left: 10px;
	padding-bottom: 10px;
}

.dcon_con .sp_one img {
	float: left;
	margin-right: 10px;
}

.dcon_con .sp_one p {
	float: left;
	width: 180px;
	height: 64px;
    font-size: 12px;
    vertical-align: top;
	}
.dcon_con .sp_one a {
	float: left;
	width: 180px;
	height: 16px;
    font-size: 12px;
    vertical-align: bottom;
	}
.dcon_con .sp_one span {
	float: left;
	color: #fe9128;
	line-height: 16px;
    }

.dcon_con .sp_two {
	line-height: 27px;
	text-align: center;
	margin-left: 20px;
}

.dcon_con .sp_two p {
	text-align: left;
}

.dcon_con .sp_two p span {
	margin-right: 8px;
}

.dcon_con .sp_three {
	margin-left: 40px;
}

.dcon_con .sp_three span {
	color: #fe9128;
	font-size: 16px;
	text-align: center;
	line-height: 90px;
}

/*dingdanfenxiang*/
.content.content1 {
	margin: 20px auto;
	color: #8C94A9;
	background: #EEF3F9;
	width: 464px;
}

.content.content1 .right2 {
	width: 424px;
	margin: 0 auto;
	background: #fff;
	height: 632px;
}

.content.content1 .right2.right22 {
	height: 572px;
}

.content.content1 .right2 ul li.one {
	height: 43px;
	background: #303538;
	padding-top: 9px;
}

.content.content1 .right2 ul li.one span {
	display: block;
	float: left;
	margin-left: 10px;
}

.content.content1 .right2 ul li.one h1 {
	font-size: 14px;
	width: 322px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	float: left;
}

.content.content1 .right2 ul li.one span.one1 {
	margin-top: 7px;
}

.content.content1 .right2 ul li.two {
	height: 58px;
	padding-top: 6px;
	background: #EEEEEE;
}

.content.content1 .right2 ul li.two span {
	float: left;
	margin-left: 10px;
}

.content.content1 .right2 ul li.two p {
	height: 58px;
	line-height: 58px;
	float: left;
	margin-left: 10px;
}

.content.content1 .right2 ul li.two button {
	cursor: pointer;
	margin: 5px 10px 0 0;
	float: right;
	width: 80px;
	height: 36px;
	border: 1px solid #4F723C;
	background: url('/images/app_btnbg.jpg') repeat-x;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
}

.content.content1 .right2 ul li.three {
	padding: 21px 0 0 9px;
}

.content.content1 .right2 ul li.three li.one1 {
	height: 44px;
}

.content.content1 .right2 ul li.three li.one1 p {
	float: left;
	width: 44px;
	font-size: 14px;
}

.content.content1 .right2 ul li.three li.one1 span {
	float: left;
	margin-left: 10px;
	font-weight: bold;
}

.content.content1 .right2 ul li.three li.one2 {
	margin-top: 5px;
	margin-left: 30px;
	font-size: 14px;
	font-weight: bold;
}

.content.content1 .right2 ul li.three li.one3 {
	height: 30px;
}

.content.content1 .right2 ul li.three li.one3 span {
	display: block;
	float: left;
	margin-left: 45px;
	font-weight: bold;
	color: #B73340;

	margin-top: 10px;
}

.content.content1 .right2 ul li.three li.one4 {
	margin: 18px 0 0 59px;
}

.content.content1 .right2 ul li.four {
	height: 45px;
	background: #303538;
	padding: 14px 0 0 33px;
	margin-bottom: 28px;
}

.content.content1 .right2 ul li.four span {
	width: 66px;
	height: 45px;
	display: block;
	background: url('/images/app_pic8.jpg') no-repeat right 0;
}

.content.content1 .right2 ul li.four span.L {
	float: left;
}

.content.content1 .right2 ul li.four span.R {
	float: right;
	background: url('/images/app_pic8.jpg') no-repeat left 0;
	padding-left: 33px;
}

/*shangpinfabu*/
.floa11 {
	background: url("/images/shut_bg.png") 0 0;
	border: 1px solid #ADBAC1;
	display: none;
	height: 184px;
	left: 157px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-left: 20px;
	position: absolute;
	top: 388px;
	width: 283px;
}

.floa11 table {
	border: 0;
	float: left;
}

.floa11 .btn button {
	cursor: pointer;
	width: 120px;
	height: 28px;
	border: 1px solid #BFCFDA;
	border-radius: 3px;
	background: url('/images/button_bg.jpg') repeat-x;
	margin: 0 9px 9px 61px;
}

.floa11 .shut {
	width: 22px;
	padding: 12px 8px 0 0;
	float: right;
	position: absolute;
	left: 265px;
	top: -11px;
	cursor: pointer;
}

.floa11 ul {
	padding: 10px 0 10px 10px;
}

.floa11 ul li {
	margin-top: 10px;
}

.floa11 ul li input {
	margin-right: 8px;
}

.floa1 {
	background: url("/images/shut_bg.png") 0 0;
	border: 1px solid #ADBAC1;
	display: none;
	height: 228px;
	left: 157px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-left: 20px;
	position: absolute;
	top: 343px;
	width: 283px;
}

.floa1 table {
	border: 0;
	float: left;
}

.floa1 .btn button {
	cursor: pointer;
	width: 120px;
	height: 28px;
	border: 1px solid #BFCFDA;
	border-radius: 3px;
	background: url('/images/button_bg.jpg') repeat-x;
	margin: 0 9px 9px 61px;
}

.floa1 .shut {
	width: 22px;
	padding: 12px 8px 0 0;
	float: right;
	position: absolute;
	left: 265px;
	top: -11px;
	cursor: pointer;
}

.floa1 ul {
	padding: 10px 0 10px 10px;
}

.floa1 ul li {
	margin-top: 10px;
}

.floa1 ul li input {
	margin-right: 8px;
}

.floa2 {
	background: url("/images/shut_bg.png") 0 0;
	border: 1px solid #ADBAC1;
	display: none;
	height: 228px;
	left: 157px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-left: 20px;
	position: absolute;
	top: 123px;
	width: 284px;
}

.floa2 table {
	border: 0;
	float: left;
}

.floa2 .btn button {
	cursor: pointer;
	width: 120px;
	height: 28px;
	border: 1px solid #BFCFDA;
	border-radius: 3px;
	background: url('/images/button_bg.jpg') repeat-x;
	margin: 0 9px 9px 61px;
}

.floa2 .shut {
	width: 22px;
	padding: 12px 8px 0 0;
	float: right;
	position: absolute;
	left: 265px;
	top: -11px;
	cursor: pointer;
}

.floa2.float_new .shut {
	position: absolute;
	left: 223px;
	top: -3px;
}

.floa2.float_new {
	height: 213px;
	left: 138px;
	position: absolute;
	top: 118px;
	width: 240px;
}

.floa2.float_new.float_new2 {
	left: 537px;
	position: absolute;
	top: 63px;
}

.floa2.float_new.float_new1 {
	left: 526px;
	position: absolute;
	top: 63px;
}

.floa2 ul {
	padding: 10px 0 10px 10px;
}

.floa2 ul li {
	margin-top: 10px;
}

.floa2 ul li input {
	margin-right: 8px;
}

.spfb_b1c .img1 {
	z-index: 1;
	float: left;
	position: relative;
}

.spfb_b1c img.one {
}

.spfb_b1c img.two {
	left: 61px;
	margin-right: 0;
	top: 61px;
	z-index: 2;
	position: absolute;
}

/*tianjiashangpin  cuxiaofabu*/
.spfb_t_r {
	padding: 47px 17px 0 17px;
	background: url('/images/tele.png') no-repeat;
	float: right;
	margin-left: 8px;
	width: 273px;
	height: 475px;
	margin-right: 50px;
}

.spfb_t_r ul {
	position: relative;
	z-index: 1;
	width: 240px;
	background: #fff;
}

.spfb_t_r ul li.one {
	padding: 6px 10px 0 10px;
}

.spfb_t_r ul li.one.one1 {
	height: 33px;
	background: url('/images/bg_li.png') repeat-x 0 -15px;
	color: White;
}

.spfb_t_r ul li.one.one1 p {
	float: left;
	width: 174px;
	font-size: 12px;
	height: 33px;
}

.spfb_t_r ul li.one.one1 span {
	font-size: 12px;
	float: right;
	padding-left: 18px;
	display: block;
	height: 24px;
	/*background:url(/images/star.png) no-repeat left center;*/
}

.spfb_t_r ul li.one.one2 {
	color: #95040D;
	font-size: 18px;
}

.spfb_t_r ul li.one.one3 p span {
	margin-left: 17px;
}

.spfb_t_r ul li.one.one3 p span.fir {
	margin-left: 0;
}

.spfb_t_r ul li.one.one4 {
	height: 32px;
	line-height: 32px;
	padding-top: 0;
	border-top: 1px solid #ccc;
}

.spfb_t_r ul li.one5 {
	background: #E4E4E4;
	z-index: 2;
	height: 29px;
	position: absolute;
	bottom: 0;
	width: 240px;
	padding-top: 5px;
}

.spfb_t_r ul li.one5 span {
	display: block;
	float: left;
	width: 82px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	margin-left: 15px;
	z-index: 3;
}

.spfb_t_r ul li.one5 span.spa1 {
	 /*background:url(/images/buy.png) no-repeat 2px center #B5161A;*/
	background-color: #B5161A;
	padding: 0 15px;
}

.spfb_t_r ul li.one5 span.spa2 {
	/* background:url(/images/by.png) no-repeat 2px center  #B5161A;*/
	background-color: #B5161A;
}

.spfb_t_r ul li.one6 {
	height: 28px;
	background: #fff;
}

.content .content_R {
	padding: 47px 14px 0 14px;
	background: url('/images/tele.png') no-repeat;
	width: 242px;
	height: 600px;
}

.content .content_R ul {
	background: #fff;
}

.content .content_R ul li.thr {
	margin: 4px 7px 0 7px;
}

.content .content_R ul li p.dot {
	text-align: center;
	margin-left: 116px;
	height: 7px;
}

.content .content_R ul li p.dot img {
	height: 6px;
	display: block;
	float: left;
	margin-top: -1px;
}

.content .content_R ul li.last {
	height: 46px;
}

#myEditor {
	padding: 0;
}

.clearFloat:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearFloat {
	zoom: 1;
}


/**表单验证 begin**/
.leftImage
{
    background: url(../Images/x1.gif) no-repeat right top;
    width: 14px;
    height: 33px;
}
.rightImage
{
    background: url(../Images/x3.gif) no-repeat left top;
    width: 6px;
    height: 33px;
}
.contenImage
{
    padding-right: 10px;
    font-size: 12px;
    background: url(../Images/x2.gif) 50% top;
    text-indent: 5px;
    line-height: 36px;
    padding-top: 3px;
    font-family: Arial;
    height: 33px;
}
.tableTip
{
    display: none;
    filter: alpha(opacity=90);
    overflow: hidden;
    position: absolute;
    border-collapse: collapse;
    empty-cells: hide;
    opacity: 0.9;
}
.tooltipselecterr
{
    padding-top:0px;
    background: url(../Images/validatebox_warning.png) #FFF7E3 no-repeat right center;
    border: 1px solid #CB8D5C;
    padding: 3px 2px 2px 2px;
    height: 25px;
    line-height: 21px;
}
.tooltipinputerr
{
    background: url(../Images/validatebox_warning.png) #FFF7E3 no-repeat right center;
    border: 1px solid #CB8D5C;
	padding: 3px 2px 2px 2px;
	height: 18px;
	line-height: 12px;
}
.tooltipinputok
{
    border: 1px solid #A8A8A8;
    font: Verdana, Geneva, sans-serif,宋体;
    background-position: left top;
    padding: 3px 2px 2px 2px;
    height: 15px;
    line-height: 15px;
}

/**表单验证 end**/

/*提示标签*/
.tooltipdi{ position:absolute; right:0; top:0; float:left; z-index:99; width:auto;}
.tooltipdi span{ font:14px "微软雅黑"; color:#666; float:left; background:#FFFDCD; border:1px solid #ccc; padding:6px 12px; border-radius:5px;}
.tooltipdi span b{ display:block; position:absolute; left:-13px; top:10px; font-size:0; line-height:0; width:0; height:0; border-color:transparent; border-style:dashed; border-width:7px; border-right-color:#ccc; border-right-style:solid;}
.tooltipdi span em{ display:block; position:absolute; left:-12px; top:10px; font-size:0; line-height:0; width:0; height:0; border-color:transparent; border-style:dashed; border-width:7px; border-right-color:#FFFDCD; border-right-style:solid;}

.selfTake
 {
    position: absolute;
    z-index:111;  
    color: #fff;
    text-align: center;
    bottom:0;
    right:0;
 }
