html,body{
    max-width: 500px;
    margin: 0 auto;
    font-family:  'Microsoft YaHei';
    word-break: break-all;
    font-size: 16px;
    background-color: #f8f8f8;
}
.top20{
    margin-top:.2rem;
}
.toast-content{
    font-size: 14px!important;
}
.content{
    padding-top:2.96rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 500px;
    margin: 0 auto;
    height: 2.96rem;
    background-color: #f8f8f8;
}
.yjb-header{
    height: 1.56rem;
    width: 100%;
    background-image: url('../images/yjb-bg.png');
    background-size: 100% 100%;
}
.yjb-count{
    padding-top: .25rem;
    padding-bottom: .1rem;
    font-size: .4rem;
    color: #fff;
    text-align: center;
}
.yjb-count>span{
    padding-right:.1rem;
}
.yjb-expired-count{
    font-size: .22rem;
    color: #7f6526;
    text-align: center;
}
.yjb-expired-count>span{
    padding-left: .15rem;
}
.bar-nav{
    display: -webkit-box;
    display:-webkit-flex;
    display:flex;
    align-items: center;
    padding:0 .4rem;
    height:1.2rem;
    background-color: #fff;
    border-bottom:1px solid #e8e8e8;
    font-size: .3rem;
}
.bar-nav .name{
    -webkit-flex: 1;
    flex: 1;
    font-size: .3rem;
    color: #333;
}
.bar-nav .text{
    cursor:pointer;
}
.angle-down{
    display:inline-block;
    width: .14rem;
    height: .14rem;
    border: 1px solid #333;
    border-top:0;
    border-left:0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: .2rem;
    margin-bottom:.05rem;
}
.lists{
    list-style: none;
    padding:0;
    margin:0;
}
.lists .list{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    align-items: center;
    height: 1.2rem;
    padding: 0 .4rem;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
}
.lists .list .list-left{
    -webkit-flex: 1;
    flex:1;
    font-size: .26rem;
}
.lists .list .list-left .title{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow:ellipsis;
}
.lists .list .list-left .time{
    color: #999;
}
.lists .list .list-right{
    padding-left: .4rem;
    font-size: .3rem;
}
.yellow{
    color: #ad8a29;
}
/*modal*/
.modal-nav{
    position: fixed;
    top: 2.96rem;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 500px;
    margin:0 auto;
    background: rgb(0,0,0,.5);
}
.modal-nav .nav-list{
    float:right;
    width: 2.2rem;
    background-color: #fff;
}
.modal-nav .nav-list .item{
    width: 100%;
    height: 1.18rem;
    line-height: 1.18rem;
    text-align: center;
    font-size: .3rem;
    color: #333;
    border-bottom: 1px solid#e8e8e8;
    cursor:pointer;
}
.no-more{
    padding: .4rem 0 .2rem;
   font-size: .18rem;
    color: #999;
    text-align: center;
}