
/*µ¯´°*/
.dialog{
	border:1px solid #ACB9C1;
	min-width:100px;
	min-height:50px;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	position:absolute;
	top:200px;
	left:50%;
	background:#F9FAFB url(images/dialog.png) top repeat-x;
	z-index:11000
}
.dialog .close{
	display:block;
	width:10px;
	height:10px;
	background:url(images/ico_close2.png) no-repeat;
	text-indent:-9999px;
	position:absolute;
	top:8px;
	right:10px;
	z-index:11001;
}
.dialog .dialog-hd{
	font-size:16px;
	line-height:30px;
	padding-bottom:5px;
}				
				
/*×Ô¶¨ÒåÍ¼Æ¬*/
.pic-edit{
	width:580px;
	/*background:#f5f5f5*/
}
.pic-edit .dialog-hd{
	border-bottom:1px solid #CCD3DC
}
.custom-pic{
	width:480px;
	margin:0 auto;
}
.custom-pic-top{
	padding:10px 0 10px 0px;
	color: #5F7392;
	font-size:12px;
}
.custom-pic-top .btn-up{
	display:block;
	margin-left:-120px;
	float:left;
	display:inline;
	width:100px;
	height:30px;
	background:url(images/btn_up.png) no-repeat;
	text-indent:-9999px;
	
}
/*Í¼Æ¬±à¼­*/
.pic-edit-box{
	margin-top:10px;
	overflow:hidden;
	zoom:1
}
.pic-edit-box .pic-edit-pic{
	width:146px;
	height:260px;
	margin-left:47px;
	float:left;
}
.pic-edit-box .pic-edit-fxpic{
	width:236px;
	height:112px;
	float:left;
	margin-top:80px
}
.pic-edit-box .pic-edit-main{
	margin-left:240px;
	padding-top:15px;
}
.pic-edit-box .pic-edit-main p{
	height:28px;
	line-height:28px;
	margin-bottom:25px;
}
.pic-edit-box .pic-edit-main .label{
	display:inline-block;
	width:70px;
	text-align:right;
	padding-right:10px;
}

/*
 * imgAreaSelect animated border style
 */

.imgareaselect-border1 {
	background: url(images/border-anim-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(images/border-anim-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(images/border-anim-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(images/border-anim-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
	border: solid 1px #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-outer {
	background-color: #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-selection {
}

/*
 * imgAreaSelect style to be used with deprecated options
 */

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-border1 {
	border: solid 1px #000;
}

.imgareaselect-border2 {
	border: dashed 1px #fff;
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.imgareaselect-selection {
	background-color: #fff;
    filter: alpha(opacity=0);
	opacity: 0;
}

.btn120{
	display:inline-block;
	width:120px;
	height:28px;
	line-height:28px;
	background:url(images/btn120.png) no-repeat;
	text-align:center;
	vertical-align:middle;
	color:#5F7392;
	box-shadow:1px 1px 2px #DBDBDB
}

.btn-center{
	text-align:center;
	padding:20px 0
}
.btn-center a{
	margin:0 10px;
}

#file_upload
{
    float: left;
    margin-right: 10px;    
}