<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--http://track.iuoooo.com/-->
    <!--<add key="RestfulUrl" value="http://track.iuoooo.com/"/>-->
    <!--上线环境-->
    <!--<add key="RestfulUrl" value="http://localhost:83/"/>-->
    <!--开发环境-->
    <add key="RestfulUrl" value="http://devbtp.sv.iuoooo.com/" />
    <add key="LoginUrl" value="http://devcbc.iuoooo.com/Jinher.AMP.CBC.SV.UserSV.svc/Login" />
    <add key="UserId" value="2fc486f8-a775-49f8-91e7-05b7de72a003" />
    <add key="AppId" value="3BA8661D-CFD2-4046-A9CF-349630E7B6B7" />
   
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>