<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!--key:host+:+port(服务器+:+端口号);value:密码-->
        <add key="testcache.iuoooo.com:6371" value=""/>
        <add key="testcache.iuoooo.com:6370" value="paswfredis"/>
        <add key="testbtpcache.iuoooo.com:7000" value=""/>
        <add key="testbtpcache.iuoooo.com:7001" value=""/>
    </appSettings>
</configuration>
