@{
    Layout = "~/Views/Shared/_MobileBaseLayout.cshtml";
}
@{
    
    ViewBag.Title = "ShowRuleDescription";
}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>分销商说明</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <style>
        body
        {
            background-color: #fff;
            color: #666;
            font-family: '微软雅黑';
            font-size: 14px;
        }
        .con
        {
            border-radius: 4px;
            background-color: #fff;
            width: 96%;
            margin: 10px auto;
            padding: 15px;
            box-sizing: border-box;
            max-width: 500px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            var mess = "@ViewBag.RuleDesc";
            $(".con").append(escape2Html(decodeURIComponent(mess)));
        });

        function escape2Html(str) {
            var arrEntities = { 'lt': '<', 'gt': '>', 'nbsp': ' ', 'amp': '&', 'quot': '"' };
            return str.replace(/&(lt|gt|nbsp|amp|quot);/ig, function (all, t) { return arrEntities[t]; });
        }
    </script>
</head>
<body>
    <div class="con">
    </div>
</body>
</html>
