@{
    Layout = null;
    ViewBag.Title = "AppError";  
}
<!DOCTYPE html>

<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>抱歉</title>
    <script>
        var rootPath = "/";
        document.domain = "iuoooo.com"; 
  </script>
</head>
<body>
<div style=" margin-top:300px; text-align:center; color:#999;">
    <h2>
        抱歉，您暂时无法使用该功能，
        <br />
        若您想了解更多相关服务，请联系：010-58859197
    </h2>
    </div>
</body></html>

